<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta content="telephone=yes" name="format-detection">
		<meta content="email=yes" name="format-detection">
		<title>学创App</title>
		<link rel="stylesheet" type="text/css" href="../../../static/comm/plugins/mui/css/mui.css"/>
		<!--<link rel="stylesheet" type="text/css" href="../../../static/comm/css/comm_app.css"/>-->
		<link rel="stylesheet" type="text/css" href="../../../static/custom/familySchoolCommunication/css/mobile4WeChat.css"/>
	</head>
	<body style="background: white;">
		<div class="Container loginPage">
			<div class="login_cont">
				<div class="login_cont_tp"><img src="../../../static/custom/familySchoolCommunication/img/logo.png"/></div>
				<ol class="login_cont_ct">
					<li><input type="text" /></li>
					<li><input type="password" /><i class="icon_eyes pwdShowBtn"></i></li>
				</ol>
				<dl class="login_cont_bt">
					<dd><span><i class="icon_choice rememberPwd"></i><em>记住密码</em></span><a href="javascript:;">忘记密码</a></dd>
					<dt><a href="javascript:;">登录</a></dt>
				</dl>
			</div>
		</div>
		
		<script type="text/javascript" src="../../../static/comm/plugins/jQuery/jquery-3.0.0.js"></script>
		<script src="../../../static/custom/familySchoolCommunication/js/commMobile.js"></script>
		<script type="text/javascript">
			(function($){
				$(function(){
					//start
				    var loginFn=function(){
				    	//可视密码
				    	$(".pwdShowBtn").bind('click',function(){
					    	if ($(this).hasClass('icon_eyes')) {
					    		$(this).addClass('icon_eyes_on').removeClass('icon_eyes');
					    		$(this).parent().find('input').attr({type:'text'});
					    	}else{
					    		$(this).addClass('icon_eyes').removeClass('icon_eyes_on');
					    		$(this).parent().find('input').attr({type:'password'});
					    	}
					    });
					    
					    //记住密码
					    $(".rememberPwd").bind('click',function(){
					    	if ($(this).hasClass('icon_choice')) {
					    		$(this).addClass('icon_choice_on').removeClass('icon_choice');
					    	} else{
					    		$(this).addClass('icon_choice').removeClass('icon_choice_on');
					    	}
					    })
				    }
				    loginFn();
				    //end    
			    })
			})(jQuery);		
		</script>
	</body>
</html>
