body{ font-family:"微软雅黑"; font-size:16px; color:#333;}
a{ text-decoration: none; }
img{ width:16px; height:16px; }
.pdl0{ padding-left:0; }
.pdr0{ padding-right:0; }
.bar.bar-positive{ background: #fff; border-bottom: 1px solid #cccccc;}
.bar.bar-positive .title { font-size:18px; color:#111; height: 48px; line-height: 48px; text-align: center;}
.bar .icon-return{ background: #fff; border:none; color:#999; font-size:16px;}
.top{ background: #fff;margin: -10px;padding: 10px; padding-bottom: 0;}
.top-nav{ padding:5px 5px 0 5px; }
.top-nav li{ float:left; background: #DDDDDD; border-radius: 22px; margin-right: 15px; padding:5px 15px;}
.top-nav li.active{color: #FFFFFF; background: #42a3f5;}
.pdlf10{ padding: 0 10px;}

.searchBar{ margin-top:20px; padding-bottom: 20px; }
.subject{ width:100%; height: 40px; border: 1px solid #cccccc; border-radius: 5px; padding-left:5px;}
.subject select{ width:100%; max-width: 100%;}
.search{ height: 40px; border: 1px solid #cccccc; border-radius: 5px; background: none;}

.clear{ clear: both; }

.scroll-content{ background: #efeff4;}
.content{ margin-top: 100px;}
.content .data{ background: #fff; padding: 15px 15px 5px 15px; margin-bottom: 20px;}
.content .data p{ line-height: 24px; }
.content .data .time{ color:#999999; }
.content .data .collection a{ color:#333333;  background: #DDDDDD; border-radius: 22px; padding:5px 15px; }
.top-line{border-top: 1px solid #cccccc;}
.top-line .button.button-positive.button-outline{ border-color: #42a3f5; color: #42a3f5; border-radius: 15px;min-height: 30px; line-height: 30px;min-width: 90px;}

.subjects .item{ text-align: center; border-left:none; border-right:none;}
.subjects .bdt0{border-top: none;}
.subjects .item:last-child{border-bottom: none;}
.pd20{ padding:10px 20px; }
.subjects{ background: #fff; }
.modal{ min-height: 70%; bottom:0;top: auto;}
.modal-backdrop-bg{ background: #333;opacity: 0.3;}
.blue{ color:#42a3f5;}
