@import "http://at.alicdn.com/t/font_507800_d7lb78odn0gxecdi.css";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dd,
dl,
dt,
li,
ol,
ul,
fieldset,
form,
label,
legend {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
img {
  border: none;
}
p {
  margin-bottom: 0;
}
body,
a,
input,
select,
button {
  font-family: "Microsoft Yahei", "Droid Sans Fallback", "Arial", "Helvetica", "sans-serif", "宋体";
  font-size: 14px;
  outline: none;
  color: #666;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);/*去除获取焦点时半透明背景*/
}
ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
a {
  color: #428bca;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
table {
  text-align: center;
  vertical-align: middle;
}
th {
  text-align: center;
  vertical-align: middle;
}
.text_no_select {
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
.box-shadow-round {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.self_flex_content { /*定义父元素*/
  display: box;/*（伸缩盒最老版本）*/
  display: -webkit-box;/* iOS 6-, Safari 3.1-6 */
  display: -webkit-flex;/* Chrome */
  display: -moz-box;/* Firefox 19 */
  display: -ms-flexbox;
  display: flex;/*flex容器*/
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
}
/*去掉input默认上下箭头*/
.input_jiantou_hide input::-webkit-outer-spin-button,
.input_jiantou_hide input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.input_jiantou_hide input[type="number"] {
  -moz-appearance: textfield;
}
.input_jiantou_hide input {
  -webkit-appearance: none;
/*去除input默认样式*/ }
.input_jiantou_hide input[type="submit"],
.input_jiantou_hide input[type="reset"],
.input_jiantou_hide input[type="button"],
.input_jiantou_hide input {
  -webkit-appearance: none;
}
.input_jiantou_hide input::-ms-clear {
  display: none;
}
.select_jiantou_hide {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
}
.select_jiantou_hide::-ms-expand {
  display: none;
}
.AnimationRotate360 {
  -webkit-animation: Rotating 1s linear infinite;
  -moz-animation: Rotating 1s linear infinite;
  -ms-animation: Rotating 1s linear infinite;
  animation: Rotating 1s linear infinite;
}
@keyframes Rotating {
  from {
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
@-webkit-keyframes Rotating {
  from {
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
@-moz-keyframes Rotating {
  from {
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
@-o-keyframes Rotating {
  from {
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
@-ms-keyframes Rotating {
  from {
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
.small_hand {
  cursor: pointer;
}
/*超出隐藏另外加宽*/
.hideellipsis,
.widthHide2 {
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
}
.bg_white {
  background: white;
}
.fscolor {
  font-size: 14px;
  color: #333;
}
.Rotate_180 {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  display: inline-block;
}
/*通用样式start*/
.commw {
  margin: 0 auto;
  width: 100%;
  max-width: 2700px;
  min-width: 300px;
}
.tblr0 {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
html,
body {
  width: 100%;
  font-family: "微软雅黑";
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
}
.mouseCSS {
  width: 100%;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  overflow-x: hidden;
}
.ContainerWarp {
  width: 100%;
  height: 100%;
  position: relative;
  background: white;
} /*通用样式end*/
.ContainerWarp .header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 61px;
  z-index: 50;
  background: white;
  border-bottom: 1px solid #e1e1e1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ContainerWarp .header .content {
  height: 60px;
  margin: 0 auto;
  width: 100%;
  max-width: 2700px;
  min-width: 300px;
}
.ContainerWarp .header .content .content_lt {
  width: 50%;
  height: 60px;
  float: left;
}
.ContainerWarp .header .content .content_lt > img {
  margin: 11px 0 0 10px;
  height: 38px;
}
.ContainerWarp .header .content .content_rt {
  width: 50%;
  height: 60px;
  float: right;
}
.ContainerWarp .header .content .content_rt .userBox {
  float: right;
  width: auto;
  height: 60px;
  line-height: 60px;
  overflow: hidden;
  margin-right: 10px;
}
.ContainerWarp .header .content .content_rt .userBox > .userPhoto,
.ContainerWarp .header .content .content_rt .userBox > .userName,
.ContainerWarp .header .content .content_rt .userBox > .systemCloseBtn {
  float: left;
}
.ContainerWarp .header .content .content_rt .userBox > .userPhoto {
  width: 39px;
  height: 39px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  margin-top: 10.5px;
}
.ContainerWarp .header .content .content_rt .userBox > .userName {
  font-size: 14px;
  color: #111;
  margin-left: 8px;
}
.ContainerWarp .header .content .content_rt .userBox > .systemCloseBtn {
  display: none;
  width: 16px;
  height: 16px;
  margin-left: 12px;
  margin-top: 22px;
  display: inline-block;
  background: url('../../../comm/img/icon_kaiguan.png') 0 0 no-repeat;
  background-size: 100% 100%;
}
.ContainerWarp .mainContent {
  width: 100%;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 61px 0 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
.ContainerWarp .mainContent .contentCenter {
  margin: 0 auto;
  width: 100%;
  max-width: 2700px;
  min-width: 300px;
  padding: 8px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ContainerWarp .mainContent .contentCenter .small_nav {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 8px;
  width: 100%;
}
.ContainerWarp .mainContent .contentCenter .small_nav p {
  border-left: 3px solid #40c2fc;
  padding-left: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 8px;
  width: 100%;
  height: 26px;
  line-height: 26px;
  font-size: 16px;
}
.ContainerWarp .mainContent .contentCenter .contentBox {
  width: 100%;
  font-size: 14px;
  color: #333;
}
.ContainerWarp .footer {
  display: none;
  background: white;
  overflow: hidden;
  border-top: 1px solid #e1e1e1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #f5f6f8;
}
.ContainerWarp .footer .content {
  margin: 0 auto;
  width: 100%;
  max-width: 2700px;
  min-width: 300px;
  min-width: 800px;
  height: 100px;
  overflow: hidden;
  padding: 30px 0 30px 27%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ContainerWarp .footer .content .content_lt,
.ContainerWarp .footer .content .content_rt {
  width: auto;
  height: 60px;
  display: inline-block;
  float: left;
}
.ContainerWarp .footer .content .content_lt > img {
  height: 40px;
}
.ContainerWarp .footer .content .content_rt {
  font-size: 12px;
  color: #777;
  margin-left: 20px;
  overflow: hidden;
}
.ContainerWarp .footer .content .content_rt > li {
  line-height: 20px;
  height: 20px;
}
/*@gray:#e1e1e1;
@black1:#111;
@black3:#333;
@black6:#666;
@black7:#777;
@black9:#999;
@white:#fff;
@gray1:#f5f6f8;
@blue1:#40c2fc;

@fs18:18px;
@fs16:16px;
@fs14:14px;
@fs12:12px;
.bg_white{ background: white;}*/
.w100_bs {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*通用样式start*/
/*智能终端所有通道start*/
.smartDeviceAll .contentCenter .contentBox .modelList {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 10px;
}
.smartDeviceAll .contentCenter .contentBox .modelList .modelTitle {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
.smartDeviceAll .contentCenter .contentBox .modelList .modelTitle p {
  border-left: 3px solid #40c2fc;
  padding-left: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 26px;
  line-height: 26px;
  font-size: 16px;
}
.smartDeviceAll .contentCenter .contentBox .modelList .modelContent {
  width: 100%;
  overflow: hidden;
}
.smartDeviceAll .contentCenter .contentBox .modelList .modelContent > li {
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.smartDeviceAll .contentCenter .contentBox .modelList .modelContent > li > a {
  display: inline-block;
  border: 1px solid #e1e1e1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  color: #333;
  font-size: 14px;
  text-align: center;
}
.smartDeviceAll .contentCenter .contentBox .modelList .modelContent > li > a > p {
  width: 100%;
  height: 20px;
  line-height: 20px;
  margin-top: 10px;
}
/*智能终端所有通道end*/
/*智能终端子通道start*/
.smartDeviceList .contentCenter .contentBox .contentBox_tp {
  width: 100%;
  height: 40px;
  position: relative;
  padding: 0 80px 0 10px;
  font-size: 14px;
  color: #333;
  border: 1px solid #e1e1e1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.smartDeviceList .contentCenter .contentBox .contentBox_tp .selectList {
  width: 160px;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  color: #666;
  margin-top: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid #40c2fc;
}
.smartDeviceList .contentCenter .contentBox .contentBox_tp .selectList i {
  float: right;
  width: 7px;
  height: 4px;
  display: inline-block;
  background: url('../img/icon_zhankai.png') 0 0 no-repeat;
  background-size: 100% 100%;
  margin: 13px 5px 0 0;
}
.smartDeviceList .contentCenter .contentBox .contentBox_tp .reloadBtn {
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  width: 70px;
  height: 40px;
  line-height: 40px;
  border-left: 1px solid #e1e1e1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.smartDeviceList .contentCenter .contentBox .contentBox_tp .reloadBtn > i {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin: 12px 5px 0 10px;
  background: url('../img/icon_reload.png') 0 0 no-repeat;
  background-size: 100% 100%;
  float: left;
}
.smartDeviceList .contentCenter .contentBox .contentBox_tp .reloadBtn > b {
  font-weight: normal;
  float: left;
  font-size: 14px;
  color: #333;
}
.smartDeviceList .contentCenter .contentBox .contentBox_tp .select_ol {
  display: none;
  position: absolute;
  left: 10px;
  top: 34px;
  width: 160px;
  overflow: hidden;
  border: 1px solid #40c2fc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: white;
  padding: 0 15px;
  z-index: 100;
}
.smartDeviceList .contentCenter .contentBox .contentBox_tp .select_ol > li {
  width: 100%;
  height: 40px;
  line-height: 40px;
}
.smartDeviceList .contentCenter .contentBox .contentBox_tp .select_ol > li > a {
  font-size: 14px;
  color: #333;
}
.smartDeviceList .contentCenter .contentBox .contentBox_bt {
  border: 1px solid #e1e1e1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 0;
}
.smartDeviceList .contentCenter .contentBox .contentBox_bt .LightListsBox {
  width: 100%;
  overflow: hidden;
}
.smartDeviceList .contentCenter .contentBox .contentBox_bt .LightListsBox .LightList {
  color: #666;
  font-size: 14px;
}
.smartDeviceList .contentCenter .contentBox .contentBox_bt .TempWetnessBox {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 0;
  overflow: hidden;
}
.smartDeviceList .contentCenter .contentBox .contentBox_bt .TempWetnessBox > li {
  margin-bottom: 10px;
  overflow: hidden;
  background: white;
}
.smartDeviceList .contentCenter .contentBox .contentBox_bt .TempWetnessBox > li .echartsList {
  width: 100%;
  overflow: hidden;
}
/*智能终端子通道end*/
/*通用样式end*/
/*pc端显示start*/
@media screen and (min-width: 769px) {
  body {
    font-size: 16px;
  }
  .ContainerWarp .header .content .content_rt .userBox .systemCloseBtn {
    display: block;
  }
  .ContainerWarp .mainContent .contentCenter {
    width: 96%;
    margin: 0 auto;
  }
  .ContainerWarp .footer {
    display: block;
  }
  /*智能终端所有通道start*/
  .smartDeviceAll .contentCenter .contentBox .modelList .modelContent > li {
    width: 160px;
  }
  .smartDeviceAll .contentCenter .contentBox .modelList .modelContent > li:first-child {
    margin-left: -10px;
  }
  .smartDeviceAll .contentCenter .contentBox .modelList .modelContent > li:hover > a {
    border: 1px solid #40c2fc;
  }
  .smartDeviceAll .contentCenter .contentBox .modelList .modelContent > li > a {
    padding: 15px 0;
  }
  /*智能终端所有通道end*/
  /*智能终端子通道start*/
  /*智能终端子通道end*/
  .smartDeviceList .contentCenter .contentBox .contentBox_bt {
    padding: 10px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 180px;
  }
  .smartDeviceList .contentCenter .contentBox .contentBox_bt .LightListsBox .LightList {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #e1e1e1;
    overflow: hidden;
  }
  .smartDeviceList .contentCenter .contentBox .contentBox_bt .LightListsBox .LightList:first-child {
    font-weight: bold;
  }
  .smartDeviceList .contentCenter .contentBox .contentBox_bt .LightListsBox .LightList:first-child > dt {
    font-weight: bold;
  }
  .smartDeviceList .contentCenter .contentBox .contentBox_bt .LightListsBox .LightList:first-child > dd {
    padding: 0;
  }
  .smartDeviceList .contentCenter .contentBox .contentBox_bt .LightListsBox .LightList > dt,
  .smartDeviceList .contentCenter .contentBox .contentBox_bt .LightListsBox .LightList > dd {
    float: left;
    text-align: center;
  }
  .smartDeviceList .contentCenter .contentBox .contentBox_bt .LightListsBox .LightList > dt {
    width: 13%;
    height: 40px;
    line-height: 40px;
    font-weight: normal;
  }
  .smartDeviceList .contentCenter .contentBox .contentBox_bt .LightListsBox .LightList > dd {
    width: 29%;
    height: 40px;
    line-height: 40px;
    padding: 8px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .smartDeviceList .contentCenter .contentBox .contentBox_bt .LightListsBox .LightList > dd > i {
    width: 24px;
    height: 24px;
    display: inline-block;
    font-size: 0;
  }
  .smartDeviceList .contentCenter .contentBox .contentBox_bt .LightListsBox .LightList > dd > i.L_on {
    background: url("../img/icon_L_on.png") 0 0 no-repeat;
    background-size: 100% 100%;
  }
  .smartDeviceList .contentCenter .contentBox .contentBox_bt .LightListsBox .LightList > dd > i.L_off {
    background: url("../img/icon_L_off.png") 0 0 no-repeat;
    background-size: 100% 100%;
  }
  .smartDeviceList .contentCenter .contentBox .contentBox_bt .TempWetnessBox .sortable-ghost {
    background: #e1e1e1;
  }
  .smartDeviceList .contentCenter .contentBox .contentBox_bt .TempWetnessBox > li {
    width: 48%;
  }
  .smartDeviceList .contentCenter .contentBox .contentBox_bt .TempWetnessBox > li:nth-child(2n+1) {
    float: left;
  }
  .smartDeviceList .contentCenter .contentBox .contentBox_bt .TempWetnessBox > li:nth-child(2n+2) {
    float: right;
  }
  .smartDeviceList .contentCenter .contentBox .contentBox_bt .TempWetnessBox > li .echartsList {
    height: 300px;
  }
}
/*pc端显示end*/
/*平板端显示start*/
@media screen and (min-width: 451px) and (max-width: 768px) {
  body {
    font-size: 14px;
  }
  .ContainerWarp .header .content .content_rt .userBox .systemCloseBtn {
    display: none;
  }
  .ContainerWarp .mainContent .contentCenter .small_nav {
    padding: 0 10px;
  }
  .ContainerWarp .footer {
    display: none;
  }
  /*智能终端所有通道start*/
  .smartDeviceAll .contentCenter .contentBox .modelList .modelTitle {
    padding: 0 10px;
  }
  .smartDeviceAll .contentCenter .contentBox .modelList .modelContent > li {
    width: 33.33%;
  }
  .smartDeviceAll .contentCenter .contentBox .modelList .modelContent > li > a {
    padding: 25px 0;
  }
  /*智能终端所有通道end*/
  /*智能终端子通道start*/
  /*智能终端子通道end*/
  .smartDeviceList .contentCenter .contentBox {
    padding: 0 10px;
  }
  .smartDeviceList .contentCenter .contentBox .contentBox_bt {
    padding: 10px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 180px;
  }
  .smartDeviceList .contentCenter .contentBox .contentBox_bt .LightListsBox .LightList {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #e1e1e1;
    overflow: hidden;
  }
  .smartDeviceList .contentCenter .contentBox .contentBox_bt .LightListsBox .LightList:first-child {
    font-weight: bold;
  }
  .smartDeviceList .contentCenter .contentBox .contentBox_bt .LightListsBox .LightList:first-child > dt {
    font-weight: bold;
  }
  .smartDeviceList .contentCenter .contentBox .contentBox_bt .LightListsBox .LightList:first-child > dd {
    padding: 0;
  }
  .smartDeviceList .contentCenter .contentBox .contentBox_bt .LightListsBox .LightList > dt,
  .smartDeviceList .contentCenter .contentBox .contentBox_bt .LightListsBox .LightList > dd {
    float: left;
    text-align: center;
  }
  .smartDeviceList .contentCenter .contentBox .contentBox_bt .LightListsBox .LightList > dt {
    width: 16%;
    height: 40px;
    line-height: 40px;
    font-weight: normal;
  }
  .smartDeviceList .contentCenter .contentBox .contentBox_bt .LightListsBox .LightList > dd {
    width: 28%;
    height: 40px;
    line-height: 40px;
    padding: 8px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .smartDeviceList .contentCenter .contentBox .contentBox_bt .LightListsBox .LightList > dd > i {
    width: 24px;
    height: 24px;
    display: inline-block;
    font-size: 0;
  }
  .smartDeviceList .contentCenter .contentBox .contentBox_bt .LightListsBox .LightList > dd > i.L_on {
    background: url("../img/icon_L_on.png") 0 0 no-repeat;
    background-size: 100% 100%;
  }
  .smartDeviceList .contentCenter .contentBox .contentBox_bt .LightListsBox .LightList > dd > i.L_off {
    background: url("../img/icon_L_off.png") 0 0 no-repeat;
    background-size: 100% 100%;
  }
  .smartDeviceList .contentCenter .contentBox .contentBox_bt .TempWetnessBox > li {
    width: 100%;
  }
  .smartDeviceList .contentCenter .contentBox .contentBox_bt .TempWetnessBox > li .echartsList {
    height: 280px;
  }
}
/*平板端显示end*/
/*手机端显示start*/
@media screen and (max-width: 450px) {
  body {
    font-size: 14px;
  }
  .ContainerWarp .header .content .content_rt .userBox .systemCloseBtn {
    display: none;
  }
  .ContainerWarp .mainContent .contentCenter .small_nav {
    padding: 0 10px;
  }
  .ContainerWarp .footer {
    display: none;
  }
  /*智能终端所有通道start*/
  .smartDeviceAll .contentCenter .contentBox .modelList .modelTitle {
    padding: 0 10px;
  }
  .smartDeviceAll .contentCenter .contentBox .modelList .modelContent > li {
    width: 50%;
  }
  .smartDeviceAll .contentCenter .contentBox .modelList .modelContent > li > a {
    padding: 20px 0;
  }
  /*智能终端所有通道end*/
  /*智能终端子通道start*/
  /*智能终端子通道end*/
  .smartDeviceList .contentCenter .contentBox {
    padding: 0 10px;
  }
  .smartDeviceList .contentCenter .contentBox .contentBox_bt {
    border: 0;
  }
  .smartDeviceList .contentCenter .contentBox .contentBox_bt .LightListsBox .LightList {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    padding-top: 5px;
    border-left: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
  }
  .smartDeviceList .contentCenter .contentBox .contentBox_bt .LightListsBox .LightList:first-child {
    display: none;
  }
  .smartDeviceList .contentCenter .contentBox .contentBox_bt .LightListsBox .LightList > dt {
    font-weight: bold;
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .smartDeviceList .contentCenter .contentBox .contentBox_bt .LightListsBox .LightList > dd {
    width: 33.33%;
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #e1e1e1;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
  }
  .smartDeviceList .contentCenter .contentBox .contentBox_bt .LightListsBox .LightList > dd i {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-style: normal;
    display: inline-block;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    text-align: center;
    color: white;
  }
  .smartDeviceList .contentCenter .contentBox .contentBox_bt .LightListsBox .LightList > dd i.L_on {
    background: #f1de09;
  }
  .smartDeviceList .contentCenter .contentBox .contentBox_bt .LightListsBox .LightList > dd i.L_off {
    background: #C0C0C0;
  }
  .smartDeviceList .contentCenter .contentBox .contentBox_bt .TempWetnessBox > li {
    width: 100%;
  }
  .smartDeviceList .contentCenter .contentBox .contentBox_bt .TempWetnessBox > li .echartsList {
    height: 300px;
  }
} /*手机端显示end*/
/*# sourceMappingURL=smartDevice.css.map */
