<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta content="telephone=yes" name="format-detection">
		<meta content="email=yes" name="format-detection">
		<title>学创App</title>
		<link rel="stylesheet" type="text/css" href="../../../static/comm/plugins/mui/css/mui.css"/>
		<link rel="stylesheet" type="text/css" href="../../../static/comm/plugins/mui/css/mui.poppicker.min.css"/>
		<link rel="stylesheet" type="text/css" href="../../../static/comm/plugins/mui/css/mui.picker.min.css"/>
		<!--<link rel="stylesheet" type="text/css" href="../../../static/comm/css/comm_app.css"/>-->
		<link rel="stylesheet" type="text/css" href="../../../static/custom/familySchoolCommunication/css/mobile4App.css"/>
	</head>
	<body>
		<div class="Container searchListPage">
			<header id="header" class="mui-bar mui-bar-nav header">
				<h1 class="mui-title">学习计划</h1>
				<button class="mui-action-back mui-btn mui-btn-blue mui-btn-link mui-btn-nav mui-pull-left">
					<span class="mui-icon mui-icon-left-nav"></span>返回
				</button>
			</header>
			<dl class="search_box">
				<dt class="box_lt" id="selectChild">
					<b><img src="../../../static/custom/familySchoolCommunication/img/icon_child.png"/></b>
					<span id="childName">吴玉婷</span>
					<i></i>
				</dt>
				<dd class="mui-input-row mui-search box_rt">
					<input id="searchInput" type="search" class="mui-input-clear" placeholder="搜索">
				</dd>
			</dl>
			<div class="mainContent">
				<div class="content_lists">
					<a href="studyPlanDetails.html" class="list_a">
						<p class="list_title">六年级古诗词鉴赏</p>
						<div class="list_tag"><b>八年级</b><b>数学</b><b>12课时</b></div>
						<div class="list_info"><b class="icon_person">李老师</b><b class="icon_time">2017-07-22</b><span>已完成<em>0/12</em></span></div>
					</a>
					<a href="studyPlanDetails.html" class="list_a">
						<p class="list_title">六年级古诗词鉴赏六年级古诗词鉴赏六年级古诗词鉴赏六年级古诗词鉴赏</p>
						<div class="list_tag"><b>八年级</b><b>数学</b><b>12课时</b></div>
						<div class="list_info"><b class="icon_person">李老师</b><b class="icon_time">2017-07-22</b><span>已完成<em>0/12</em></span></div>
					</a>
					<a href="studyPlanDetails.html" class="list_a">
						<p class="list_title">六年级古诗词鉴赏</p>
						<div class="list_tag"><b>八年级</b><b>数学</b><b>12课时</b></div>
						<div class="list_info"><b class="icon_person">李老师</b><b class="icon_time">2017-07-22</b><span>已完成<em>0/12</em></span></div>
					</a>
					<a href="studyPlanDetails.html" class="list_a">
						<p class="list_title">六年级古诗词鉴赏</p>
						<div class="list_tag"><b>八年级</b><b>数学</b><b>12课时</b></div>
						<div class="list_info"><b class="icon_person">李老师</b><b class="icon_time">2017-07-22</b><span>已完成<em>0/12</em></span></div>
					</a>
					<a href="studyPlanDetails.html" class="list_a">
						<p class="list_title">六年级古诗词鉴赏</p>
						<div class="list_tag"><b>八年级</b><b>数学</b><b>12课时</b></div>
						<div class="list_info"><b class="icon_person">李老师</b><b class="icon_time">2017-07-22</b><span>已完成<em>0/12</em></span></div>
					</a>
					<a href="studyPlanDetails.html" class="list_a">
						<p class="list_title">六年级古诗词鉴赏</p>
						<div class="list_tag"><b>八年级</b><b>数学</b><b>12课时</b></div>
						<div class="list_info"><b class="icon_person">李老师</b><b class="icon_time">2017-07-22</b><span>已完成<em>0/12</em></span></div>
					</a>
					<a href="studyPlanDetails.html" class="list_a">
						<p class="list_title">六年级古诗词鉴赏</p>
						<div class="list_tag"><b>八年级</b><b>数学</b><b>12课时</b></div>
						<div class="list_info"><b class="icon_person">李老师</b><b class="icon_time">2017-07-22</b><span>已完成<em>0/12</em></span></div>
					</a>
					<a href="studyPlanDetails.html" class="list_a">
						<p class="list_title">六年级古诗词鉴赏</p>
						<div class="list_tag"><b>八年级</b><b>数学</b><b>12课时</b></div>
						<div class="list_info"><b class="icon_person">李老师</b><b class="icon_time">2017-07-22</b><span>已完成<em>0/12</em></span></div>
					</a>
				</div>
				
			</div>
			<div class="nav_bottom" id="nav_bottom"></div>
		</div>
		
		<script type="text/javascript" src="../../../static/comm/plugins/jQuery/jquery-3.0.0.js"></script>
		<script type="text/javascript" src="../../../static/comm/plugins/mui/js/mui.min.js"></script>
		<script src="../../../static/comm/plugins/mui/js/mui.poppicker.min.js"></script>
		<script src="../../../static/comm/plugins/mui/js/mui.picker.min.js"></script>
		<script src="../../../static/custom/familySchoolCommunication/js/commModelApp.js"></script>
		<script>
			(function($){
				$(function(){
					//start
					var Arrays=[{
						    value: "0",
						    text: "吴玉婷"
						}, {
						    value: "1",
						    text: "吴天浩"
						}]
					//选择孩子
			   		var pickerFn=function(Arrays){
						var picker = new mui.PopPicker();
						picker.setData(Arrays);
						//picker.pickers[0].setSelectedIndex(4, 2000);
						picker.pickers[0].setSelectedValue('fourth', 2000);
						$("#selectChild").bind('click',function(){
							picker.show(function(SelectedItem) {
								//console.log(SelectedItem[0].text);
								$("#selectChild>#childName").html(SelectedItem[0].text);
								picker.hide();
							});
						})
					}
			   		pickerFn(Arrays);
			   		
			   		//搜索
			   		function enterSearch(e) {
					    $("#searchInput").on('keypress',function(e) {  
				                var keycode = e.keyCode;  
				                var searchName = $(this).val();  
				                if(keycode=='13') {  
				                    e.preventDefault();    
				                    //请求搜索接口
				                    alert(1);
				                      
				                }  
				         });  
					}
			   		enterSearch();
				    //end    
			    })
			})(jQuery);
			
					
		</script>
	</body>
</html>
