<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta content="telephone=yes" name="format-detection">
		<meta content="email=yes" name="format-detection">
		<title>开放平台-接入流程</title>
		<!--<link rel="stylesheet" type="text/css" href="../../static/comm/css/comm.css"/>-->
		<link rel="stylesheet" type="text/css" href="../../static/custom/openSite/css/openSite.css"/>
	</head>
	<body>
		<div class="ContainerWarp">
			<div class="header" id="header"></div>
			<div class="mainContent accessProcesses">
				<div class="contentCenter">
					<div class="content_box">
						<div class="content_tp">
							<p>获取33云教育资源的流程如下图：</p>
							<ol>
								<li><span>1：注册成为开发者</span></li>
								<li><span>2：获取资源使用权限</span></li>
								<li><span>3：调用资源接口或33云资源组件</span></li>
								<li><span>4：获取33云资源</span></li>
							</ol>
						</div>
						<div class="content_bt">
							<dl>
								<dt><i>1</i><span>注册为开发者</span></dt>
								<dd>
									<p>在开放平台首页右上角点击【注册】，完成开发者账号创建，如下图所示</p>
									<img src="../../static/custom/openSite/img/shili.png" alt="图示" />
								</dd>
							</dl>
							
							<dl>
								<dt><i>2</i><span>获取资源使用权限</span></dt>
								<dd>
									<p>进入开放平台【管理中心】可以申请开通相关资源的使用权限。如下图所示</p>
									<img src="../../static/custom/openSite/img/shili.png" alt="图示" />
									<p>双方签订资源接口使用协议后，学科网会根据协议开通相关资源接口的正式使用权限。</p>
									<p>开发者注册成功后，有7天的资源及资源API的免费试用时间。试用结束后，开发者可进行购买资源及资源API的正式使用权限。 资源使用权限支持按量购买和按时间购买。</p>
									<p>按量购买：指根据开发者实际调用资源的数量及调用API的次数进行计费。收费标准请联系我们。</p>
									<p>按时间购买：指开发者可以申请按月或按年进行购买资源及API的调用。收费标准请联系我们。</p>
								</dd>
							</dl>
							
							<dl>
								<dt><i>3</i><span>调用资源接口或33云资源组件</span></dt>
								<dd>
									<p>资源接口调用方法，参见接口调用指南。</p>
								</dd>
							</dl>
							
							<dl>
								<dt><i>4</i><span>获取33云资源</span></dt>
								<dd>
									<p>完成以上步骤后，开发者便可通过接口正式获取到33云的教育资源。</p>
								</dd>
							</dl>
						</div>
					</div>
				</div>
			</div>
			<div class="footer" id="footer"></div>
		</div>
		
		<script src="../../static/comm/plugins/jQuery/jquery-3.0.0.js"></script>
		<!--<script src="../../static/comm/plugins/paging/page.js"></script>-->
		<script src="../../static/custom/openSite/js/comm.js"></script>
		
		<script type="text/javascript">
		(function($){
			$(function(){
			    //do anything
			    
		    })
		})(jQuery);
		</script>
	</body>
</html>
