<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta content="telephone=yes" name="format-detection">
		<meta content="email=yes" name="format-detection">
		<title>开放平台-联系我们</title>
		<!--<link rel="stylesheet" type="text/css" href="../../static/comm/css/comm.css"/>-->
		<link rel="stylesheet" type="text/css" href="../../static/custom/openSite/css/openSite.css"/>
	</head>
	<body>
		<div class="ContainerWarp">
			<div class="header" id="header"></div>
			<div class="mainContent contactUs">
				<div class="contentCenter">
					<div class="content_box">
						<h4 class="contTitle">联系我们：</h4>
						<ul class="info_list">
							<li>学创教育科技邮箱公司</li>
							<li>地址：武汉光谷国际广场B座20楼</li>
							<li>联系人：吴小姐</li>
							<li>电话：+86-27-87107188</li>
							<li>邮箱：celia_wu@enable-ets.com</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="footer" id="footer"></div>
		</div>
		
		<script src="../../static/comm/plugins/jQuery/jquery-3.0.0.js"></script>
		<!--<script src="../../static/comm/plugins/paging/page.js"></script>-->
		<script src="../../static/custom/openSite/js/comm.js"></script>
		
		<script type="text/javascript">
		(function($){
			$(function(){
			    //do anything
			    
		    })
		})(jQuery);
		</script>
	</body>
</html>
