<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta content="telephone=yes" name="format-detection">
		<meta content="email=yes" name="format-detection">
		<title>开放平台-首页</title>
		<!--<link rel="stylesheet" type="text/css" href="../../static/comm/css/comm.css"/>-->
		<link rel="stylesheet" type="text/css" href="../../static/custom/openSite/css/openSite.css"/>
	</head>
	<body>
		<div class="ContainerWarp">
			<div class="header" id="header"></div>
			<div class="mainContent homePage">
				<div class="contentCenter">
					<div class="content_box">
						<img src="../../static/custom/openSite/img/banner.png"/>
					</div>
				</div>
			</div>
			<div class="footer" id="footer"></div>
		</div>
		
		<script src="../../static/comm/plugins/jQuery/jquery-3.0.0.js"></script>
		<!--<script src="../../static/comm/plugins/paging/page.js"></script>-->
		<script src="../../static/custom/openSite/js/comm.js"></script>
		
		<script type="text/javascript">
		(function($){
			$(function(){
			    //do anything
			    
		    })
		})(jQuery);
		</script>
	</body>
</html>
