<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta content="telephone=yes" name="format-detection">
		<meta content="email=yes" name="format-detection">
		<title>开放平台-平台概述</title>
		<!--<link rel="stylesheet" type="text/css" href="../../static/comm/css/comm.css"/>-->
		<link rel="stylesheet" type="text/css" href="../../static/custom/openSite/css/openSite.css"/>
	</head>
	<body>
		<div class="ContainerWarp">
			<div class="header" id="header"></div>
			<div class="mainContent platformOutline">
				<div class="contentCenter">
					<div class="content_box">
						<ol id="listasideNav" class="content_lt">
							<li class="active_li"><a href="javascript:;">平台简介</a></li>
							<li><a href="javascript:;">平台公告</a></li>
						</ol>
						<!--类名.MinHeightBox定义最小高-->
						<ul id="listcontent" class="MinHeightBox content_rt">
							<li>
								<h4 class="list_title">平台简介</h4>
								<div class="list_desc">
									<p>学科网教育开放平台是指将学科网数十年积累的优质教育资源开放给广大开发者。开发者通过我们的开放接口获取到海量的K12教育资源以完善自己的教育产品建设，从而达到合作、共赢。</p>
									<p>内容上，教育资源开放平台涵盖客户亟需的试题库、备课资料库等教育资源，其容量之大、种类之多、质量之高、更新之快、体系精细、独家授权的优势得天独厚。客户可通过系统对接等简易灵活的方式在教育资源开放平台上与学科网实现数据级合作，各取所需，实现共赢。</p>
									<p>功能上，教育资源开放平台可根据客户的需要，利用平台中成熟完备的备课、组卷及在线学习模块将丰富的资源内容更高效地进行系统集成，完善客户产品。</p>
								</div>
							</li>
							<li>
								<h4 class="list_title">平台公告</h4>
								<div class="list_desc">
									<dl>
										<dt><span>2017-12-27</span><span>10:40:20</span><span>【重要通知】新增VIR-订单提醒电话字段</span></dt>
										<dd>
											<p>学科网教育开放平台是指将学科网数十年积累的优质教育资源开放给广大开发者。开发者通过我们的开放接口获取到海量的K12教育资源以完善自己的教育产品建设，从而达到合作、共赢。</p>
										</dd>
									</dl>
									<dl>
										<dt><span>2017-12-27</span><span>10:40:20</span><span>【重要通知】新增VIR-订单提醒电话字段</span></dt>
										<dd>
											<p>学科网教育开放平台是指将学科网数十年积累的优质教育资源开放给广大开发者。开发者通过我们的开放接口获取到海量的K12教育资源以完善自己的教育产品建设，从而达到合作、共赢。</p>
										</dd>
									</dl>
									<dl>
										<dt><span>2017-12-27</span><span>10:40:20</span><span>【重要通知】新增VIR-订单提醒电话字段</span></dt>
										<dd>
											<p>学科网教育开放平台是指将学科网数十年积累的优质教育资源开放给广大开发者。开发者通过我们的开放接口获取到海量的K12教育资源以完善自己的教育产品建设，从而达到合作、共赢。</p>
										</dd>
									</dl>
									<dl>
										<dt><span>2017-12-27</span><span>10:40:20</span><span>【重要通知】新增VIR-订单提醒电话字段</span></dt>
										<dd>
											<p>学科网教育开放平台是指将学科网数十年积累的优质教育资源开放给广大开发者。开发者通过我们的开放接口获取到海量的K12教育资源以完善自己的教育产品建设，从而达到合作、共赢。</p>
										</dd>
									</dl>
									<dl>
										<dt><span>2017-12-27</span><span>10:40:20</span><span>【重要通知】新增VIR-订单提醒电话字段</span></dt>
										<dd>
											<p>学科网教育开放平台是指将学科网数十年积累的优质教育资源开放给广大开发者。开发者通过我们的开放接口获取到海量的K12教育资源以完善自己的教育产品建设，从而达到合作、共赢。</p>
										</dd>
									</dl>
									<dl>
										<dt><span>2017-12-27</span><span>10:40:20</span><span>【重要通知】新增VIR-订单提醒电话字段</span></dt>
										<dd>
											<p>学科网教育开放平台是指将学科网数十年积累的优质教育资源开放给广大开发者。开发者通过我们的开放接口获取到海量的K12教育资源以完善自己的教育产品建设，从而达到合作、共赢。</p>
										</dd>
									</dl>
									<dl>
										<dt><span>2017-12-27</span><span>10:40:20</span><span>【重要通知】新增VIR-订单提醒电话字段</span></dt>
										<dd>
											<p>学科网教育开放平台是指将学科网数十年积累的优质教育资源开放给广大开发者。开发者通过我们的开放接口获取到海量的K12教育资源以完善自己的教育产品建设，从而达到合作、共赢。</p>
										</dd>
									</dl>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="footer" id="footer"></div>
		</div>
		
		<script src="../../static/comm/plugins/jQuery/jquery-3.0.0.js"></script>
		<!--<script src="../../static/comm/plugins/paging/page.js"></script>-->
		<script src="../../static/custom/openSite/js/comm.js"></script>
		
		<script type="text/javascript">
		(function($){
			$(function(){
			    //do anything
			    //平台简介公告内容切换
			    var switchFn=function(){
			    	$("#listasideNav li").each(function(){
			    		$(this).bind('click',function(){
			    			if (!$(this).hasClass('active_li')) {
				    			var $index=$(this).index();
				    			$(this).addClass('active_li').siblings().removeClass('active_li');
				    			$("#listcontent li").eq($index).show();
				    			$("#listcontent li").eq($index).siblings().hide();
				    		}
			    		})
			    	})
			    }
			    switchFn();
		    })
		})(jQuery);
		</script>
	</body>
</html>
