<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-6723188equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta content="telephone=yes" name="format-detection">
		<meta content="email=yes" name="format-detection">
		<title>模板demo</title>
		<!--<link rel="stylesheet" type="text/css" href="../../../static/comm/plugins/weui/weui.min.css"/>-->
		<!--<link rel="stylesheet" type="text/css" href="../../../static/comm/css/comm_wx.css"/>-->
		<link rel="stylesheet" type="text/css" href="../../../static/custom/familySchoolCommunication/css/mobile4WeChat.css"/>
	</head>
	<body>
		<div class="container coursesDetailsVideo">
			<!--<div class="header" id="header"></div>-->
			<div class="mainContent mainContent3">
				<div class="content">
					<video controls>
					    <source src="../../../static/custom/familySchoolCommunication/video/123456.mp4" type="video/mp4">
					    <source src="movie.ogg" type="video/ogg">
					</video>
					<p class="video_title">三元一次方程组概念第二节</p>
				</div>
			</div>
			<!--<div class="footer" id="footer"></div>-->
		</div>
		
		<script src="../../../static/comm/plugins/jQuery/jquery-3.0.0.js"></script>
		<!--<script src="../../../static/comm/plugins/weui/weui.min.js"></script>-->
		<script type="text/javascript">
			(function($){
				$(function(){
					//start
				    
				    //end    
			    })
			})(jQuery);		
		</script>
		
	</body>
</html>
