<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-6723188equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta content="telephone=yes" name="format-detection">
		<meta content="email=yes" name="format-detection">
		<title>模板demo</title>
		<link rel="stylesheet" type="text/css" href="../../../static/comm/plugins/weui/weui.min.css"/>
		<!--<link rel="stylesheet" type="text/css" href="../../../static/comm/css/comm_wx.css"/>-->
		<link rel="stylesheet" type="text/css" href="../../../static/custom/familySchoolCommunication/css/mobile4WeChat.css"/>
	</head>
	<body>
		<div class="container coursesDetails">
			<!--<div class="header" id="header"></div>-->
			<div class="mainContent mainContent3">
				<div class="content">
					<div class="content_tp">
						<h2>三元一次方程组概念</h2>
						<p>三元一次方程组概念三元一次方程组概念三元一次方程组概念三元一次方程组概念三元一次方程组概念三元一次方程组概念</p>
					</div>
					<div class="content_bt">
						<div class="content_model">
							<h5>附件</h5>
							<div class="weui-cells">
					            <a class="weui-cell weui-cell_access" href="coursesDetailsVideo.html">
					                <div class="weui-cell__hd"><img src="../../../static/custom/familySchoolCommunication/img/icon_shijuan.png"></div>
					                <div class="weui-cell__bd">
					                    <p>三元一次方程组概念第一节三元一次方程组概念第一节三元一次方程组概念第一节</p>
					                </div>
					                <div class="weui-cell__ft"></div>
					            </a>
					            <a class="weui-cell weui-cell_access" href="coursesDetailsVideo.html">
					                <div class="weui-cell__hd"><img src="../../../static/custom/familySchoolCommunication/img/icon_video.png"></div>
					                <div class="weui-cell__bd">
					                    <p>三元一次方程组概念第二节</p>
					                </div>
					                <div class="weui-cell__ft"></div>
					            </a>
					        </div>
						</div>
					</div>
				</div>
			</div>
			<!--<div class="footer" id="footer"></div>-->
		</div>
		
		<script src="../../../static/comm/plugins/jQuery/jquery-3.0.0.js"></script>
		<script src="../../../static/comm/plugins/weui/weui.min.js"></script>
		<script type="text/javascript">
			(function($){
				$(function(){
					//start
				    
				    //end    
			    })
			})(jQuery);		
		</script>
		
	</body>
</html>
