<div class="Asidecontent">
	<div class="Aside_show_btn">
		<p class="AsideBtn_tp"><img class="AsideShowBtnImg" src="../../../static/comm/img/sidebar_icon/caidan.png"/></p>
		<p class="AsideBtn_bt"></p>
	</div>
	
	<ul class="Aside_list">
		<li class="Aside_list_li">
			<a class="list_parent" href="javascript:;">
				<div class="list_icon">
					<!--<span class="bg_1"></span>-->
					<img src="../../../static/comm/img/sidebar_icon/source_icon1.png" alt="" />
				</div>
				<div class="list_name_right">
					<span>我的首页</span>
				    <div class="triangle"></div>
				</div>
			</a>
			<div class="Aside_list_child">
				<dl>
					<dd><a href="javascript:;">我的首页子页</a></dd>
					<dd><a href="javascript:;">我的首页1</a></dd>
				</dl>
			</div>
		</li>
		
		<li class="Aside_list_li">
			<a class="list_parent" href="javascript:;">
				<div class="list_icon">
					<!--<span class="bg_2"></span>-->
					<img src="../../../static/comm/img/sidebar_icon/source_icon2.png" alt="" />
				</div>
				<div class="list_name_right">
					<span>我的资源管理</span>
				    <div class="triangle"></div>
				</div>
			</a>
			<div class="Aside_list_child">
				<dl>
					<dd><a href="javascript:;">我的首页子页</a></dd>
					<dd><a href="javascript:;">我的首页1</a></dd>
				</dl>
			</div>
		</li>
		
		<li class="Aside_list_li">
			<a class="list_parent" href="javascript:;">
				<div class="list_icon">
					<!--<span class="bg_3"></span>-->
					<img src="../../../static/comm/img/sidebar_icon/source_icon3.png" alt="" />
				</div>
				<div class="list_name_right">
					<span>资源分享</span>
				    <div class="triangle"></div>
				</div>
			</a>
			<div class="Aside_list_child">
				<dl>
					<dd><a href="javascript:;">我的首页子页</a></dd>
					<dd><a href="javascript:;">我的首页1</a></dd>
				</dl>
			</div>
		</li>
		
		<li class="Aside_list_li">
			<a class="list_parent" href="javascript:;">
				<div class="list_icon">
					<!--<span class="bg_4"></span>-->
					<img src="../../../static/comm/img/sidebar_icon/source_icon4.png" alt="" />
				</div>
				<div class="list_name_right">
					<span>资源审批</span>
				    <div class="triangle"></div>
				</div>
			</a>
			<div class="Aside_list_child">
				<dl>
					<dd><a href="javascript:;">我的首页子页</a></dd>
					<dd><a href="javascript:;">我的首页1</a></dd>
				</dl>
			</div>
		</li>
		
		
	</ul>
	
</div>

							