<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta content="telephone=yes" name="format-detection">
		<meta content="email=yes" name="format-detection">
		<title>模板demo</title>
		<!--<link rel="stylesheet" type="text/css" href="../../static/comm/css/comm.css"/>-->
		<link rel="stylesheet" type="text/css" href="../../static/custom/resource/css/mobileMyCourses.css"/>
	</head>
	<body>
		<div class="container coursesSearch">
			<!--<div class="header" id="header">
				<div class="headerContent">
					<div class="headerContent_tp">我是头部</div>
				</div>
			</div>-->
			<div class="mainContent">
				<div class="search_box">
					<i class="iconfont icon-sousuo"></i>
					<input type="search" name="" id="" value="" />
					<span>取消</span>
				</div>
			</div>
			<!--<div class="footer" id="footer"></div>-->
		</div>
		
		<script src="../../static/comm/plugins/jQuery/jquery-3.0.0.js"></script>
		<script src="../../static/comm/js/mobileComm.js"></script>
		<script type="text/javascript">
			(function($){
				$(function(){
					//start
				    
				    //end    
			    })
			})(jQuery);		
		</script>
		
	</body>
</html>
