<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta content="telephone=yes" name="format-detection">
		<meta content="email=yes" name="format-detection">
		<title>模板demo</title>
		<link rel="stylesheet" type="text/css" href="../../static/custom/projectManage/css/projectManage.css"/>
	</head>
	<body>
		<div class="ContainerWarp">
			<!--头部start-->
			<div class="header" id="header"></div>
			<!--头部end-->
			
			<!--主体部分start-->
			<div class="ConMain">
				<div class="MainAuto">
					<div class="MainBox">
						<!--侧边菜单栏start-->
						<div class="AsideMenu" id="AsideMenu"></div>
						<!--侧边菜单栏end-->
						
						<!--主体部分中间内容区start-->
						<div class="MainContent">
							<div class="ContentBox projectShow">
								<div class="contentNav">
									<span class="span_1"></span>
									<span class="span_text">项目管理</span>
									<span class="span_2"></span>
									<span class="span_text">项目展示</span>
								</div>
								<div class="contentCenter">
									<div class="search_area">
										<ul class="search_criteria">
											<li><label>名称</label><div class="_li_rt"><div class="list_cont"><input type="text" /></div></div></li>
											<li><label>创建时间</label><div class="_li_rt"><div class="list_cont"><input type="text" /></div></div></li>
											<li><label>创建者</label><div class="_li_rt"><div class="list_cont"><input type="text" /></div></div></li>
											<li>
												<label>状态</label>
												<div class="_li_rt">
													<div class="list_cont bg_afterBox">
														<select class="small_select">
															<option value="">发布</option>
															<option value="">下架</option>
														</select>
													</div>
												</div>
											</li>
										</ul>
										<div class="button_box">
											<button class="bg_color" type="button">搜索</button>
											<a href="./projectAmend.html">新建</a>
										</div>
									</div>
									<div class="contentCenter_bt">
										<table class="CommonShowTable">
											<tr>
												<th>名称</th><th>创建时间</th>
												<th>创建者</th><th>状态</th>
												<th class="FixedWidth3">操作</th>
											</tr>
											<tr>
												<td>project-1-1</td><td>2017-01-04</td>
												<td>超级管理员</td><td>发布</td>
												<td><i title="发布" class="icon_fabu"></i><i title="修改" class="icon_xiugai"></i></td>
											</tr>
											<tr>
												<td>project-1-1</td><td>2017-01-04</td>
												<td>超级管理员</td><td>发布</td>
												<td><i title="发布" class="icon_fabu"></i><i title="修改" class="icon_xiugai"></i></td>
											</tr>
											<tr>
												<td>project-1-1</td><td>2017-01-04</td>
												<td>超级管理员</td><td>发布</td>
												<td><i title="发布" class="icon_fabu"></i><i title="修改" class="icon_xiugai"></i></td>
											</tr>
										</table>
										<!--分页-->
										<div class="page_box">
											<div class="page_box_tips">共<b>100</b>条记录,当前是第<span class="pageNum">1</span>页,每页10条</div>
											<ul class="pageOne" maxshowpageitem="5" pagelistcount="10"  id="pageOne"></ul>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--主体部分中间内容区end-->
						
					</div>
					<!--底部start-->
					<div class="footer" id="footer"></div>
					<!--底部end-->
					
				</div>
			</div>
			<!--主体部分end-->
		</div>
        
        <script src="../../static/comm/plugins/jQuery/jquery-3.0.0.js"></script>
        <script src="../../static/comm/plugins/paging/page.js"></script>
        <script src="../../static/comm/js/modelCommon.js"></script>
        <script src="../../static/custom/projectManage/js/projectManage.js"></script>
        <script>        
		(function($){
			$(function(){
			    //do anything
			    //分页
				var paging = {
			        "pageData":function(pageNum){
			            console.log(pageNum)
			            //$(".pageNum").html(pageNum);
			            //所执行的函数
			        }
			    }
			    $("#pageOne").initPage(100,1,paging.pageData);//1、所有数据条数（自动每页十条）2、初次加载显示的页数 3、所执行函数    
		    })
		})(jQuery);		
		</script>
	</body>
</html>
