<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta content="telephone=yes" name="format-detection">
		<meta content="email=yes" name="format-detection">
		<title>学创App</title>
		<link rel="stylesheet" type="text/css" href="../../../static/comm/plugins/mui/css/mui.css"/>
		<!--<link rel="stylesheet" type="text/css" href="../../../static/comm/css/comm_app.css"/>-->
		<link rel="stylesheet" type="text/css" href="../../../static/custom/familySchoolCommunication/css/mobile4App.css"/>
	</head>
	<body>
		<div class="Container infoShowPage">
			<header id="header" class="mui-bar mui-bar-nav header">
				<h1 class="mui-title">我的孩子</h1>
				<button class="mui-action-back mui-btn mui-btn-blue mui-btn-link mui-btn-nav mui-pull-left">
					<span class="mui-icon mui-icon-left-nav"></span>返回
				</button>
			</header>
			<div class="mainContent">
				<dl class="child_info">
					<dt><img src="../../../static/custom/familySchoolCommunication/img/touxaing.jpg"></dt>
					<dd><span>吴玉婷</span></dd>
				</dl>
				<ul class="info_show1">
					<li><a href="javascript:;">性别<span class="list_rt">女</span></a></li>
					<li><a href="javascript:;">邮箱<span class="list_rt">2214154587@qq.com</span></a></li>
					<li><a href="javascript:;">电话号码<span class="list_rt">15527196548</span></a></li>
					<li><a href="javascript:;">身份证<span class="list_rt">420200103******</span></a></li>
				</ul>
				<ul class="info_show1">
					<li><a href="javascript:;">学年学期<span class="list_rt">上学期</span></a></li>
					<li><a href="javascript:;">年级班级<span class="list_rt">八年级（1）班</span></a></li>
					<li><a href="javascript:;">学号<span class="list_rt">201781008</span></a></li>
					<li><a href="javascript:;">注册时间<span class="list_rt">2017-09-01</span></a></li>
				</ul>
			</div>
			<div class="nav_bottom" id="nav_bottom"></div>
		</div>
		
		<script type="text/javascript" src="../../../static/comm/plugins/jQuery/jquery-3.0.0.js"></script>
		<script type="text/javascript" src="../../../static/comm/plugins/mui/js/mui.min.js"></script>
		<script src="../../../static/custom/familySchoolCommunication/js/commModelApp.js"></script>
	</body>
</html>

