<div class="Asidecontent">
	<div class="Aside_show_btn">
		<p class="AsideBtn_tp"><img class="AsideShowBtnImg" src="../../../static/comm/img/sidebar_icon/caidan.png"/></p>
		<p class="AsideBtn_bt"></p>
	</div>
	
	<ul class="Aside_list">
		<li class="Aside_list_li">
			<a class="list_parent" href="../classhours/classhoursGrade.html">
				<div class="list_icon">
					<!--<span class="bg_1"></span>-->
					<img src="../../../static/comm/img/sidebar_icon/source_icon6.png" alt="" />
				</div>
				<div class="list_name_right">
					<span>课时分析</span>
				    <div class="triangle"></div>
				</div>
			</a>
			<div class="Aside_list_child">
				<dl>
					<dd><a href='../classhours/classhoursGrade.html'>年级报表</a></dd>
					<dd><a href="../classhours/classhoursClass.html">班级报表</a></dd>
					<dd><a href="../classhours/classhoursTeacher.html">教师报表</a></dd>
				</dl>
			</div>
		</li>
		<li class="Aside_list_li">
			<a class="list_parent" href="javascript:;">
				<div class="list_icon">
					<!--<span class="bg_1"></span>-->
					<img src="../../../static/comm/img/sidebar_icon/source_icon7.png" alt="" />
				</div>
				<div class="list_name_right">
					<span>成绩分析</span>
				    <div class="triangle"></div>
				</div>
			</a>
			<div class="Aside_list_child">
				<dl>
					<dd><a href='../scoreAnalyse/TotalTestTable.html'>考试报表</a></dd>
					<dd><a href="../scoreAnalyse/classStatement.html">班级报表</a></dd>
					<dd><a href="../scoreAnalyse/PersonStatements.html">学生报表</a></dd>
				</dl>
			</div>
		</li>
		

		
	</ul>
	
</div>


							