<div class="header_cont">
	<div class="header_lt">
		<img src="../../../static/comm/img/logo.png"/>
	</div>
	<div class="header_ct">
		<ol class="header_nav">
			<li><a href="./index.html">首页</a></li>
			<li><a href="./platformOutline.html">平台概述</a></li>
			<li><a href="./accessProcesses.html">接入流程</a></li>
			<li><a href="./accessCriterion.html">接入规范</a></li>
			<li><a href="./commonProblems.html">常见问题</a></li>
			<li><a href="./contactUs.html">联系我们</a></li>
		</ol>
	</div>
	<div class="header_rt">
		<a href="./login.html">登录</a>
		<a href="./register.html">注册</a>
	</div>
</div>