<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta content="telephone=yes" name="format-detection">
		<meta content="email=yes" name="format-detection">
		<title>模板demo</title>
		<link rel="stylesheet" type="text/css" href="../../static/custom/resource/css/myCourses.css"/>
	</head>
	<body>
		<div class="ContainerWarp">
			<!--头部start-->
			<div class="header" id="header"></div>
			<!--头部end-->
			
			<!--临时引用-->
			<div class="SourceAmendDialog">
				<iframe src="dailogPage/sourceAmendDialog.html" class="Dialog" id="Dialog"></iframe>
			</div>
			
			<!--主体部分start-->
			<div class="ConMain">
				<div class="MainAuto">
					<div class="MainBox">
						<!--侧边菜单栏start-->
						<div class="AsideMenu" id="AsideMenu"></div>
						<!--侧边菜单栏end-->
						
						<!--主体部分中间内容区start-->
						<div class="MainContent">
							<div class="ContentBox coursesTeachingPackageList">
								<div class="contentNav">
									<span class="span_1"></span>
									<span class="span_text">我的课程</span>
									<span class="span_2"></span>
									<span class="span_text">教学包管理</span>
								</div>
								<div class="contentCenter">
									<div class="search_box">
										<!--<span>关键词</span>-->
										<a class="search_cont" href="javascript:;"><input type="search" placeholder="请输入关键词" id="" /></a>
										<button type="button">搜索</button>
										<a class="addNewList" href="javascript:;">新增</a>
									</div>
									
									<div class="Common_table">
										<!--<button class="addNewList" type="button"><a href="javascript:;">新增</a></button>-->
										<div class="">
											<table class="CommonShowTable">
												<tr class="table_nav">
													<th>名称</th>
													<th>描述</th>
													<th class="FixedWidth3">发布者</th>
													<th class="FixedWidth3">创建时间</th>
													<th class="FixedWidth3">操作</th>
												</tr>
												
												<tr>
													<td>转码服务-------------000000001110000000011100000000111</td>
													<td>video-0001video-0001video-0001video-0001video-0001video-0001video-0001</td>
													<td class="FixedWidth3">superadmin</td>
													<td class="FixedWidth3">2017-07-28</td>
													<td class="hand_box FixedWidth3">
														<span class="modificationBtn"></span><span class="RemoveBtn"></span><span class="issueBtn"></span>
														<div class="issue_file">
															<em class="sanjiao_img"><b></b></em>
															<a href="javascript:;">平台资源</a>
															<a href="javascript:;">校本资源</a>
														</div>
													</td>
												</tr>
												
												<tr>
													<td>转码服务-------------000000001110000000011100000000111</td>
													<td>video-0001video-0001video-0001video-0001video-0001video-0001video-0001</td>
													<td class="FixedWidth3">superadmin</td>
													<td class="FixedWidth3">2017-07-28</td>
													<td class="hand_box FixedWidth3">
														<span class="modificationBtn"></span><span class="RemoveBtn"></span><span class="issueBtn"></span>
														<div class="issue_file">
															<em class="sanjiao_img"><b></b></em>
															<a href="javascript:;">平台资源</a>
															<a href="javascript:;">校本资源</a>
														</div>
													</td>
												</tr>
												<tr>
													<td>转码服务-------------000000001110000000011100000000111</td>
													<td>video-0001video-0001video-0001video-0001video-0001video-0001video-0001</td>
													<td class="FixedWidth3">superadmin</td>
													<td class="FixedWidth3">2017-07-28</td>
													<td class="hand_box FixedWidth3">
														<span class="modificationBtn"></span><span class="RemoveBtn"></span><span class="issueBtn"></span>
														<div class="issue_file">
															<em class="sanjiao_img"><b></b></em>
															<a href="javascript:;">平台资源</a>
															<a href="javascript:;">校本资源</a>
														</div>
													</td>
												</tr>
												<tr>
													<td>转码服务-------------000000001110000000011100000000111</td>
													<td>video-0001video-0001video-0001video-0001video-0001video-0001video-0001</td>
													<td class="FixedWidth3">superadmin</td>
													<td class="FixedWidth3">2017-07-28</td>
													<td class="hand_box FixedWidth3">
														<span class="modificationBtn"></span><span class="RemoveBtn"></span><span class="issueBtn"></span>
														<div class="issue_file">
															<em class="sanjiao_img"><b></b></em>
															<a href="javascript:;">平台资源</a>
															<a href="javascript:;">校本资源</a>
														</div>
													</td>
												</tr>
												<tr>
													<td>转码服务-------------000000001110000000011100000000111</td>
													<td>video-0001video-0001video-0001video-0001video-0001video-0001video-0001</td>
													<td class="FixedWidth3">superadmin</td>
													<td class="FixedWidth3">2017-07-28</td>
													<td class="hand_box FixedWidth3">
														<span class="modificationBtn"></span><span class="RemoveBtn"></span><span class="issueBtn"></span>
														<div class="issue_file">
															<em class="sanjiao_img"><b></b></em>
															<a href="javascript:;">平台资源</a>
															<a href="javascript:;">校本资源</a>
														</div>
													</td>
												</tr>
												<tr>
													<td>转码服务-------------000000001110000000011100000000111</td>
													<td>video-0001video-0001video-0001video-0001video-0001video-0001video-0001</td>
													<td class="FixedWidth3">superadmin</td>
													<td class="FixedWidth3">2017-07-28</td>
													<td class="hand_box FixedWidth3">
														<span class="modificationBtn"></span><span class="RemoveBtn"></span><span class="issueBtn"></span>
														<div class="issue_file">
															<em class="sanjiao_img"><b></b></em>
															<a href="javascript:;">平台资源</a>
															<a href="javascript:;">校本资源</a>
														</div>
													</td>
												</tr>
												<tr>
													<td>转码服务-------------000000001110000000011100000000111</td>
													<td>video-0001video-0001video-0001video-0001video-0001video-0001video-0001</td>
													<td class="FixedWidth3">superadmin</td>
													<td class="FixedWidth3">2017-07-28</td>
													<td class="hand_box FixedWidth3">
														<span class="modificationBtn"></span><span class="RemoveBtn"></span><span class="issueBtn"></span>
														<div class="issue_file">
															<em class="sanjiao_img"><b></b></em>
															<a href="javascript:;">平台资源</a>
															<a href="javascript:;">校本资源</a>
														</div>
													</td>
												</tr>
												<tr>
													<td>转码服务-------------000000001110000000011100000000111</td>
													<td>video-0001video-0001video-0001video-0001video-0001video-0001video-0001</td>
													<td class="FixedWidth3">superadmin</td>
													<td class="FixedWidth3">2017-07-28</td>
													<td class="hand_box FixedWidth3">
														<span class="modificationBtn"></span><span class="RemoveBtn"></span><span class="issueBtn"></span>
														<div class="issue_file">
															<em class="sanjiao_img"><b></b></em>
															<a href="javascript:;">平台资源</a>
															<a href="javascript:;">校本资源</a>
														</div>
													</td>
												</tr>
												<tr>
													<td>转码服务-------------000000001110000000011100000000111</td>
													<td>video-0001video-0001video-0001video-0001video-0001video-0001video-0001</td>
													<td class="FixedWidth3">superadmin</td>
													<td class="FixedWidth3">2017-07-28</td>
													<td class="hand_box FixedWidth3">
														<span class="modificationBtn"></span><span class="RemoveBtn"></span><span class="issueBtn"></span>
														<div class="issue_file">
															<em class="sanjiao_img"><b></b></em>
															<a href="javascript:;">平台资源</a>
															<a href="javascript:;">校本资源</a>
														</div>
													</td>
												</tr>
												
												
												
											</table>
										    <!--分页-->
											<div class="page_box">
												<!--<div class="page_box_tips">共<b>100</b>条记录,当前是第<span class="pageNum">1</span>页,每页10条</div>-->
												<ul class="pageOne" maxshowpageitem="5" pagelistcount="10"  id="pageOne"></ul>
											</div>
										</div>
									</div>
								    
								</div>
				
							</div>
						</div>
						<!--主体部分中间内容区end-->
						
					</div>
					<!--底部start-->
					<div class="footer" id="footer"></div>
					<!--底部end-->
					
				</div>
			</div>
			<!--主体部分end-->
		</div>
        
        <script src="../../static/comm/plugins/jQuery/jquery-3.0.0.js"></script>
       	<script src="../../static/comm/plugins/paging/page.js"></script>
        <script src="../../static/comm/js/modelCommon.js"></script>
        <script src="../../static/custom/resource/js/myCoursesCommom.js"></script>
        <script>        
		(function($){
			$(function(){
			    //do anything
			    var paging = {
			        "pageData":function(pageNum){
			            console.log(pageNum)
			            //$(".pageNum").html(pageNum);
			            //所执行的函数
			        }
			    }
			    $("#pageOne").initPage(100,1,paging.pageData);//1、所有数据条数（自动每页十条）2、初次加载显示的页数 3、所执行函数
			        
			    //表格操作的所有功能
			    var table_fn=function(){
			    	//发布按钮的功能
				    $(".issueBtn").each(function(){
				    	$(this).mouseenter(function(){
					    	$(this).parent().find('.issue_file').show();
					    }).mouseleave(function(){
					    	$(this).parent().find('.issue_file').hide();
					    });
				    })
				    
				    $(".issue_file").each(function(){
				    	$(this).mouseenter(function(){
					    	$(this).show();
					    }).mouseleave(function(){
					    	$(this).hide();
					    });
				    });
			    }
			    table_fn();
			    
			    //要删除的代码
			    $(".addNewList").click(function(){
			    	$(".SourceAmendDialog").show();
			    })
			        
		    })
		})(jQuery);		
		</script>
	</body>
</html>
