<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta content="telephone=yes" name="format-detection">
		<meta content="email=yes" name="format-detection">
		<title>模板demo</title>
		<link rel="stylesheet" type="text/css" href="../../static/custom/resource/css/myCourses.css"/>
	</head>
	<body>
		<div class="ContainerWarp">
			<!--头部start-->
			<div class="header" id="header"></div>
			<!--头部end-->
			
			<!--主体部分start-->
			<div class="ConMain">
				<div class="MainAuto">
					<div class="MainBox">
						<!--侧边菜单栏start-->
						<div class="AsideMenu" id="AsideMenu"></div>
						<!--侧边菜单栏end-->
						
						<!--主体部分中间内容区start-->
						<div class="MainContent">
							<div class="ContentBox coursesPreview">
								<div class="contentNav">
									<span class="span_1"></span>
									<span class="span_text">我的课程</span>
									<span class="span_2"></span>
									<span class="span_text">课程预览</span>
								</div>
								<div class="contentCenter">
									<dl class="contentCenter_tp"></dl>
									<div class="contentCenter_main">
										<table class="CommonShowTable">
											<tr>
												<th>目录</th><th>课件</th>
												<th>教案</th><th>试卷试题</th>
												<th>学案/导学案</th><th>视频</th>
												<th>教学包</th><th>APP</th>
												<th>其他</th>
											</tr>
											<tr>
												<td>美术基础色彩第一节美术基础色彩第一节美术基础色彩第一节</td>
												<td><a href="javascript:;">下载</a>&ensp;<a href="javascript:;">下载</a></td><td><a class="text_xiazai icon_xiazai" href="javascript:;"></td>
												<td><a class="text_xiazai icon_xiazai" href="javascript:;"></td><td></td>
												<td></td><td></td>
												<td></td><td></td>
											</tr>
											<tr>
												<td>美术基础色彩第一节</td>
												<td><a class="text_xiazai icon_xiazai" href="javascript:;"></a></td><td><a class="text_xiazai icon_xiazai" href="javascript:;"></td>
												<td><a class="text_xiazai icon_xiazai" href="javascript:;"></td><td></td>
												<td></td><td></td>
												<td></td><td></td>
											</tr>
											<tr>
												<td>美术基础色彩第一节</td>
												<td><a class="text_xiazai icon_xiazai" href="javascript:;"></a></td><td><a class="text_xiazai icon_xiazai" href="javascript:;"></td>
												<td><a class="text_xiazai icon_xiazai" href="javascript:;"></td><td></td>
												<td></td><td></td>
												<td></td><td></td>
											</tr>
											<tr>
												<td>美术基础色彩第一节</td>
												<td><a class="text_xiazai icon_xiazai" href="javascript:;"></a></td><td><a class="text_xiazai icon_xiazai" href="javascript:;"></td>
												<td><a class="text_xiazai icon_xiazai" href="javascript:;"></td><td></td>
												<td></td><td></td>
												<td></td><td></td>
											</tr>
											<tr>
												<td>美术基础色彩第一节</td>
												<td><a class="text_xiazai icon_xiazai" href="javascript:;"></a></td><td><a class="text_xiazai icon_xiazai" href="javascript:;"></td>
												<td><a class="text_xiazai icon_xiazai" href="javascript:;"></td><td></td>
												<td></td><td></td>
												<td></td><td></td>
											</tr>
											
										</table>
										
									</div>	
								</div>
				
							</div>
						</div>
						<!--主体部分中间内容区end-->
						
					</div>
					<!--底部start-->
					<div class="footer" id="footer"></div>
					<!--底部end-->
					
				</div>
			</div>
			<!--主体部分end-->
		</div>
        
        <script src="../../static/comm/plugins/jQuery/jquery-3.0.0.js"></script>
        <script src="../../static/comm/js/modelCommon.js"></script>
        <script src="../../static/custom/resource/js/myCoursesCommom.js"></script>
        <script>        
		(function($){
			$(function(){
			    //do anything
			    $(document).ready(function(){
					$(".contentCenter .contentCenter_tp").load('dailogPage/bookInfoShow.html');
				})
			        
		    })
		})(jQuery);		
		</script>
	</body>
</html>
