<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta content="telephone=yes" name="format-detection">
		<meta content="email=yes" name="format-detection">
		<title>模板demo</title>
		<link rel="stylesheet" type="text/css" href="../../static/custom/resource/css/myCourses.css"/>
	</head>
	<body>
		<div class="ContainerWarp">
			<!--头部start-->
			<div class="header" id="header"></div>
			<!--头部end-->
			
			<!--主体部分start-->
			<div class="ConMain">
				<div class="MainAuto">
					<div class="MainBox">
						<!--侧边菜单栏start-->
						<div class="AsideMenu" id="AsideMenu"></div>
						<!--侧边菜单栏end-->
						
						<!--主体部分中间内容区start-->
						<div class="MainContent">
							<div class="ContentBox coursesTeachingPackageCreat">
								<div class="contentNav">
									<span class="span_1"></span>
									<span class="span_text">我的课程</span>
									<span class="span_2"></span>
									<span class="span_text">教学包制作</span>
								</div>
								<div class="contentCenter">
									<div class="content_lt">
										<div class="search_area">
											<ul class="search_criteria">
												<li>
													<label><em>*</em><b>教材名称</b></label>
													<div class="_li_rt">
														<div class="list_cont">
															<select class="small_select">
																<option value="">上学期</option>
															</select>
															<!--<label class="errorTips">填写错误</label>-->
														</div>
													</div>
												</li>
												<li class="list_Subjectdiscipline">
													<label><em></em><b>学段/年级/学科</b></label>
													<div class="_li_rt">
														<div class="list_cont">
															<select class="small_select">
																<option value="">小学</option>
															</select>
														</div>
														<div class="list_cont">
															<select class="small_select">
																<option value="">一年级</option>
															</select>
														</div>
														<div class="list_cont">
															<select class="small_select">
																<option value="">思想品德（社会）</option>
															</select>
														</div>
													</div>
												</li>
												<li><label><em></em><b>标签</b></label><div class="_li_rt"><div class="list_cont"><input type="text" /></div></div></li>
												<li class="list_h_diffrent"><label><em></em><b>描述</b></label><div class="_li_rt"><div class="list_cont"><textarea></textarea></div></div></li>
											</ul>
										</div>
										<div class="model_box">
											<label>模板</label>
											<div class="_model_rt">
												<div class="_model_rt_tp">
													<div class="select_model">
														<select>
															<option value="">model1</option>
														</select>
													</div>
													<a class="previewBtn" href="javascript:;">预览</a>
												</div>
												<div class="_model_rt_bt">
													<h6>资源列表</h6>
													<ul class="sourceLists">
														<li>
															<label class="list_title">视频</label>
															<div class="bar_box">进度条</div>
															<a class="resourceLibrary">资源库</a>
															<a class="LocalUpload">本地上传</a>
														</li>
														<li>
															<label class="list_title">考卷</label>
															<div class="bar_box">进度条</div>
															<a class="resourceLibrary">资源库</a>
															<a class="LocalUpload">本地上传</a>
														</li>
														<li>
															<label class="list_title">课程简介</label>
															<div class="bar_box">进度条</div>
															<a class="resourceLibrary">资源库</a>
															<a class="LocalUpload">本地上传</a>
														</li>
													</ul>
												</div>
											</div>
										</div>
										<div class="button_box">
											<a href="javascript:;">保存</a>
										</div>
									</div>
									<div class="content_rt">
										<div class="list_div">
											<label>添加封面</label>
											<div class="_list_rt">
												<div class="img_box">
													<a class="addImgBtn" href="javascript:;"></a>
													<a href="javasctipt:;"><b></b><img src="../../static/custom/resource/img/fm_add_img.png"/></a>
													<a href="javasctipt:;"><b></b><img src="../../static/custom/resource/img/fm_add_img.png"/></a>
												</div>
											</div>
										</div>
									</div>
								
								</div>
				
							</div>
						</div>
						<!--主体部分中间内容区end-->
						
					</div>
					<!--底部start-->
					<div class="footer" id="footer"></div>
					<!--底部end-->
					
				</div>
			</div>
			<!--主体部分end-->
		</div>
        
        <script src="../../static/comm/plugins/jQuery/jquery-3.0.0.js"></script>
        <script src="../../static/comm/js/modelCommon.js"></script>
        <script src="../../static/custom/resource/js/myCoursesCommom.js"></script>
        <script>        
		(function($){
			$(function(){
			    //do anything
			        
		    })
		})(jQuery);		
		</script>
	</body>
</html>
