<p>获取登录信息：</p>
<div class="portInfoList">
	<p class="list_title"><i class="Rotate_90_"></i><span>接口1</span></p>
	<div class="list_cont active_show">
	
		<div class="info_list">
			<h4 class="info_list_tp">基本信息</h4>
			<ul class="info_list_bt">
				<li><label>接口名称：</label><span>docs_api_parameter</span></li>
				<li><label>版本号：</label><span>v1.2</span></li>
				<li><label>请求方式：</label><span>get</span></li>
				<li><label>Rquest Content Type：</label><span>json</span></li>
				<li><label>接口地址：</label><span>http://docs_api_parameter</span></li>
				<li>
					<label>接口说明：</label>
					<a class="_li_rt">
						<p>参见《接口安全规范》说明文档参见《接口安全规范》说明文档参见《接口安全规范》说明文档参见《接口安全规范》说明文档参见《接口安全规范》说明文档参见《接口安全规范》说明文档</p>
						<div class="li_img">
							<img src="../../../static/custom/openSite/img/bigjf (1).jpg"/>
							<img src="../../../static/custom/openSite/img/bigjf (1).jpg"/>
						</div>
					</a>
				</li>
			</ul>
		</div>
		
		<div class="info_list">
			<h4 class="info_list_tp">Headers</h4>
			<div class="info_list_bt">
				<table class="CommonShowTable backParameter"  style="width: 40%;">
					<tr>
						<th>参数名</th><th>参数说明</th>
					</tr>
					<tr>
						<td>deployment_id</td><td>发布标识</td>
					</tr>
					<tr>
						<td>project_id</td><td>项目主键标识</td>
					</tr>
					<tr>
						<td>param_id</td><td>参数主键</td>
					</tr>
				</table>
			</div>
		</div>
		
		<div class="info_list">
			<h4 class="info_list_tp">接口参数</h4>
			<div class="info_list_bt">
				<table class="CommonShowTable parameter"  style="width: 80%;">
					<tr>
						<th>参数名</th><th>参数说明</th>
						<th>Parameter Type</th><th>是否必须</th>
						<th>Data Type</th>
					</tr>
					<tr>
						<td>deployment_id</td><td>发布标识</td>
						<td>body</td><td>是</td>
						<td><a href="#Parame1">查询公开课Parame</a></td>
					</tr>
					<tr>
						<td>project_id</td><td>项目主键标识</td>
						<td>Query String</td><td></td>
						<td>string</td>
					</tr>
					<tr>
						<td>param_id</td><td>参数主键</td>
						<td>Query String</td><td>是</td>
						<td>string</td>
					</tr>
				</table>
				<table id="Parame1" class="CommonShowTable parameter" style="width: 60%;">
					<caption>查询公开课Parame<span>示例</span></caption>
					<tr>
						<th>参数名</th><th>参数说明</th>
						<th>是否必须</th>
						<th>Data Type</th>
					</tr>
					<tr>
						<td>deployment_id</td><td>发布标识</td>
						<td>是</td>
						<td>查询公开课Parame</td>
					</tr>
					<tr>
						<td>project_id</td><td>项目主键标识</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>param_id</td><td>参数主键</td>
						<td>是</td>
						<td>课程选课</td>
					</tr>
				</table>
				
			</div>
		</div>
		
		<div class="info_list">
			<h4 class="info_list_tp">返回参数</h4>
			<div class="info_list_bt">
				<table class="CommonShowTable backParameter"  style="width: 60%;">
					<tr>
						<th>参数名</th><th>参数说明</th>
						<th>Parameter Type</th><th>Data Type</th>
					</tr>
					<tr>
						<td>status</td><td>返回状态：success表示成功，error表示失败</td>
						<td></td><td></td>
					</tr>
					<tr>
						<td>statusCode</td><td>错误/成功状态码</td>
						<td></td><td></td>
					</tr>
					<tr>
						<td>message</td><td>返回的消息：成功有可能返回空，失败则返回失败信息</td>
						<td></td><td></td>
					</tr>
					<tr>
						<td>data</td><td>业务数据</td>
						<td></td><td><a href="#course1">课程选课</a></td>
					</tr>
				</table>
				<table id="course1" class="CommonShowTable backParameter"  style="width: 60%;">
					<caption>课程选课<span>示例</span></caption>
					<tr>
						<th>参数名</th><th>参数说明</th>
						<th>Parameter Type</th><th>Data Type</th>
					</tr>
					<tr>
						<td>status</td><td>返回状态：success表示成功，error表示失败</td>
						<td></td><td></td>
					</tr>
					<tr>
						<td>statusCode</td><td>错误/成功状态码</td>
						<td></td><td></td>
					</tr>
					<tr>
						<td>message</td><td>返回的消息：成功有可能返回空，失败则返回失败信息</td>
						<td></td><td></td>
					</tr>
					<tr>
						<td>data</td><td>业务数据</td>
						<td></td><td></td>
					</tr>
				</table>
				
			</div>
		</div>
		
	</div>									
</div>

<div class="portInfoList">
	<p class="list_title"><i></i><span>接口2</span></p>
	<div class="list_cont">
	
		<div class="info_list">
			<h4 class="info_list_tp">基本信息</h4>
			<ul class="info_list_bt">
				<li><label>接口名称：</label><span>docs_api_parameter</span></li>
				<li><label>版本号：</label><span>v1.2</span></li>
				<li><label>请求方式：</label><span>get</span></li>
				<li><label>Rquest Content Type：</label><span>json</span></li>
				<li><label>接口地址：</label><span>http://docs_api_parameter</span></li>
				<li>
					<label>接口说明：</label>
					<a class="_li_rt">
						<p>参见《接口安全规范》说明文档参见《接口安全规范》说明文档参见《接口安全规范》说明文档参见《接口安全规范》说明文档参见《接口安全规范》说明文档参见《接口安全规范》说明文档</p>
						<div class="li_img">
							<img src="../../../static/custom/openSite/img/bigjf (1).jpg"/>
							<img src="../../../static/custom/openSite/img/bigjf (1).jpg"/>
						</div>
					</a>
				</li>
			</ul>
		</div>
		
		<div class="info_list">
			<h4 class="info_list_tp">Headers</h4>
			<div class="info_list_bt">
				<table class="CommonShowTable backParameter"  style="width: 40%;">
					<tr>
						<th>参数名</th><th>参数说明</th>
					</tr>
					<tr>
						<td>deployment_id</td><td>发布标识</td>
					</tr>
					<tr>
						<td>project_id</td><td>项目主键标识</td>
					</tr>
					<tr>
						<td>param_id</td><td>参数主键</td>
					</tr>
				</table>
			</div>
		</div>
		
		<div class="info_list">
			<h4 class="info_list_tp">接口参数</h4>
			<div class="info_list_bt">
				<table class="CommonShowTable parameter"  style="width: 80%;">
					<tr>
						<th>参数名</th><th>参数说明</th>
						<th>Parameter Type</th><th>是否必须</th>
						<th>Data Type</th>
					</tr>
					<tr>
						<td>deployment_id</td><td>发布标识</td>
						<td>body</td><td>是</td>
						<td><a href="#Parame1">查询公开课Parame</a></td>
					</tr>
					<tr>
						<td>project_id</td><td>项目主键标识</td>
						<td>Query String</td><td></td>
						<td>string</td>
					</tr>
					<tr>
						<td>param_id</td><td>参数主键</td>
						<td>Query String</td><td>是</td>
						<td>string</td>
					</tr>
				</table>
				<table id="Parame1" class="CommonShowTable parameter" style="width: 60%;">
					<caption>查询公开课Parame<span>示例</span></caption>
					<tr>
						<th>参数名</th><th>参数说明</th>
						<th>是否必须</th>
						<th>Data Type</th>
					</tr>
					<tr>
						<td>deployment_id</td><td>发布标识</td>
						<td>是</td>
						<td>查询公开课Parame</td>
					</tr>
					<tr>
						<td>project_id</td><td>项目主键标识</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>param_id</td><td>参数主键</td>
						<td>是</td>
						<td>课程选课</td>
					</tr>
				</table>
				
			</div>
		</div>
		
		<div class="info_list">
			<h4 class="info_list_tp">返回参数</h4>
			<div class="info_list_bt">
				<table class="CommonShowTable backParameter"  style="width: 60%;">
					<tr>
						<th>参数名</th><th>参数说明</th>
						<th>Parameter Type</th><th>Data Type</th>
					</tr>
					<tr>
						<td>status</td><td>返回状态：success表示成功，error表示失败</td>
						<td></td><td></td>
					</tr>
					<tr>
						<td>statusCode</td><td>错误/成功状态码</td>
						<td></td><td></td>
					</tr>
					<tr>
						<td>message</td><td>返回的消息：成功有可能返回空，失败则返回失败信息</td>
						<td></td><td></td>
					</tr>
					<tr>
						<td>data</td><td>业务数据</td>
						<td></td><td><a href="#course1">课程选课</a></td>
					</tr>
				</table>
				<table id="course1" class="CommonShowTable backParameter"  style="width: 60%;">
					<caption>课程选课<span>示例</span></caption>
					<tr>
						<th>参数名</th><th>参数说明</th>
						<th>Parameter Type</th><th>Data Type</th>
					</tr>
					<tr>
						<td>status</td><td>返回状态：success表示成功，error表示失败</td>
						<td></td><td></td>
					</tr>
					<tr>
						<td>statusCode</td><td>错误/成功状态码</td>
						<td></td><td></td>
					</tr>
					<tr>
						<td>message</td><td>返回的消息：成功有可能返回空，失败则返回失败信息</td>
						<td></td><td></td>
					</tr>
					<tr>
						<td>data</td><td>业务数据</td>
						<td></td><td></td>
					</tr>
				</table>
				
			</div>
		</div>
		
	</div>									
</div>


<script type="text/javascript">
(function($){
	$(function(){
	    //do anything
	    //展开图标
	    $(".portInfoList .list_title i").each(function(){
	    	$(this).bind('click',function(){
	    		if ($(this).hasClass('Rotate_90_')) {
	    			$(this).removeClass('Rotate_90_');
	    			$(this).parent('.list_title').siblings('.list_cont').slideUp();
	    		} else{
	    			$(this).addClass('Rotate_90_');
	    			$(this).parent('.list_title').siblings('.list_cont').slideDown();
	    		}
	    	})
	    })
    })
})(jQuery);
</script>