<div class="LightListsBox">
	<dl class="LightList LightListfirst">
		<dt>安装地址</dt><dd>Light&emsp;L1</dd><dd>Light&emsp;L2</dd><dd>Light&emsp;L3</dd>
	</dl>
	<dl class="LightList">
		<dt>301教室</dt><dd><i class="L_off">L1</i></dd><dd><i class="L_on">L2</i></dd><dd><i class="L_on">L3</i></dd>
	</dl>
	<dl class="LightList">
		<dt>302教室</dt><dd><i class="L_on">L1</i></dd><dd><i class="L_off">L2</i></dd><dd><i class="L_on">L3</i></dd>
	</dl>
	<dl class="LightList">
		<dt>303教室</dt><dd><i class="L_on">L1</i></dd><dd><i class="L_on">L2</i></dd><dd><i class="L_off">L3</i></dd>
	</dl>
</div>	
