<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-6723188equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta content="telephone=yes" name="format-detection">
		<meta content="email=yes" name="format-detection">
		<title>模板demo</title>
		<link rel="stylesheet" type="text/css" href="../../../static/comm/plugins/weui/weui.min.css"/>
		<!--<link rel="stylesheet" type="text/css" href="../../../static/comm/css/comm_wx.css"/>-->
		<link rel="stylesheet" type="text/css" href="../../../static/custom/familySchoolCommunication/css/mobile4WeChat.css"/>
	</head>
	<body>
		<div class="container Timetable">
			<div class="header" id="header">
				<div class="headerContent">
					<div class="weui-flex headerContent_tp">
						<div class="weui-flex__item">上一周</div>
			            <div class="weui-flex__item weekSelectShow" id="weekSelectShow">
			            	<a id="selectedWeek" href="javascript:;">第1周</a>
			            	<a href="javascript:;" class="total_week" id="total_week">共4周</a>
			            </div>
			            <div class="weui-flex__item">下一周</div>
					</div>
					<!--<div class="headerContent_bt"></div>-->
				</div>
			</div>
			<div class="mainContent">
				<div class="weekcont">
					<h4 class="childrenName">吴雨婷</h4>
					<ul class="weekList">
						<li>
							<div class="list_number"></div>
				            <div class="weui-flex weui-flex_first">
					            <div class="weui-flex__item">星期一<br />11-01</div>
					            <div class="weui-flex__item">星期二<br />11-02</div>
					            <div class="weui-flex__item">星期三<br />11-03</div>
					            <div class="weui-flex__item">星期四<br />11-04</div>
					            <div class="weui-flex__item">星期五<br />11-05</div>
					            <div class="weui-flex__item">星期六<br />11-06</div>
					            <div class="weui-flex__item">星期日<br />11-07</div>
				            </div>
				        </li>
				        <li>
				        	<div class="list_number">1</div>
				        	<div class="weui-flex">
				        		<div class="weui-flex__item">语文</div>
					        	<div class="weui-flex__item">语文</div>
					        	<div class="weui-flex__item">语文</div>
					        	<div class="weui-flex__item">语文</div>
					        	<div class="weui-flex__item">语文</div>
					        	<div class="weui-flex__item">--</div>
					        	<div class="weui-flex__item">--</div>
				        	</div>
				        </li>
				        
				        <li>
				        	<div class="list_number">2</div>
				        	<div class="weui-flex">
				        		<div class="weui-flex__item">数学</div>
					        	<div class="weui-flex__item">数学</div>
					        	<div class="weui-flex__item">数学</div>
					        	<div class="weui-flex__item">数学</div>
					        	<div class="weui-flex__item">数学</div>
					        	<div class="weui-flex__item">--</div>
					        	<div class="weui-flex__item">--</div>
				        	</div>
				        </li>
				        
				        <li>
				        	<div class="list_number">3</div>
				        	<div class="weui-flex">
				        		<div class="weui-flex__item">英语</div>
					        	<div class="weui-flex__item">英语</div>
					        	<div class="weui-flex__item">英语</div>
					        	<div class="weui-flex__item">英语</div>
					        	<div class="weui-flex__item">英语</div>
					        	<div class="weui-flex__item">--</div>
					        	<div class="weui-flex__item">--</div>
				        	</div>
				        </li>
				        
				        <li>
				        	<div class="list_number">4</div>
				        	<div class="weui-flex">
				        		<div class="weui-flex__item">历史</div>
					        	<div class="weui-flex__item">历史</div>
					        	<div class="weui-flex__item">历史</div>
					        	<div class="weui-flex__item">历史</div>
					        	<div class="weui-flex__item">历史</div>
					        	<div class="weui-flex__item">--</div>
					        	<div class="weui-flex__item">--</div>
				        	</div>
				        </li>
				        
				        <li>
				        	<div class="list_number">5</div>
				        	<div class="weui-flex">
				        		<div class="weui-flex__item">地理</div>
					        	<div class="weui-flex__item">地理</div>
					        	<div class="weui-flex__item">地理</div>
					        	<div class="weui-flex__item">地理</div>
					        	<div class="weui-flex__item">地理</div>
					        	<div class="weui-flex__item">--</div>
					        	<div class="weui-flex__item">--</div>
				        	</div>
				        </li>
				        
				        <li>
				        	<div class="list_number">6</div>
				        	<div class="weui-flex">
				        		<div class="weui-flex__item">思想品德</div>
					        	<div class="weui-flex__item">政治</div>
					        	<div class="weui-flex__item">政治</div>
					        	<div class="weui-flex__item">政治</div>
					        	<div class="weui-flex__item">政治</div>
					        	<div class="weui-flex__item">--</div>
					        	<div class="weui-flex__item">--</div>
				        	</div>
				        </li>
				        
				        <li>
				        	<div class="list_number">7</div>
				        	<div class="weui-flex">
				        		<div class="weui-flex__item">音乐</div>
					        	<div class="weui-flex__item">音乐</div>
					        	<div class="weui-flex__item">音乐</div>
					        	<div class="weui-flex__item">音乐</div>
					        	<div class="weui-flex__item">音乐</div>
					        	<div class="weui-flex__item">--</div>
					        	<div class="weui-flex__item">--</div>
				        	</div>
				        </li>
					</ul>
				
				</div>
				<div class="weekcont">
					<h4 class="childrenName">吴雨婷</h4>
					<ul class="weekList">
						<li>
							<div class="list_number"></div>
				            <div class="weui-flex weui-flex_first">
					            <div class="weui-flex__item">星期一<br />11-01</div>
					            <div class="weui-flex__item">星期二<br />11-02</div>
					            <div class="weui-flex__item">星期三<br />11-03</div>
					            <div class="weui-flex__item">星期四<br />11-04</div>
					            <div class="weui-flex__item">星期五<br />11-05</div>
					            <div class="weui-flex__item">星期六<br />11-06</div>
					            <div class="weui-flex__item">星期日<br />11-07</div>
				            </div>
				        </li>
				        <li>
				        	<div class="list_number">1</div>
				        	<div class="weui-flex">
				        		<div class="weui-flex__item">语文</div>
					        	<div class="weui-flex__item">语文</div>
					        	<div class="weui-flex__item">语文</div>
					        	<div class="weui-flex__item">语文</div>
					        	<div class="weui-flex__item">语文</div>
					        	<div class="weui-flex__item">--</div>
					        	<div class="weui-flex__item">--</div>
				        	</div>
				        </li>
				        
				        <li>
				        	<div class="list_number">2</div>
				        	<div class="weui-flex">
				        		<div class="weui-flex__item">数学</div>
					        	<div class="weui-flex__item">数学</div>
					        	<div class="weui-flex__item">数学</div>
					        	<div class="weui-flex__item">数学</div>
					        	<div class="weui-flex__item">数学</div>
					        	<div class="weui-flex__item">--</div>
					        	<div class="weui-flex__item">--</div>
				        	</div>
				        </li>
				        
				        <li>
				        	<div class="list_number">3</div>
				        	<div class="weui-flex">
				        		<div class="weui-flex__item">英语</div>
					        	<div class="weui-flex__item">英语</div>
					        	<div class="weui-flex__item">英语</div>
					        	<div class="weui-flex__item">英语</div>
					        	<div class="weui-flex__item">英语</div>
					        	<div class="weui-flex__item">--</div>
					        	<div class="weui-flex__item">--</div>
				        	</div>
				        </li>
				        
				        <li>
				        	<div class="list_number">4</div>
				        	<div class="weui-flex">
				        		<div class="weui-flex__item">历史</div>
					        	<div class="weui-flex__item">历史</div>
					        	<div class="weui-flex__item">历史</div>
					        	<div class="weui-flex__item">历史</div>
					        	<div class="weui-flex__item">历史</div>
					        	<div class="weui-flex__item">--</div>
					        	<div class="weui-flex__item">--</div>
				        	</div>
				        </li>
				        
				        <li>
				        	<div class="list_number">5</div>
				        	<div class="weui-flex">
				        		<div class="weui-flex__item">地理</div>
					        	<div class="weui-flex__item">地理</div>
					        	<div class="weui-flex__item">地理</div>
					        	<div class="weui-flex__item">地理</div>
					        	<div class="weui-flex__item">地理</div>
					        	<div class="weui-flex__item">--</div>
					        	<div class="weui-flex__item">--</div>
				        	</div>
				        </li>
				        
				        <li>
				        	<div class="list_number">6</div>
				        	<div class="weui-flex">
				        		<div class="weui-flex__item">思想品德</div>
					        	<div class="weui-flex__item">政治</div>
					        	<div class="weui-flex__item">政治</div>
					        	<div class="weui-flex__item">政治</div>
					        	<div class="weui-flex__item">政治</div>
					        	<div class="weui-flex__item">--</div>
					        	<div class="weui-flex__item">--</div>
				        	</div>
				        </li>
				        
				        <li>
				        	<div class="list_number">7</div>
				        	<div class="weui-flex">
				        		<div class="weui-flex__item">音乐</div>
					        	<div class="weui-flex__item">音乐</div>
					        	<div class="weui-flex__item">音乐</div>
					        	<div class="weui-flex__item">音乐</div>
					        	<div class="weui-flex__item">音乐</div>
					        	<div class="weui-flex__item">--</div>
					        	<div class="weui-flex__item">--</div>
				        	</div>
				        </li>
					</ul>
				
				</div>
					
			</div>
			<!--<div class="footer" id="footer"></div>-->
		</div>
		
		<script src="../../../static/comm/plugins/jQuery/jquery-3.0.0.js"></script>
		<script src="../../../static/comm/plugins/weui/weui.min.js"></script>
		<script type="text/javascript">
			(function($){
				$(function(){
					//start
				    var weekSelectFn=function(weekNum,callbackFn){
				    	var $Arrays=new Array();
				    	$("#total_week").html("共"+weekNum+"周");
				    	for (var i=1;i<weekNum+1;i++) {
				    		var $gather={};
				    		$gather.label="第"+i+"周";
				    		$gather.value=i;
				    		$Arrays.push($gather);
				    	}
				    	//console.log($Arrays)
				    	$('#weekSelectShow').on('click', function () {
					        weui.picker($Arrays, {
					            onChange: function (result) {
					                //console.log(result);
					            },
					            onConfirm: function (result) {
					                //console.log(result);
					                var resultValue=result[0].value;
					                $("#selectedWeek").html("第"+resultValue+"周");
					                callbackFn(resultValue);
					            }
					        });
					    });
				    }
				    weekSelectFn(24,function(num){ /**第一个参数为周数，第二个参数为选择第几周以后的回调函数,其中num为选择的第num周*/
				    	console.log(num);
				    	//根据num选择第几周,切换课程表
				    });
				    //end    
			    })
			})(jQuery);		
		</script>
		
	</body>
</html>

