<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta content="telephone=yes" name="format-detection">
		<meta content="email=yes" name="format-detection">
		<title>模板demo</title>
		<link rel="stylesheet" type="text/css" href="../../../static/custom/dashboard/css/statistics.css"/>
	</head>
	<body>
		<div class="ContainerWarp">
			<!--头部start-->
			<div class="header" id="header"></div>
			<!--头部end-->
			
			<!--临时引用-->
			<div class="SourceAmendDialog">
				<div class="Dialog" id="Dialog"></div>
			</div>
			
			<!--主体部分start-->
			<div class="ConMain">
				<div class="MainAuto">
					<div class="MainBox">
						<!--侧边菜单栏start-->
						<div class="AsideMenu" id="AsideMenu"></div>
						<!--侧边菜单栏end-->
						
						<!--主体部分中间内容区start-->
						<div class="MainContent">
							<div class="ContentBox classCommonPage">
								<div class="contentNav">
									<span class="span_1"></span>
									<span class="span_text">成绩分析</span>
									<span class="span_2"></span>
									<span class="span_text">班级分数段统计</span>
								</div>
								<div class="contentCenter">
									<div class="contentCenter_bt">
										<p class="big_title">2017下学期期末考试各学科各班级学生分数分布</p>
										<table class="CommonShowTable">
											<tr>
												<th>语文</th>
												<th><p class="th_tp">100<b class="paixuBtn"></b></p><div class="th_bt"><b>人数</b><b>占比</b></div></th>
												<th><p class="th_tp">90~99<b class="paixuBtn"></b></p><div class="th_bt"><b>人数</b><b>占比</b></div></th>
												<th><p class="th_tp">80~89<b class="paixuBtn"></b></p><div class="th_bt"><b>人数</b><b>占比</b></div></th>
												<th><p class="th_tp">70~79<b class="paixuBtn"></b></p><div class="th_bt"><b>人数</b><b>占比</b></div></th>
												<th><p class="th_tp">60~69<b class="paixuBtn"></b></p><div class="th_bt"><b>人数</b><b>占比</b></div></th>
												<th><p class="th_tp">60以下<b class="paixuBtn"></b></p><div class="th_bt"><b>人数</b><b>占比</b></div></th>
											</tr>
											
											<tr>
												<td>七（1）班</td>
												<td><div class="td_cont"><a>11</a><a>20%</a></div></td>
												<td><div class="td_cont"><a>23</a><a>40%</a></div></td>
												<td><div class="td_cont"><a>3</a><a>10%</a></div></td>
												<td><div class="td_cont"><a>5</a><a>10%</a></div></td>
												<td><div class="td_cont"><a>7</a><a>10%</a></div></td>
												<td><div class="td_cont"><a>22</a><a>10%</a></div></td>
											</tr>
											<tr>
												<td>七（2）班</td>
												<td><div class="td_cont"><a>11</a><a>20%</a></div></td>
												<td><div class="td_cont"><a>28</a><a>40%</a></div></td>
												<td><div class="td_cont"><a>9</a><a>10%</a></div></td>
												<td><div class="td_cont"><a>14</a><a>10%</a></div></td>
												<td><div class="td_cont"><a>12</a><a>10%</a></div></td>
												<td><div class="td_cont"><a>9</a><a>10%</a></div></td>
											</tr>
											<tr>
												<td>七（3）班</td>
												<td><div class="td_cont"><a>12</a><a>20%</a></div></td>
												<td><div class="td_cont"><a>24</a><a>40%</a></div></td>
												<td><div class="td_cont"><a>6</a><a>10%</a></div></td>
												<td><div class="td_cont"><a>6</a><a>10%</a></div></td>
												<td><div class="td_cont"><a>6</a><a>10%</a></div></td>
												<td><div class="td_cont"><a>6</a><a>10%</a></div></td>
											</tr>
											<tr>
												<td>七（4）班</td>
												<td><div class="td_cont"><a>8</a><a>20%</a></div></td>
												<td><div class="td_cont"><a>2</a><a>40%</a></div></td>
												<td><div class="td_cont"><a>7</a><a>10%</a></div></td>
												<td><div class="td_cont"><a>16</a><a>10%</a></div></td>
												<td><div class="td_cont"><a>19</a><a>10%</a></div></td>
												<td><div class="td_cont"><a>20</a><a>10%</a></div></td>
											</tr>
											<tr>
												<td>七（5）班</td>
												<td><div class="td_cont"><a>13</a><a>20%</a></div></td>
												<td><div class="td_cont"><a>22</a><a>40%</a></div></td>
												<td><div class="td_cont"><a>14</a><a>10%</a></div></td>
												<td><div class="td_cont"><a>8</a><a>10%</a></div></td>
												<td><div class="td_cont"><a>9</a><a>10%</a></div></td>
												<td><div class="td_cont"><a>10</a><a>10%</a></div></td>
											</tr>
											
										</table>
										
										<table class="CommonShowTable">
											<tr>
												<th>英语</th>
												<th><p class="th_tp">100<b class="paixuBtn"></b></p><div class="th_bt"><b>人数</b><b>占比</b></div></th>
												<th><p class="th_tp">90~99<b class="paixuBtn"></b></p><div class="th_bt"><b>人数</b><b>占比</b></div></th>
												<th><p class="th_tp">80~89<b class="paixuBtn"></b></p><div class="th_bt"><b>人数</b><b>占比</b></div></th>
												<th><p class="th_tp">70~79<b class="paixuBtn"></b></p><div class="th_bt"><b>人数</b><b>占比</b></div></th>
												<th><p class="th_tp">60~69<b class="paixuBtn"></b></p><div class="th_bt"><b>人数</b><b>占比</b></div></th>
												<th><p class="th_tp">60以下<b class="paixuBtn"></b></p><div class="th_bt"><b>人数</b><b>占比</b></div></th>
											</tr>
											
											<tr>
												<td>七（1）班</td>
												<td><div class="td_cont"><a>11</a><a>20%</a></div></td>
												<td><div class="td_cont"><a>23</a><a>40%</a></div></td>
												<td><div class="td_cont"><a>3</a><a>10%</a></div></td>
												<td><div class="td_cont"><a>5</a><a>10%</a></div></td>
												<td><div class="td_cont"><a>7</a><a>10%</a></div></td>
												<td><div class="td_cont"><a>22</a><a>10%</a></div></td>
											</tr>
											<tr>
												<td>七（2）班</td>
												<td><div class="td_cont"><a>11</a><a>20%</a></div></td>
												<td><div class="td_cont"><a>28</a><a>40%</a></div></td>
												<td><div class="td_cont"><a>9</a><a>10%</a></div></td>
												<td><div class="td_cont"><a>14</a><a>10%</a></div></td>
												<td><div class="td_cont"><a>12</a><a>10%</a></div></td>
												<td><div class="td_cont"><a>9</a><a>10%</a></div></td>
											</tr>
											<tr>
												<td>七（3）班</td>
												<td><div class="td_cont"><a>12</a><a>20%</a></div></td>
												<td><div class="td_cont"><a>24</a><a>40%</a></div></td>
												<td><div class="td_cont"><a>6</a><a>10%</a></div></td>
												<td><div class="td_cont"><a>6</a><a>10%</a></div></td>
												<td><div class="td_cont"><a>6</a><a>10%</a></div></td>
												<td><div class="td_cont"><a>6</a><a>10%</a></div></td>
											</tr>
											<tr>
												<td>七（4）班</td>
												<td><div class="td_cont"><a>8</a><a>20%</a></div></td>
												<td><div class="td_cont"><a>2</a><a>40%</a></div></td>
												<td><div class="td_cont"><a>7</a><a>10%</a></div></td>
												<td><div class="td_cont"><a>16</a><a>10%</a></div></td>
												<td><div class="td_cont"><a>19</a><a>10%</a></div></td>
												<td><div class="td_cont"><a>20</a><a>10%</a></div></td>
											</tr>
											<tr>
												<td>七（5）班</td>
												<td><div class="td_cont"><a>13</a><a>20%</a></div></td>
												<td><div class="td_cont"><a>22</a><a>40%</a></div></td>
												<td><div class="td_cont"><a>14</a><a>10%</a></div></td>
												<td><div class="td_cont"><a>8</a><a>10%</a></div></td>
												<td><div class="td_cont"><a>9</a><a>10%</a></div></td>
												<td><div class="td_cont"><a>10</a><a>10%</a></div></td>
											</tr>
											
											
											
										</table>
										
										
										<table class="CommonShowTable">
											<tr>
												<th>数学</th>
												<th><p class="th_tp">100<b class="paixuBtn"></b></p><div class="th_bt"><b>人数</b><b>占比</b></div></th>
												<th><p class="th_tp">90~99<b class="paixuBtn"></b></p><div class="th_bt"><b>人数</b><b>占比</b></div></th>
												<th><p class="th_tp">80~89<b class="paixuBtn"></b></p><div class="th_bt"><b>人数</b><b>占比</b></div></th>
												<th><p class="th_tp">70~79<b class="paixuBtn"></b></p><div class="th_bt"><b>人数</b><b>占比</b></div></th>
												<th><p class="th_tp">60~69<b class="paixuBtn"></b></p><div class="th_bt"><b>人数</b><b>占比</b></div></th>
												<th><p class="th_tp">60以下<b class="paixuBtn"></b></p><div class="th_bt"><b>人数</b><b>占比</b></div></th>
											</tr>
											
											<tr>
												<td>七（1）班</td>
												<td><div class="td_cont"><a>11</a><a>20%</a></div></td>
												<td><div class="td_cont"><a>23</a><a>40%</a></div></td>
												<td><div class="td_cont"><a>3</a><a>10%</a></div></td>
												<td><div class="td_cont"><a>5</a><a>10%</a></div></td>
												<td><div class="td_cont"><a>7</a><a>10%</a></div></td>
												<td><div class="td_cont"><a>22</a><a>10%</a></div></td>
											</tr>
											<tr>
												<td>七（2）班</td>
												<td><div class="td_cont"><a>11</a><a>20%</a></div></td>
												<td><div class="td_cont"><a>28</a><a>40%</a></div></td>
												<td><div class="td_cont"><a>9</a><a>10%</a></div></td>
												<td><div class="td_cont"><a>14</a><a>10%</a></div></td>
												<td><div class="td_cont"><a>12</a><a>10%</a></div></td>
												<td><div class="td_cont"><a>9</a><a>10%</a></div></td>
											</tr>
											<tr>
												<td>七（3）班</td>
												<td><div class="td_cont"><a>12</a><a>20%</a></div></td>
												<td><div class="td_cont"><a>24</a><a>40%</a></div></td>
												<td><div class="td_cont"><a>6</a><a>10%</a></div></td>
												<td><div class="td_cont"><a>6</a><a>10%</a></div></td>
												<td><div class="td_cont"><a>6</a><a>10%</a></div></td>
												<td><div class="td_cont"><a>6</a><a>10%</a></div></td>
											</tr>
											<tr>
												<td>七（4）班</td>
												<td><div class="td_cont"><a>8</a><a>20%</a></div></td>
												<td><div class="td_cont"><a>2</a><a>40%</a></div></td>
												<td><div class="td_cont"><a>7</a><a>10%</a></div></td>
												<td><div class="td_cont"><a>16</a><a>10%</a></div></td>
												<td><div class="td_cont"><a>19</a><a>10%</a></div></td>
												<td><div class="td_cont"><a>20</a><a>10%</a></div></td>
											</tr>
											<tr>
												<td>七（5）班</td>
												<td><div class="td_cont"><a>13</a><a>20%</a></div></td>
												<td><div class="td_cont"><a>22</a><a>40%</a></div></td>
												<td><div class="td_cont"><a>14</a><a>10%</a></div></td>
												<td><div class="td_cont"><a>8</a><a>10%</a></div></td>
												<td><div class="td_cont"><a>9</a><a>10%</a></div></td>
												<td><div class="td_cont"><a>10</a><a>10%</a></div></td>
											</tr>
											
											
											
										</table>
										
									</div>
								</div>
							</div>
						</div>
						<!--主体部分中间内容区end-->
						
					</div>
					<!--底部start-->
					<div class="footer" id="footer"></div>
					<!--底部end-->
					
				</div>
			</div>
			<!--主体部分end-->
		</div>
        
        <script src="../../../static/comm/plugins/jQuery/jquery-3.0.0.js"></script>
        <script src="../../../static/comm/js/modelCommon.js"></script>
        <script src="../../../static/custom/dashboard/js/statisticsCommon.js"></script>
        <script>        
		(function($){
			$(function(){
			    //do anything
			    //表格排序按钮点击排序
			    tableSort();//表格哪里排序，就调用该函数，动态加载函数以后执行该函数，td里面直接放内容，或者a标签包裹内容
			   
		    })
		})(jQuery);		
		</script>
	</body>
</html>

