<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta content="telephone=yes" name="format-detection">
		<meta content="email=yes" name="format-detection">
		<title>模板demo</title>
		<link rel="stylesheet" type="text/css" href="../../../static/custom/dashboard/css/statistics.css"/>
	</head>
	<body>
		<div class="ContainerWarp">
			<!--头部start-->
			<div class="header" id="header"></div>
			<!--头部end-->
			
			<!--临时引用-->
			<div class="SourceAmendDialog">
				<div class="Dialog" id="Dialog"></div>
			</div>
			
			<!--主体部分start-->
			<div class="ConMain">
				<div class="MainAuto">
					<div class="MainBox">
						<!--侧边菜单栏start-->
						<div class="AsideMenu" id="AsideMenu"></div>
						<!--侧边菜单栏end-->
						
						<!--主体部分中间内容区start-->
						<div class="MainContent">
							<div class="ContentBox classStatement">
								<div class="contentNav">
									<span class="span_1"></span>
									<span class="span_text">成绩分析</span>
									<span class="span_2"></span>
									<span class="span_text">学生报表</span>
								</div>
								<div class="contentCenter">
									<div class="search_area">
										<ul class="search_criteria">
											<!--<li>
												<label><b>年级</b></label>
												<div class="_li_rt">
													<div class="list_cont bg_afterBox">
														<select class="small_select">
															<option value="">一年级</option>
														</select>
													</div>
												</div>
											</li>-->
											<!--<li>
												<label><b>班级</b></label>
												<div class="_li_rt">
													<div class="list_cont bg_afterBox">
														<select class="small_select">
															<option value="">二（1）班</option>
														</select>
													</div>
												</div>
											</li>-->
											<li><label>学号</label><div class="_li_rt"><div class="list_cont"><input type="text" /></div></div></li>
											<li><label>学生帐号</label><div class="_li_rt"><div class="list_cont"><input type="text" /></div></div></li>
											<li><label>学生姓名</label><div class="_li_rt"><div class="list_cont"><input type="text" /></div></div></li>
											
										</ul>
										<div class="button_box">
											<button class="bg_color" type="button">查询</button>
											<!--<a href="coursesTeachMaterial.html">新建</a>-->
										</div>
									</div>
									<div class="contentCenter_bt">
										<table class="CommonShowTable">
											<tr>
												<!--<th>年级</th><th>班级</th>-->
												<th>学号</th><th>学生帐号</th>
												<th>学生姓名</th><th>性别</th>
												<th class="FixedWidth2">操作</th>
											</tr>
											<tr>
												<!--<td>七年级</td><td>七（1）班</td>-->
												<td>stu001</td><td>50</td>
												<td>王学生</td><td>男</td>
												<td><a title="个人考试列表" class="icon_enter" href="PersonTestList.html"></a></td>
											</tr>
											<tr>
												<!--<td>七年级</td><td>七（2）班</td>-->
												<td>stu002</td><td>50</td>
												<td>王学生</td><td>男</td>
												<td><a title="个人考试列表" class="icon_enter" href="PersonTestList.html"></a></td>
											</tr>
											<tr>
												<!--<td>七年级</td><td>七（3）班</td>-->
												<td>stu003</td><td>50</td>
												<td>王学生</td><td>男</td>
												<td><a title="个人考试列表" class="icon_enter" href="PersonTestList.html"></a></td>
											</tr>
											<tr>
												<!--<td>七年级</td><td>七（4）班</td>-->
												<td>stu004</td><td>50</td>
												<td>王学生</td><td>男</td>
												<td><a title="个人考试列表" class="icon_enter" href="PersonTestList.html"></a></td>
											</tr>
											<tr>
												<!--<td>七年级</td><td>七（5）班</td>-->
												<td>stu005</td><td>50</td>
												<td>王学生</td><td>男</td>
												<td><a title="个人考试列表" class="icon_enter" href="PersonTestList.html"></a></td>
											</tr>
										</table>
									</div>
								</div>
							</div>
						</div>
						<!--主体部分中间内容区end-->
						
					</div>
					<!--底部start-->
					<div class="footer" id="footer"></div>
					<!--底部end-->
					
				</div>
			</div>
			<!--主体部分end-->
		</div>
        
        <script src="../../../static/comm/plugins/jQuery/jquery-3.0.0.js"></script>
        <script src="../../../static/comm/js/modelCommon.js"></script>
        <script src="../../../static/custom/dashboard/js/statisticsCommon.js"></script>
        <script>        
		(function($){
			$(function(){
			    //do anything
		    })
		})(jQuery);		
		</script>
	</body>
</html>
