<div class="contentTopMain">
	<div class="banner_box">
		<img src="../../../static/custom/coursePortal/img/banner.gif"/>
	</div>
	<div class="showinfo_box">
		<div class="showinfo_box_cont">
			<dl class="list_info1">
				<dt><img src="../../../static/custom/coursePortal/img/user_photo.png"/></dt>
				<dd><span class="userName">张小月</span><span class="systemOut" href="javascript:;">退出</span></dd>
			</dl>
			<p class="list_info2"><span>7</span>门课程</p>
			<ul class="list_info3">
				<li><span>未开始</span><p>2</p></li>
				<li><span>进行中</span><p>5</p></li>
				<li><span>已完成</span><p>10</p></li>
			</ul>
			<a class="list_info4" href="javascript:;">我的课程</a>
		</div>
	</div>
</div>
