<div class="weui-flex select_lists">
    <div class="weui-flex__item"><a class="list_" href="javascript:;"><i class="list_1"></i><span>今日</span></a></div>
    <div class="weui-flex__item"><a class="list_" href="javascript:;"><i class="list_2"></i><span>本周</span></a></div>
    <div class="weui-flex__item"><a class="list_" href="javascript:;"><i class="list_3"></i><span>本月</span></a></div>
    <div class="weui-flex__item"><a class="list_" href="../search/search.html"><i class="list_4"></i><span>更多</span></a></div>
</div>