<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta content="telephone=yes" name="format-detection">
		<meta content="email=yes" name="format-detection">
		<title>智能终端</title>
		<link rel="stylesheet" type="text/css" href="../../static/comm/plugins/mui/css/mui.css"/>
		<link rel="stylesheet" type="text/css" href="../../static/comm/plugins/mui/css/mui.picker.min.css"/>
		<link rel="stylesheet" type="text/css" href="../../static/comm/plugins/mui/css/mui.poppicker.min.css"/>
		<!--<link rel="stylesheet" type="text/css" href="../../static/custom/smartDevice/css/comm.css"/>-->
		<link rel="stylesheet" type="text/css" href="../../static/custom/smartDevice/css/smartDevice.css"/>
	</head>
	<body>
		<div class="ContainerWarp">
			<div class="header" id="header"></div>
			<div class="mainContent smartDeviceList">
				<div class="contentCenter">
					<div class="small_nav"><p id="smartName">监控</p></div>
					<div class="contentBox" id="contentBox">
						<div class="contentBox_tp">
							<p class="selectList" id="selectListBtn"><span></span><i></i></p>
							<a class="reloadBtn" href="javascript:;"><i></i><b>刷新</b></a>
							<!--<ol class="select_ol" id="select_ol">
								<li><a href="javascript:;">光感传感器</a></li>
								<li><a href="javascript:;">智能开关</a></li>
								<li><a href="javascript:;">一氧化碳侦测器</a></li>
								<li><a href="javascript:;">智能可燃气体报警器</a></li>
								<li><a href="javascript:;">智能温度探测器</a></li>
								<li><a href="javascript:;">智能门磁探测器</a></li>
							</ol>-->
						</div>
						<div class="contentBox_bt">
							
						</div>
					</div>
				</div>
				<div class="footer" id="footer"></div>
			</div>
		</div>
		<script src="../../static/comm/plugins/jQuery/jquery-3.0.0.js"></script>
		<script src="../../static/comm/plugins/Sortable/Sortable.min.js"></script>
		<script src="../../static/comm/plugins/mui/js/mui.min.js"></script>
		<script src="../../static/comm/plugins/mui/js/mui.picker.min.js"></script>
		<script src="../../static/comm/plugins/mui/js/mui.poppicker.min.js"></script>
		<script src="../../static/comm/plugins/echarts/AllEcharts.min.js"></script>
		<script src="../../static/comm/js/commonuse.js"></script>
		<script src="../../static/custom/smartDevice/js/smartDeviceList.js"></script>
		<script type="text/javascript">
		(function($){
			$(function(){
			    //do anything
			    
		    })
		})(jQuery);			
		</script>
	</body>
</html>
