<ion-view view-title="笔记详情" class="bgwhite">
  <ion-content class="padding">
    <div class="content detail">
      <div class="list data">
        <p>设竖直方向上为y轴正方向，如图曲线为一质点沿轴运动的位置——时间（y-t）图像，则下图由图可知（）。</p>
        <p class="time"><img src="../../../static/custom/mySource/img/time-icon.svg"> 2017-12-26 17:21</p>
        <p class="collection"><img src="../../../static/custom/mySource/img/tag.svg"> <a class="tags" href="">笔记</a></p>
        <div class="divide"></div>
        <center><img class="noteImg" src="../../../../static/custom/mySource/img/note.png"></center>
      </div>
    </div>
  </ion-content>
</ion-view>
