
<ion-tabs class="tabs-icon-top tabs-positive">
  <!-- sources Tab -->
  <ion-tab title="资源" icon-off="ion-ios-book-outline" icon-on="ion-ios-book" href="#/tab/sources">
    <ion-nav-view name="tab-sources"></ion-nav-view>
  </ion-tab>
  <!-- collect Tab -->
  <ion-tab title="收藏" icon-off="ion-ios-star-outline" icon-on="ion-ios-star" href="#/tab/collect">
    <ion-nav-view name="tab-collect"></ion-nav-view>
  </ion-tab>
  <!-- errors Tab -->
  <ion-tab title="错题" icon-off="ion-ios-help-outline" icon-on="ion-ios-help" href="#/tab/errors">
    <ion-nav-view name="tab-errors"></ion-nav-view>
  </ion-tab>
  <!-- notes Tab -->
  <ion-tab title="笔记" icon-off="ion-ios-bookmarks-outline" icon-on="ion-ios-bookmarks" href="#/tab/notes">
    <ion-nav-view name="tab-notes"></ion-nav-view>
  </ion-tab>
<!-- edit Tab
<ion-tab title="编辑" icon-off="ion-ios-compose-outline" icon-on="ion-ios-compose" href="#/tab/edit">
  <ion-nav-view name="tab-edit"></ion-nav-view>
</ion-tab>  -->
  <!-- account Tab -->
  <ion-tab title="我的" icon-off=" ion-ios-person-outline" icon-on=" ion-ios-person" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>
</ion-tabs>
