html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dd,
dl,
dt,
li,
ol,
ul,
fieldset,
form,
label,
legend {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
img {
  border: none;
}
p {
  margin-bottom: 0;
}
body,
a,
input,
select,
button {
  font-family: "Microsoft Yahei", "Droid Sans Fallback", "Arial", "Helvetica", "sans-serif", "宋体";
  font-size: 14px;
  outline: none;
  color: #666;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);/*去除获取焦点时半透明背景*/
}
ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
a {
  color: #428bca;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
table {
  text-align: center;
  vertical-align: middle;
}
th {
  text-align: center;
  vertical-align: middle;
}
/*@media only screen and (min-width: 1441px) { html{ font-size: 120px; }}
.re(1440px);
.re(1280px);
.re(1024px);
.re(960px);
.re(950px);
.re(900px);
.re(800px);
.re(773px);
.re(768px);
.re(736px);
.re(732px);
.re(731px);
.re(667px);
.re(640px);
.re(600px);
.re(568px);
.re(533px);
.re(435px);
.re(414px);
.re(411px);
.re(384px);
.re(375px);
.re(360px);
.re(320px);*/
.text_no_select {
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
.box-shadow-round {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.self_flex_content { /*定义父元素*/
  display: box;/*（伸缩盒最老版本）*/
  display: -webkit-box;/* iOS 6-, Safari 3.1-6 */
  display: -webkit-flex;/* Chrome */
  display: -moz-box;/* Firefox 19 */
  display: -ms-flexbox;
  display: flex;/*flex容器*/
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
}
/*去掉input默认上下箭头*/
.input_jiantou_hide input::-webkit-outer-spin-button,
.input_jiantou_hide input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.input_jiantou_hide input[type="number"] {
  -moz-appearance: textfield;
}
.input_jiantou_hide input {
  -webkit-appearance: none;
/*去除input默认样式*/ }
.input_jiantou_hide input[type="submit"],
.input_jiantou_hide input[type="reset"],
.input_jiantou_hide input[type="button"],
.input_jiantou_hide input {
  -webkit-appearance: none;
}
.input_jiantou_hide input::-ms-clear {
  display: none;
}
.select_jiantou_hide {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
}
.select_jiantou_hide::-ms-expand {
  display: none;
}
.AnimationRotate360 {
  -webkit-animation: Rotating 1s linear infinite;
  -moz-animation: Rotating 1s linear infinite;
  -ms-animation: Rotating 1s linear infinite;
  animation: Rotating 1s linear infinite;
}
@keyframes Rotating {
  from {
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
@-webkit-keyframes Rotating {
  from {
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
@-moz-keyframes Rotating {
  from {
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
@-o-keyframes Rotating {
  from {
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
@-ms-keyframes Rotating {
  from {
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
.small_hand {
  cursor: pointer;
}
/*超出隐藏另外加宽*/
.hideellipsis,
.widthHide2 {
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
}
/*媒体查询*/
@media screen and (min-width: 641px) {
  html {
    font-size: 86px;
  }
}
@media (max-width: 642px) {
  html {
    font-size: 85.33333333333333px;
  }
}
@media (max-width: 602px) {
  html {
    font-size: 80px;
  }
}
@media (max-width: 570px) {
  html {
    font-size: 75.73333333333333px;
  }
}
@media (max-width: 535px) {
  html {
    font-size: 71.06666666666666px;
  }
}
@media (max-width: 437px) {
  html {
    font-size: 58.00000000000001px;
  }
}
@media (max-width: 416px) {
  html {
    font-size: 55.199999999999996px;
  }
}
@media (max-width: 413px) {
  html {
    font-size: 54.8px;
  }
}
@media (max-width: 386px) {
  html {
    font-size: 51.2px;
  }
}
@media (max-width: 377px) {
  html {
    font-size: 50px;
  }
}
@media (max-width: 362px) {
  html {
    font-size: 48px;
  }
}
@media (max-width: 322px) {
  html {
    font-size: 42.666666666666664px;
  }
}
html,
body {
  width: 100%;
  height: 100%;
  max-width: 640px;
  overflow: hidden;
  margin: 0 auto;
  font-family: "Microsoft Yahei";
  position: relative;
}
/*通用样式*/
.ScollCssZero {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  overflow-x: hidden;
}
.ColorFS1 {
  font-size: 0.28rem;
  color: #111111;
}
.bg_white {
  background: white;
}
.padding_l_r {
  padding: 0 0.24rem 0 0.24rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.padding_l_r2 {
  padding: 0 0.2rem 0 0.2rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.container .header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 30;
  width: 100%;
  height: 0.9rem;
}
.container .header > .headerContent {
  border-bottom: 1px solid #ccc;
  width: 100%;
  height: 100%;
  color: #111;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: white;
}
.container .header > .headerContent > .headerContent_tp {
  width: 100%;
  height: 0.88rem;
  line-height: 0.88rem;
  text-align: center;
  font-size: 0.32rem;
}
.container .header > .headerContent > .headerContent_tp > .search_a {
  position: absolute;
  top: 0;
  right: 0.24rem;
  width: 1rem;
  height: 0.9rem;
  line-height: 0.9rem;
  text-align: right;
}
.container .header > .headerContent > .headerContent_tp > .search_a > i {
  font-size: 0.44rem;
  color: #111;
}
.container .mainContent {
  padding: 0.9rem 0 0;
  font-size: 0.28rem;
  color: #111111;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  overflow-x: hidden;
  background: #efeff4;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.container .mainContent.mainContent2 {
  padding: 1.76rem 0 0.98rem 0;
}
.container .mainContent.mainContent3 {
  padding: 0rem 0 0 0;
}
/*# sourceMappingURL=comm_wx.css.map */
