<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta content="telephone=yes" name="format-detection">
		<meta content="email=yes" name="format-detection">
		<title>学创教育-帐号设置</title>
		<link rel="stylesheet" type="text/css" href="../../component_module/bootstrap/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="css/userCenter_Pc.css"/>
		
	</head>
	<body>
		<div class="ContainerMain userInfo_photoset">
			<!--头部start-->
			<div class="header">
				<div class="header_lt">
					<img src="img/logo.png"/>
				</div>
				<div class="header_rt">
					<div class="system_out">
						<!--<img class="syetemCloseImg" src="img/icon_2.png"/>-->
						<span class="syetemCloseImg"></span>
					</div>
					<div class="user_box">
						<div class="user_box_tp">
							<img class="nav_status" src="img/icon_6.png"/>
							<span class="user_name" id="user_name">慕容欣欣</span>
							<img class="user_photo" src="img/touxaing.jpg"/>
						</div>
						<div class="user_box_bt">
							<ul class="shezhiNav">
								<div class="user_box_triangle"></div>
	                			<li><img src="img/icon_2.png"/><a href="javascript:;">个人设置</a></li>
	                			<li><img src="img/icon_2.png"/><a href="javascript:;">账号安全</a></li>
	                			<li><img src="img/icon_2.png"/><a href="javascript:;" class="user_outBtn">退出系统</a></li>
	                		</ul>
						</div>
					</div>
				</div>
			</div>
			<!--头部end-->
			
			<div class="main_nav_box">
				<ul class="main_nav">
					<li class="activeli"><a href="javascript:;">首页</a></li>
					<li><a href="javascript:;">密保工具</a></li>
					<li><a href="javascript:;">密码管理</a></li>
					<li><a href="javascript:;">帐号关联</a></li>
				</ul>
			</div>
			
			<!--主内容模块-->
			<div class="Con_Main">
				<div class="MainCenter">
					<div class="MainCenter_left">
						<h4 class="small_title"><i class="iconfont icon-gerenshezhi"></i>个人设置</h4>
						<ul class="info_nav_list">
							<li><a href="UserInfo_basic.html">基本资料</a></li>
							<li class="activeLi"><a href="javascript:;">头像设置</a></li>
						</ul>
					</div>
					<div class="MainCenter_right">
						<div class="small_nav">头像设置</div>
						<div class="MainCenter_rt_content">
							<div class="photoset_nav"><a class="activeA" href="javascript:;">自定义头像</a><a href="javascript:;">热门头像</a></div>
							<div class="content_photo">
								<div class="content_photo_lt">
									<div class="photo_lt_tp">
										<div class="photoCroppingBox">
											<img src='img/touxaing.jpg'/>
										</div>
										<div class="ActionList_box">
											<div class="ActionList ActionOne">
												<p class="action_tips">方法一：选择本地照片，上传编辑自己的头像</p>
												<p class="action_handle">
													<a class="selectPhotoBtn" href="javascript:;">选择图片</a>
													<span>支持jpg、jpeg、gif、png、bmp格式的图片</span>
												</p>
											</div>
											<div class="ActionList ActionTwo">
												<p class="action_tips">方法二：选择百度推荐头像，快速上传优质头像</p>
												<div class="action_handle">
													<ul class="photo_select">
														<li><img src="img/touxaing.jpg" alt="" /></li>
														<li><img src="img/touxaing.jpg" alt="" /></li>
														<li><img src="img/touxaing.jpg" alt="" /></li>
														<li><img src="img/touxaing.jpg" alt="" /></li>
														<li><img src="img/touxaing.jpg" alt="" /></li>
													</ul>
													<a class="morePhotoBtn" href="javascript:;">更多<i class="iconfont icon-gengduo"></i></a>
												</div>
											</div>
										</div>
										<div class="common_photo_box">
											<ul class="photo_select">
												<li><img src="img/touxaing.jpg"/></li>
												<li><img src="img/touxaing.jpg"/></li>
												<li><img src="img/touxaing.jpg"/></li>
												<li><img src="img/touxaing.jpg"/></li>
												<li><img src="img/touxaing.jpg"/></li>
												<li><img src="img/touxaing.jpg"/></li>
												<li><img src="img/touxaing.jpg"/></li>
												<li><img src="img/touxaing.jpg"/></li>
												<li><img src="img/touxaing.jpg"/></li>
												<li><img src="img/touxaing.jpg"/></li>
												<li><img src="img/touxaing.jpg"/></li>
												<li><img src="img/touxaing.jpg"/></li>
											</ul>
										</div>
									</div>
									<div class="button_box photo_lt_bt">
										<button class="button_sure" type="button">保存头像</button>
										<button class="resetPhotoBtn" type="button">重新选择</button>
									</div>
								</div>
								<div class="content_photo_rt">
									<h5>头像预览</h5>
									<dl class="photo_size">
										<dt><img class="big_photo" src="img/un_photo.jpg"/><p>大头像100*100</p]></dt>
										<dd><img src="img/un_photo.jpg"/><p>小头像50*50</p></dd>
									</dl>
									
									<div class="historylist_photo_box">
										<p>我使用过的头像</p>
										<ul class="historylist_photo">
											<li><img src="img/touxaing.jpg"/></li>
											<li><img src="img/touxaing.jpg"/></li>
											<li><img src="img/touxaing.jpg"/></li>
										</ul>
									</div>
									
								</div>
							</div>
							
						</div>
					</div>
				</div>
			    <!--底部-->
				<div class="footer">
					<p>Copyright © 2017 Enable-ETS Corporation. All Rights Reserved.&emsp;&emsp;&emsp;建议浏览器：IE9+、Google Chrome、Firefox</p>
			    </div>
			</div>
			
		</div>
		
		<script src="../../component_module/jquery/jquery-3.0.0.js"></script>
		<script src="../../component_module/bootstrap/bootstrap.min.js"></script>
		<script src="js/CommonUserCenter_Pc.js"></script>
		<script>
			//点击更多公共头像出来
			$(".morePhotoBtn").click(function(){
				$(".ActionList_box").hide();
				$(".common_photo_box").show();
				$(".photoset_nav a").eq(1).addClass('activeA').siblings('a').removeClass('activeA');
			})
			
			//小导航切换
			$(".photoset_nav a").each(function(){
				$(this).click(function(){
					var $index=$(this).index();
					if ($index==0) {
						$(this).addClass('activeA').siblings('a').removeClass('activeA');
						$(".common_photo_box").hide();
						$(".ActionList_box").show();
					} else if($index==1){
						$(this).addClass('activeA').siblings('a').removeClass('activeA');
						$(".ActionList_box").hide();
						$(".common_photo_box").show();
					}
				})
			})
		</script>
	</body>
</html>
