<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta content="telephone=yes" name="format-detection">
		<meta content="email=yes" name="format-detection">
		<title>学创教育-帐号设置</title>
		<link rel="stylesheet" type="text/css" href="../../component_module/bootstrap/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="css/userCenter_Pc.css"/>
		
	</head>
	<body>
		<div class="ContainerMain UserAccountsecurity">
			<!--头部start-->
			<div class="header">
				<div class="header_lt">
					<img src="img/logo.png"/>
				</div>
				<div class="header_rt">
					<div class="system_out">
						<!--<img class="syetemCloseImg" src="img/icon_2.png"/>-->
						<span class="syetemCloseImg"></span>
					</div>
					<div class="user_box">
						<div class="user_box_tp">
							<img class="nav_status" src="img/icon_6.png"/>
							<span class="user_name" id="user_name">慕容欣欣</span>
							<img class="user_photo" src="img/touxaing.jpg"/>
						</div>
						<div class="user_box_bt">
							<ul class="shezhiNav">
								<div class="user_box_triangle"></div>
	                			<li><img src="img/icon_set.png"/><a href="javascript:;">个人设置</a></li>
	                			<li><img src="img/icon_safety.png"/><a href="javascript:;">账号安全</a></li>
	                			<li><img src="img/icon_systemout.png"/><a href="javascript:;" class="user_outBtn">退出系统</a></li>
	                		</ul>
						</div>
					</div>
				</div>
			</div>
			<!--头部end-->
			
			<div class="main_nav_box">
				<ul class="main_nav">
					<li><a href="javascript:;">首页</a></li>
					<li class="activeli"><a href="javascript:;">密保工具</a></li>
					<li><a href="javascript:;">密码管理</a></li>
					<li><a href="javascript:;">帐号关联</a></li>
				</ul>
			</div>
			
			<!--主内容模块-->
			<div class="Con_Main">
				<div class="MainCenter">
					<div class="page_tips">由于您的帐号信息不完善，请直接去<a href="javascript:;">补填信息</a>页面快速完成密保工具的绑定。</div>
					<ul class="Accountsecurity_ul">
						<li>
							<div class="list_lt">
								<span class="icon_box">
									<i class="iconfont icon-shouji"></i>
									<i class="iconfont icon-tuijian_a Hot_Aicon"></i>
								</span>
							</div>
							<div class="list_rt">
								<div class="list_rt_tp"><span>手机：<b>136****2548</b></span><a class="active_a" href="javascript:;">[修改]</a><a class="active_a" href="javascript:;">[解绑]</a></div>
								<ol class="list_rt_bt">
									<li>手机可以用来登录，修改、找回密码</li>
									<li>请勿随意泄露手机号，以防不法分子利用造成个人损失</li>
								</ol>
							</div>
						</li>
						
						<li>
							<div class="list_lt">
								<span class="icon_box">
									<i class="iconfont icon-youxiang"></i>
								</span>
							</div>
							<div class="list_rt">
								<div class="list_rt_tp"><span>密保邮箱：<b>236****2548@qq.com</b></span><a class="active_a" href="javascript:;">[修改]</a><a class="active_a" href="javascript:;">[解绑]</a></div>
								<ol class="list_rt_bt">
									<li>密保邮箱可以用来登录，修改、找回密码</li>
									<li>请勿随意泄露邮箱信息、轻信他人邮件，以防不法分子利用造成个人损失</li>
								</ol>
							</div>
						</li>
						
						<li>
							<div class="list_lt">
								<span class="icon_box">
									<i class="iconfont icon-mimabaohu"></i>
								</span>
							</div>
							<div class="list_rt">
								<div class="list_rt_tp"><span>密保问题：<b></b></span><a class="active_a" href="javascript:;">[修改]</a><a class="active_a" href="javascript:;">[删除]</a></div>
								<ol class="list_rt_bt">
									<li>密保问题可以用来进行找回密码等关键操作的身份验证，保证您帐号安全</li>
									<li>请勿随意泄露密保问题，以防不法分子利用，造成个人损失</li>
								</ol>
							</div>
						</li>
					</ul>
				</div>
			    <!--底部-->
				<div class="footer">
					<p>Copyright © 2017 Enable-ETS Corporation. All Rights Reserved.&emsp;&emsp;&emsp;建议浏览器：IE9+、Google Chrome、Firefox</p>
			    </div>
			</div>
			
		</div>
		
		<script src="../../component_module/jquery/jquery-3.0.0.js"></script>
		<script src="../../component_module/bootstrap/bootstrap.min.js"></script>
		<script src="js/CommonUserCenter_Pc.js"></script>
		<script>
			
		</script>
	</body>
</html>
