<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-6723188equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta content="telephone=yes" name="format-detection">
		<meta content="email=yes" name="format-detection">
		<title>模板demo</title>
		<link rel="stylesheet" type="text/css" href="../../../static/comm/plugins/weui/weui.min.css"/>
		<!--<link rel="stylesheet" type="text/css" href="../../../static/comm/css/comm_wx.css"/>-->
		<link rel="stylesheet" type="text/css" href="../../../static/custom/familySchoolCommunication/css/mobile4WeChat.css"/>
	</head>
	<body>
		<div class="container pageDetails">
			<!--<div class="header" id="header"></div>-->
			<div class="mainContent mainContent3">
				<div class="detailBox">
					<div class="weui-cell">
		                <div class="weui-cell__hd">
		                    <img src="../../../static/custom/familySchoolCommunication/img/listImg2.jpg" alt="照片">
		                </div>
		                <div class="weui-cell__bd">
		                    <p class="teacher_name">王老师</p>
		                    <p class="date_box"><span class="date_ymd">2017-11-22</span><span class="date_hms">15:20:35</span></p>
		                </div>
		            </div>
		            
		            <dl class="detail_info">
		            	<dt>今天的作业已经发送给你，具体如下：</dt>
		            	<dd>
		            		<p>语文考卷第一章第一节测试题</p>
		            		<span>如有问题请及时与老师联系，谢谢！</span>
		            	</dd>
		            </dl>
				</div>
			</div>
			<!--<div class="footer" id="footer"></div>-->
		</div>
		
		<script type="text/javascript" src="../../../static/comm/plugins/jQuery/jquery-3.0.0.js"></script>
		<script type="text/javascript" src="../../../static/comm/plugins/mui/js/mui.min.js"></script>
		<script src="../../../static/custom/familySchoolCommunication/js/commModelApp.js"></script>
		<script>
			(function($){
				$(function(){
					//start
				    
				    //end    
			    })
			})(jQuery);	
		</script>
		
	</body>
</html>
