<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta content="telephone=yes" name="format-detection">
		<meta content="email=yes" name="format-detection">
		<title>资源库模板</title>
		<!--<link rel="stylesheet" type="text/css" href="../../static/comm/css/comm.css"/>-->
		<link rel="stylesheet" type="text/css" href="../../static/custom/coursePortal/css/coursePortal.css"/>
	</head>
	<body>
		<div class="ContainerWarp">
			<div class="header" id="header"></div>
			<div class="mainContent coursePortalindex">
				<div class="contentTop" id="contentTop"></div>
				<div class="contentCenter">
					<div class="contentCenter_tp">
						<div class="contentCenter_tp_cont">
							<a class="tab_a" href="javascript:;">最新</a>
							<a class="tab_a tab_a_on" href="javascript:;">最热</a>
							<div class="select_subject "><span>学科</span><i></i></div>
						</div>
					</div>
					<div class="contentCenter_bt">
						<div class="courseListBox">
							<dl class="courseList list_apply">
								<dt><img src="../../static/custom/coursePortal/img/courselistImg/listimg_1.png"/></dt>
								<dd>
									<p>双十一名师峰会--选择学习不剁手，知识自愿跟你走</p>
									<div class="list_tips"><span class="list_tips_lt"><b>1205</b>人参加</span><span class="list_tips_rt">谭老师</span></div>
								</dd>
							</dl>
							<dl class="courseList">
								<dt><img src="../../static/custom/coursePortal/img/courselistImg/listimg_2.png"/></dt>
								<dd>
									<p>双十一名师峰会--选择学习不剁手，知识自愿跟你走</p>
									<div class="list_tips"><span class="list_tips_lt"><b>1205</b>人参加</span><span class="list_tips_rt">谭老师</span></div>
								</dd>
							</dl>
							<dl class="courseList">
								<dt><img src="../../static/custom/coursePortal/img/courselistImg/listimg_3.png"/></dt>
								<dd>
									<p>双十一名师峰会--选择学习不剁手，知识自愿跟你走</p>
									<div class="list_tips"><span class="list_tips_lt"><b>1205</b>人参加</span><span class="list_tips_rt">谭老师</span></div>
								</dd>
							</dl>
							<dl class="courseList">
								<dt><img src="../../static/custom/coursePortal/img/courselistImg/listimg_4.png"/></dt>
								<dd>
									<p>双十一名师峰会--选择学习不剁手，知识自愿跟你走</p>
									<div class="list_tips"><span class="list_tips_lt"><b>1205</b>人参加</span><span class="list_tips_rt">谭老师</span></div>
								</dd>
							</dl>
							<dl class="courseList">
								<dt><img src="../../static/custom/coursePortal/img/courselistImg/listimg_5.png"/></dt>
								<dd>
									<p>双十一名师峰会--选择学习不剁手，知识自愿跟你走</p>
									<div class="list_tips"><span class="list_tips_lt"><b>1205</b>人参加</span><span class="list_tips_rt">谭老师</span></div>
								</dd>
							</dl>
							<dl class="courseList">
								<dt><img src="../../static/custom/coursePortal/img/courselistImg/listimg_6.png"/></dt>
								<dd>
									<p>双十一名师峰会--选择学习不剁手，知识自愿跟你走</p>
									<div class="list_tips"><span class="list_tips_lt"><b>1205</b>人参加</span><span class="list_tips_rt">谭老师</span></div>
								</dd>
							</dl>
							<dl class="courseList">
								<dt><img src="../../static/custom/coursePortal/img/courselistImg/listimg_7.png"/></dt>
								<dd>
									<p>双十一名师峰会--选择学习不剁手，知识自愿跟你走</p>
									<div class="list_tips"><span class="list_tips_lt"><b>1205</b>人参加</span><span class="list_tips_rt">谭老师</span></div>
								</dd>
							</dl>
							<dl class="courseList">
								<dt><img src="../../static/custom/coursePortal/img/courselistImg/listimg_8.png"/></dt>
								<dd>
									<p>双十一名师峰会--选择学习不剁手，知识自愿跟你走</p>
									<div class="list_tips"><span class="list_tips_lt"><b>1205</b>人参加</span><span class="list_tips_rt">谭老师</span></div>
								</dd>
							</dl>
							<dl class="courseList">
								<dt><img src="../../static/custom/coursePortal/img/courselistImg/listimg_9.png"/></dt>
								<dd>
									<p>双十一名师峰会--选择学习不剁手，知识自愿跟你走</p>
									<div class="list_tips"><span class="list_tips_lt"><b>1205</b>人参加</span><span class="list_tips_rt">谭老师</span></div>
								</dd>
							</dl>
							<dl class="courseList">
								<dt><img src="../../static/custom/coursePortal/img/courselistImg/listimg_10.png"/></dt>
								<dd>
									<p>双十一名师峰会--选择学习不剁手，知识自愿跟你走</p>
									<div class="list_tips"><span class="list_tips_lt"><b>1205</b>人参加</span><span class="list_tips_rt">谭老师</span></div>
								</dd>
							</dl>
							<dl class="courseList">
								<dt><img src="../../static/custom/coursePortal/img/courselistImg/listimg_11.png"/></dt>
								<dd>
									<p>双十一名师峰会--选择学习不剁手，知识自愿跟你走</p>
									<div class="list_tips"><span class="list_tips_lt"><b>1205</b>人参加</span><span class="list_tips_rt">谭老师</span></div>
								</dd>
							</dl>
							<dl class="courseList">
								<dt><img src="../../static/custom/coursePortal/img/courselistImg/listimg_12.png"/></dt>
								<dd>
									<p>双十一名师峰会--选择学习不剁手，知识自愿跟你走</p>
									<div class="list_tips"><span class="list_tips_lt"><b>1205</b>人参加</span><span class="list_tips_rt">谭老师</span></div>
								</dd>
							</dl>
							<dl class="courseList">
								<dt><img src="../../static/custom/coursePortal/img/courselistImg/listimg_13.png"/></dt>
								<dd>
									<p>双十一名师峰会--选择学习不剁手，知识自愿跟你走</p>
									<div class="list_tips"><span class="list_tips_lt"><b>1205</b>人参加</span><span class="list_tips_rt">谭老师</span></div>
								</dd>
							</dl>
							<dl class="courseList">
								<dt><img src="../../static/custom/coursePortal/img/courselistImg/listimg_14.png"/></dt>
								<dd>
									<p>双十一名师峰会--选择学习不剁手，知识自愿跟你走</p>
									<div class="list_tips"><span class="list_tips_lt"><b>1205</b>人参加</span><span class="list_tips_rt">谭老师</span></div>
								</dd>
							</dl>
							<dl class="courseList">
								<dt><img src="../../static/custom/coursePortal/img/courselistImg/listimg_15.png"/></dt>
								<dd>
									<p>双十一名师峰会--选择学习不剁手，知识自愿跟你走</p>
									<div class="list_tips"><span class="list_tips_lt"><b>1205</b>人参加</span><span class="list_tips_rt">谭老师</span></div>
								</dd>
							</dl>
						</div>
						<!--分页-->
						<div class="page_box">
							<!--<div class="page_box_tips">共<b>100</b>条记录,当前是第<span class="pageNum">1</span>页,每页10条</div>-->
							<ul class="pageOne" maxshowpageitem="5" pagelistcount="10"  id="pageOne"></ul>
						</div>
					</div>
				</div>
			</div>
			<div class="footer" id="footer"></div>
		</div>
		
		<script src="../../static/comm/plugins/jQuery/jquery-3.0.0.js"></script>
		<script src="../../static/comm/plugins/paging/page.js"></script>
		<script src="../../static/custom/coursePortal/js/comm1.js"></script>
		
		<script type="text/javascript">
		(function($){
			$(function(){
			    //do anything
			    //最新最热选择 学科选择
			    var handNavFn=function(){
			    	//最新最热选择
			    	$(".tab_a").each(function(){
			    		$(this).bind('click',function(){
			    			$(this).addClass('tab_a_on').siblings('.tab_a').removeClass('tab_a_on');
			    		})
			    	})
			    	
			    	//学科选择
			    	var subject=['语文','数学','英语','历史','化学','生物','地理','思想政治','音乐','制图','计算机','体育'];
			    	function subjectFn($Array){
			    		var $subject_lists=$("<ul class='subject_lists'></ul>");
			    		$(".select_subject").append($subject_lists);
			    		for (var i in $Array) {
			    			var $li=$("<li><a href='javascript:;'>"+$Array[i]+"</a></li>");
			    			$subject_lists.append($li);
			    		}
			    		//点击学科
			    		$(".subject_lists li").each(function(){
			    			$(this).bind('click',function(){
			    				$(this).addClass('active_li');
			    				$(this).siblings().removeClass('active_li');
			    				$(".select_subject>span").html($(this).find('a').html());
			    				$(this).parent().hide();
			    			})
			    		})
			    		
			    		//点击选择学科
			    		$(".select_subject").bind('click',function(){
			    			if ($(this).find('i').hasClass('Rotate_180')) {
			    				$(this).find('i').removeClass('Rotate_180');
			    				$(".subject_lists").hide();
			    			} else{
			    				$(this).find('i').addClass('Rotate_180');
			    				$(".subject_lists").show();
			    			}
			    		})
			    	}
			    	subjectFn(subject);
			    }
			    $(document).ready(handNavFn);
			    
			    var paging = {
			        "pageData":function(pageNum){
			            console.log(pageNum)
			            //$(".pageNum").html(pageNum);
			            //所执行的函数
			        }
			    }
			    $("#pageOne").initPage(100,1,paging.pageData);//1、所有数据条数（自动每页十条）2、初次加载显示的页数 3、所执行函数    
			        
		    })
		})(jQuery);
		</script>
	</body>
</html>
