<ion-view view-title="资源详情" class="bgwhite">
  <ion-content class="padding">
    <div class="content detail">
      <div class="list card data">
        <p>2018中考语文总复习（安徽专版）名师课件：1.4 专题四 语文综合应用 （共122张PPT）</p>
        <p class="time"><img src="img/time-icon.svg"> 2017-12-26 17:21</p>
        <p class="collection"><img src="img/tag.svg"> <a class="tags" href="">收藏</a></p>
        <div class="row top-line">
          <div class="col col-33">
            <a href="#/tab/edit" class="button button-outline button-positive">
            编辑标签
          </a>
          </div>
          <div class="col col-33">
            <a href="#/tab/account" class="button button-outline button-positive">
            分享
          </a>
          </div>
          <div class="col col-33">
            <a class="button button-outline button-positive">
            删除
          </a>
          </div>
        </div>
      </div>
      <h4 class="download-h4 bdb"><img src="img/resource.svg"> 资源</h4>
      <div class="list download">
        <a class="item item-icon-right" href="#">
          2018年中考语文18道应用题的一题多解
          <i class="icon"><img src="img/download.svg"></i>
        </a>
        <a class="item item-icon-right" href="#">
          2018年中考语文18道应用题的一题多解
          <i class="icon"><img src="img/download.svg"></i>
        </a>
      </div>
      <h4 class="download-h4"><img src="img/comment.svg"> 评论</h4>
       <label class="item item-input">
        <textarea name="" id="" cols="53" rows="5" class="comment" placeholder="很好，不错！非常好！"></textarea>
      </label>
      <div class="item item-input-inset">
        <label class="col col-75">
        </label>
        <button class="button button-small searchBtn col">
          提交
        </button>
      </div>
      <div class="list">
        <p class="comment-person"><img src="img/student.svg"> 张小米</p>
        <p class="time comment-time">2017-12-26 17:21</p>
        <p class="collection comment-content">这个挺不错的！</p>
      </div>
      <div class="collecting" ng-click="toggleGroup(group)"
                    ng-class="{active: isGroupShown(group)}">
          <div ng-show="isGroupShown(group)">
            <p>
              <img src="img/collect.svg">
            </p>
            <p>收藏</p>
          </div>
         <div ng-show="!isGroupShown(group)">
           <p>
            <img src="img/collected.svg">
          </p>
          <p>已收藏</p>
         </div>   
        
      </div>
    </div>
  </ion-content>
</ion-view>
