<ion-view view-title="我的资源">
    <div class="bar bar-subheader">
      <div class="top">
        <ul class="top-nav">
          <li>错题</li>
          <li>笔记</li>
          <li class="active">收藏</li>
          <li>其它</li>
          <div class="clear"></div>
      </ul>
      <div class="row">
        <div class="col col-33 pdl0">
          <label class="item item-input item-select subject" ng-click="modal.show()">
            <input type="search" placeholder="" ng-model="subject" value="{{subject}}" ng-init="subject='数学'">
          </label>
        </div>
        <div class="col pdr0">
        <a class="button search" href="#/tab/chats"><img src="img/search.svg"> 搜索</a>
<!--         <a class="item-input-wrapper">
    <i class="icon ion-ios-search placeholder-icon"></i>
    <input type="search" placeholder="搜索">
  </a> -->
        </div>
      </div>
    </div>
  </div>
  <ion-content class="padding">
    <div class="content">
      <div class="list card data">
        <p>2018中考语文总复习（安徽专版）名师课件：1.4 专题四 语文综合应用 （共122张PPT）</p>
        <p class="time"><img src="img/time-icon.svg"> 2017-12-26 17:21</p>
        <p class="collection"><img src="img/tag.svg"> <a href="">收藏</a></p>
        <div class="row top-line">
          <div class="col col-33">
            <a href="myCourse_eidit.html" class="button button-outline button-positive">
            编辑标签
          </a>
          </div>
          <div class="col col-33">
            <a class="button button-outline button-positive">
            分享
          </a>
          </div>
          <div class="col col-33">
            <a class="button button-outline button-positive">
            删除
          </a>
          </div>
        </div>
      </div>
      <div class="list card data">
        <p>2018中考语文总复习（安徽专版）名师课件：1.4 专题四 语文综合应用 （共122张PPT）</p>
        <p class="time"><img src="img/time-icon.svg"> 2017-12-26 17:21</p>
        <p class="collection"><img src="img/tag.svg"> <a href="">收藏</a></p>
        <div class="row top-line">
          <div class="col col-33">
            <a href="myCourse_eidit.html" class="button button-outline button-positive">
            编辑标签
          </a>
          </div>
          <div class="col col-33">
            <a class="button button-outline button-positive">
            分享
          </a>
          </div>
          <div class="col col-33">
            <a class="button button-outline button-positive">
            删除
          </a>
          </div>
        </div>
      </div>
      <div class="list card data">
        <p>2018中考语文总复习（安徽专版）名师课件：1.4 专题四 语文综合应用 （共122张PPT）</p>
        <p class="time"><img src="img/time-icon.svg"> 2017-12-26 17:21</p>
        <p class="collection"><img src="img/tag.svg"> <a href="">收藏</a></p>
        <div class="row top-line">
          <div class="col col-33">
            <a href="myCourse_eidit.html" class="button button-outline button-positive">
            编辑标签
          </a>
          </div>
          <div class="col col-33">
            <a class="button button-outline button-positive">
            分享
          </a>
          </div>
          <div class="col col-33">
            <a class="button button-outline button-positive">
            删除
          </a>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
<script id="templates/modal.html" type="text/ng-template">
      <ion-modal-view>
        <ion-content class="pd20 subjects">
          <ion-list>
            <ion-item class="bdt0">
              选择学科
            </ion-item>
            <ion-item ng-repeat="s in subjects" ng-model="$index" ng-click="selectSubject($index)">
              {{s}}
            </ion-item>
          </ion-list>
        </ion-content>
      </ion-modal-view>
    </script>
