<ion-view view-title="编辑标签" class="bgwhite">
  <ion-content>
    <div class="top">
      <div class="item item-input-inset">
        <label class="item-input-wrapper search col col-75">
          <input type="text" placeholder="语文试卷">
        </label>
        <button class="button button-small searchBtn col">
          搜索
        </button>
      </div>
      <ul class="top-nav">
          <li>错题</li>
          <li>笔记</li>
          <li>收藏</li>
          <li>其它</li>
          <div class="clear"></div>
      </ul>
      <div class="tags">
        <h5><img src="img/my tag.svg"> 我的标签</h5>
        <ul class="top-nav">
            <li>重点</li>
            <li>难点</li>
            <li>经典案例</li>
            <li>考点</li>
            <li>2018高考重难点</li>
            <div class="clear"></div>
        </ul>
      </div>
      
    </div>
  </ion-content>
</ion-view>
