<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-positive">
  <!-- sources Tab -->
  <ion-tab title="资源" icon-off="ion-ios-book-outline" icon-on="ion-ios-book" href="#/tab/sources">
    <ion-nav-view name="tab-sources"></ion-nav-view>
  </ion-tab>
  <!-- collect Tab -->
  <ion-tab title="收藏" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/collect">
    <ion-nav-view name="tab-collect"></ion-nav-view>
  </ion-tab>
  <!-- errors Tab -->
  <ion-tab title="错题" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/errors">
    <ion-nav-view name="tab-errors"></ion-nav-view>
  </ion-tab>
  <!-- notes Tab -->
  <ion-tab title="笔记" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/notes">
    <ion-nav-view name="tab-notes"></ion-nav-view>
  </ion-tab>
  <!-- edit Tab -->
  <ion-tab title="编辑" icon-off="ion-ios-compose-outline" icon-on="ion-ios-compose" href="#/tab/edit">
    <ion-nav-view name="tab-edit"></ion-nav-view>
  </ion-tab>

  <!-- account Tab -->
  <ion-tab title="我的" icon-off=" ion-ios-person-outline" icon-on=" ion-ios-person" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
