<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta content="telephone=yes" name="format-detection">
		<meta content="email=yes" name="format-detection">
		<title>学创教育</title>
		<link rel="stylesheet" type="text/css" href="../../component_module/bootstrap/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="css/userCenterPh.css"/>
		
	</head>
	<body>
		<div class="ContainerMain userCenterPh_info_photo">
			<div class="header_phone">
				<a href="userCenterPh_info.html"><i class="iconfont icon-left"></i></a>
				<span>我的头像</span>
			</div>
			<!--主内容模块-->
			<div class="Con_Main">
				<div class="MainCenter">
					<div class="photo_set">
						<p><img class="userPhoto" src="img/touxaing.jpg"/></p>
						<div class="set_Btn">
							<button class="self_set" type="button">修改头像</button>
							<button class="system_set" type="button">设置系统头像</button>
						</div>
						<ul class="system_photo">
							<li><img class="syeImg" src="img/touxaing.jpg"/></li>
							<li><img class="syeImg" src="img/touxaing.jpg"/></li>
							<li><img class="syeImg" src="img/touxaing.jpg"/></li>
							<li><img class="syeImg" src="img/touxaing.jpg"/></li>
							<li><img class="syeImg" src="img/touxaing.jpg"/></li>
						</ul>
					</div>
				</div>
			</div>
			
		</div>
		
		<script src="../../component_module/jquery/jquery-3.0.0.js"></script>
		<script src="../../component_module/bootstrap/bootstrap.min.js"></script>
		<script src="js/userCenterPh.js"></script>
		<script>
			(function($){
			    $(function(){
			         //do anything
			
			    })
			})(jQuery);
		</script>
	</body>
</html>
