<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta content="telephone=yes" name="format-detection">
		<meta content="email=yes" name="format-detection">
		<title>学创教育</title>
		<link rel="stylesheet" type="text/css" href="../../component_module/bootstrap/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="css/userCenterPh.css"/>
		
	</head>
	<body>
		<div class="ContainerMain userCenterPh">
			<!--主内容模块-->
			<div class="Con_Main">
				<div class="MainCenter">
					<dl class="MainCenter_top">
						<dt><img class="user_photo" src='img/touxaing.jpg'/></dt>
						<dd>账号：<span>1562562633</span></dd>
						<dd>昵称：<span>looker</span></dd>
					</dl>
					<ol class="MainCenter_bottom">
						<li><i class="iconfont icon-gerenxinxi iColor"></i><a href="userCenterPh_info.html"><span>个人信息</span><i class="iconfont icon-youjiantou"></i></a></li>
						<li><i class="iconfont icon-security-setting iColor"></i><a href="userCenterPh_safe.html"><span>安全中心</span><i class="iconfont icon-youjiantou"></i></a></li>
						<li><i class="iconfont icon-denglulishijilu iColor"></i><a href="javascript:;"><span>登录历史</span><i class="iconfont icon-youjiantou"></i></a></li>
						<li><i class="iconfont icon-xiaoxi iColor"></i><a href="javascript:;"><span>我的消息</span><i class="iconfont icon-youjiantou"></i></a></li>
						<li><i class="iconfont icon-lianxiwomen iColor"></i><a href="tel:15527158299"><span>联系我们</span><em>15527158299</em></a></li>
					</ol>
				</div>
			</div>
			
		</div>
		
		<script src="../../component_module/jquery/jquery-3.0.0.js"></script>
		<script src="../../component_module/bootstrap/bootstrap.min.js"></script>
		<script src="js/userCenterPh.js"></script>
		<script>
			(function($){
			    $(function(){
			         //do anything
			
			    })
			})(jQuery);
		</script>
	</body>
</html>
