<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalabel=no">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta content="telephone=yes" name="format-detection">
		<meta content="email=yes" name="format-detection">
		<title>学创教育</title>
		<link rel="stylesheet" type="text/css" href="../../component_module/bootstrap/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="css/userCenterPh.css"/>
		
	</head>
	<body>
		<div class="ContainerMain userCenterPh_info_mes">
			<div class="header_phone">
				<a href="userCenterPh_info.html"><i class="iconfont icon-left"></i></a>
				<span>基本资料</span>
			</div>
			<!--主内容模块-->
			<div class="Con_Main">
				<div class="MainCenter">
					<form class="mes_set" action="" method="post">
						<ul>
							<li><label>账号：</label><input type="text" readonly id="" value="tea_dfn" /></li>
							<li><label>昵称：</label><input placeholder="请填写昵称" type="text" id="" /></li>
							<li><label>性别：</label><label class="sex_radio"><input type="radio" checked name="sex" id="" value="男"/><em>男</em><input type="radio" name="sex"  id="" value="女"/><em>女</em></label></li>
							<li><label>手机：</label><input placeholder="请填写你的手机号" type="tel" id="" /></li>
							<li><label>邮箱：</label><input placeholder="请填写你的邮箱" type="email" id="" /></li>
							<li><label>说明：</label><textarea name=""></textarea></li>
							<li><button class="sureBtn" type="submit">保存</button><button class="resetBtn" type="reset">重置</button></li>
						</ul>		
					</form>
				</div>
			</div>
			
		</div>
		
		<script src="../../component_module/jquery/jquery-3.0.0.js"></script>
		<script src="../../component_module/bootstrap/bootstrap.min.js"></script>
		<script src="js/userCenterPh.js"></script>
		<script>
			(function($){
			    $(function(){
			         //do anything
			
			    })
			})(jQuery);
		</script>
	</body>
</html>
