<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalabel=no">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta content="telephone=yes" name="format-detection">
		<meta content="email=yes" name="format-detection">
		<title>学创教育</title>
		<link rel="stylesheet" type="text/css" href="../../component_module/bootstrap/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="css/userCenterPh.css"/>
		
	</head>
	<body>
		<div class="ContainerMain userCenterPh_safe_pwd">
			<div class="header_phone">
				<a href="userCenterPh_safe.html"><i class="iconfont icon-left"></i></a>
				<span>修改密码</span>
			</div>
			<!--主内容模块-->
			<div class="Con_Main">
				<div class="MainCenter">
					<form class="mes_set" action="" method="post">
						<ul>
							<li><label>当前密码：</label><input  placeholder="请填写当前密码" type="password" id="" /></li>
							<li><label>新密码：</label><input placeholder="请填新密码" type="password" id="" /></li>
							<li><label>确认密码：</label><input placeholder="请再次填写新密码" type="password" id="" /></li>
							<li><button class="sureBtn" type="submit">保存</button></li>
						</ul>		
					</form>
				</div>
			</div>
			
		</div>
		
		<script src="../../component_module/jquery/jquery-3.0.0.js"></script>
		<script src="../../component_module/bootstrap/bootstrap.min.js"></script>
		<script src="js/userCenterPh.js"></script>
		<script>
			(function($){
			    $(function(){
			         //do anything
			
			    })
			})(jQuery);
		</script>
	</body>
</html>
