<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta content="telephone=yes" name="format-detection">
		<meta content="email=yes" name="format-detection">
		<title>学创教育</title>
		<link rel="stylesheet" type="text/css" href="../../component_module/bootstrap/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="css/products.css"/>
		
	</head>
	<body>
		<div class="ContainerMain all_school">
			<!--头部-->
			<div class="header">
				<a href="all_school.html" class="header_logo"><img class="logo_img" src="img/logo.png"/></a>
			    <!--<ul class="header_nav">
			    	<li><a href="javascript:;">首页</a></li>
			    	<li class="resourcesLi"><a href="javascript:;"><span>资源</span><i class="iconfont icon-xiangxia"></i></a></li>
			    	<li><a href="javascript:;">我的空间</a></li>
			    </ul>-->
                <div class="header_user_box">
                	<div class="system_out"><i class="iconfont icon-tuichuxitong1"></i></div>
                	<div class="user_box">
            			<div class="user_top">
            				<a class="is_iphone" href="javascript:;">
            					<img class="touxiang" src='img/touxaing.jpg' />
		                		<span class="user_names"></span>
		                		<span class="span_icon_pc"><i class="iconfont icon-xiangxia1"></i></span>
		                		<span class="span_icon_iphone"><i class="iconfont icon-gengduo"></i></span>
            				</a>
            			</div>
                		<ul class="shezhiNav">
                			<div class="user_box_triangle"></div>
                			<li><i class="iconfont icon-guanli"></i><a href="javascript:;">个人设置</a></li>
                			<li><i class="iconfont icon-zhanghaoanquan"></i><a href="javascript:;">账号安全</a></li>
                			<li><i class="iconfont icon-tuichuxitong1"></i><a href="javascript:;" class="user_outBtn">退出系统</a></li>
                		</ul>
                	</div>
                </div>
			</div>
			
			<!--侧边栏部分-->
			<div class="Aside">
				<div class="aside_btn"><i class="iconfont icon-youjiantou"></i></div>
				<ul class="aside_list">
					<li>1你哈都是对的所所</li>
					<li>2都是对的所</li>
					<li>3都是对的所</li>
					<li>4都是对的所都是对的所</li>
					<li>5都是对的所都是对的所</li>
				</ul>
			</div>
			
			<!--主内容模块-->
			<div class="Con_Main">
				<div class="MainCenter">
					<!--学习阶段的分类导航栏-->
					<div class="container school_phase">
						<div class="row">
							<a class="col-sm-2 col-xs-2 col-md-1 col-lg-1 active" href="all_school.html?schoolPhase=gradeSchool">小学</a>
							<a class="col-sm-2 col-xs-2 col-md-1 col-lg-1" href="all_school.html?schoolPhase=juniorHighSchool">初中</a>
							<a class="col-sm-2 col-xs-2 col-md-1 col-lg-1" href="all_school.html?schoolPhase=vocationalSchool">职高</a>
							<a class="col-sm-2 col-xs-2 col-md-1 col-lg-1" href="all_school.html?schoolPhase=seniorHighSchool">高中</a>
							<a class="col-sm-2 col-xs-2 col-md-1 col-lg-1" href="all_school.html?schoolPhase=university">大学</a>
						</div>
					</div>
					
					<!--展现学校班级教师学生状况-->
					<div class="container all_school_total">
						<p><i class="iconfont icon-all"></i><span class="school_name">全部学校</span><i class="iconfont icon-xiangxia ol_hide"></i></p>
						<ol class="row school_qk_list">
							<li class="col-sm-12 col-xs-12 col-md-3 col-lg-3"><p><span><i class="iconfont icon-xuexiao"></i>&nbsp;</span><b class="school_nums"><em>60</em>学校</b></p></li>
							<li class="col-sm-12 col-xs-12 col-md-3 col-lg-3"><p><span><i class="iconfont icon-banji"></i>&nbsp;</span><b class="school_grade"><em>1200</em>班级</b></p></li>
							<li class="col-sm-12 col-xs-12 col-md-3 col-lg-3"><p><span><i class="iconfont icon-laoshi"></i><i class="iconfont icon-laoshitubiao"></i></span><b class="school_teacher"><em>3200</em>老师</b></p></li>
							<li class="col-sm-12 col-xs-12 col-md-3 col-lg-3"><p><span><i class="iconfont icon-student"></i><i class="iconfont icon-nansheng"></i></span><b class="school_student"><em>10000</em>学生</b></p></li>
						</ol>
					</div>
					
					<!--内容区域-->
					<div class="container container-fluid main_content">
						<!--<div class="row select_content">
							<form>
							  <div class="form-group col-sm-12 col-xs-12 col-md-4 col-lg-4">
							    <label for="">开始时间：</label>
							    <input type="date" id="startTiem" placeholder="请选择开始时间">
							  </div>
							  <div class="form-group col-sm-12 col-xs-12 col-md-4 col-lg-4">
							    <label for="">结束时间：</label>
							    <input type="date" id="endTime" placeholder="请选择结束时间">
							  </div>
							  <div class="form-group col-sm-12 col-xs-12 col-md-4 col-lg-4">
							    <label for="">学校名称：</label>
							    <input type="text" id="schoolName" placeholder="请选择学校">
							  </div>
							  <div class="form-group col-sm-12 col-xs-12 col-md-4 col-lg-4">
							    <label for="">学习阶段：</label>
							    <select id="LearningPhase">
							    	<option value="--请选择学习段--">--请选择学习段--</option>
							    </select>
							  </div>
							  <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4 col-md-offset-4">
							  	 <button type="button" class="BtnOne btn btn-primary">查找</button>
							  	 <button type="button" class="BtnTwo btn btn-success">导出</button>
							  	 <button type="button" class="BtnThree btn btn-info">返回</button>
							  </div>
							  
							</form>
							
						</div>-->
						<!--统计总表表格部分-->
						<div class="all_table_content">
							<dl class="row">
								<dt class="table_hide"><span>学校信息展示表(课时次前十)</span><i class="iconfont icon-xiangxia"></i></dt>
								<dd class="look_more"><a href="all_school_table.html"><span>更多</span><i class="iconfont icon-gengduo"></i></a></dd>
							</dl>
							
							
							<div class="table-responsive text_center all_school_table_warp">
								<table class="table table-striped table_all">
								   <tr>
								   	 <th>学校</th>
								   	 <th>课时次</th>
								   	 <th>班次/学生次</th>
								   	 <th>上课教师数</th>
								   	 <th>资源数</th>
								   	 <th>学科分布</th>
								   	 <th>测验数/学生次</th>
								   </tr>
								   <tr>
								   	 <td><a href="single_schoolL.html">四川二中</a></td>
								   	 <td>125</td>
								   	 <td>125/1267</td>
								   	 <td>25</td>
								   	 <td>13/13</td>
								   	 <td>14</td>
								   	 <td>162/310</td>
								   </tr>
								   <tr>
								   	 <td><a href="single_schoolL.html">四川二中</a></td>
								   	 <td>125</td>
								   	 <td>125/1267</td>
								   	 <td>25</td>
								   	 <td>13/13</td>
								   	 <td>14</td>
								   	 <td>162/310</td>
								   </tr>
								   <tr>
								   	 <td><a href="single_schoolL.html">四川二中</a></td>
								   	 <td>125</td>
								   	 <td>125/1267</td>
								   	 <td>25</td>
								   	 <td>13/13</td>
								   	 <td>14</td>
								   	 <td>162/310</td>
								   </tr>
								   <tr>
								   	 <td><a href="single_schoolL.html">四川二中</a></td>
								   	 <td>125</td>
								   	 <td>125/1267</td>
								   	 <td>25</td>
								   	 <td>13/13</td>
								   	 <td>14</td>
								   	 <td>162/310</td>
								   </tr>
								</table>
							</div>
						</div>
						
						<!--统计分表图表部分-->
						<div class="row echarts_list_contont">
							<p class="tubiao_title"><span>年级班级与课时次教学活动学生次</span><i class="iconfont icon-xiangxia"></i></p>
							<ul class="sortable">
								<!--课时数与年级比例图-->
								<li class="col-xs-12 col-sm-12 col-md-6 col-lg-6 echarts">
									<div class="changes_nav">
										<div class="changes_nav_one">查看</div>
										<div class="changes_nav_two"><span>一天</span><span>一周</span><span>一个月</span><span>一个学期</span></div>
									</div>
									<div class="echartsTableWarp">
										<div class="echartsList" id="echarts_one"></div>
										<div class="table_warp">
											<table class="table table-condensed table-striped table_item">
											   <tr>
											   	 <th>学校</th>
											   	 <th>教学活动次/学生次</th>
											   	 <th>课时次/学生次</th>
											   </tr>
											   <tr>
											   	 <td>昆山市葛江中学1</td>
											   	 <td>50</td>
											   	 <td>100</td>
											   </tr>
											   <tr>
											   	 <td>昆山市葛江中学2</td>
											   	 <td>60</td>
											   	 <td>120</td>
											   </tr>
											   <tr>
											   	 <td>昆山市葛江中学3</td>
											   	 <td>50</td>
											   	 <td>80</td>
											   </tr>
											</table>
										</div>
									</div>
								</li>
								
								<li class="col-xs-12 col-sm-12 col-md-6 col-lg-6 echarts">
									<div class="changes_nav">
										<div class="changes_nav_one">查看</div>
										<div class="changes_nav_two"><span>一天</span><span>一周</span><span>一个月</span><span>一个学期</span></div>
									</div>
									<div class="echartsTableWarp">
										<div class="echartsList" id="echarts_two"></div>
										<div class="table_warp">
											<table class="table table-condensed table-striped table_item">
											   <tr>
											   	 <th>学校</th>
											   	 <th>教学活动次/学生次</th>
											   	 <th>课时次/学生次</th>
											   </tr>
											   <tr>
											   	 <td>昆山市葛江中学1</td>
											   	 <td>50</td>
											   	 <td>100</td>
											   </tr>
											   <tr>
											   	 <td>昆山市葛江中学2</td>
											   	 <td>60</td>
											   	 <td>120</td>
											   </tr>
											   <tr>
											   	 <td>昆山市葛江中学3</td>
											   	 <td>50</td>
											   	 <td>80</td>
											   </tr>
											</table>
										</div>
									</div>
								</li>
								
								
								<li class="col-xs-12 col-sm-12 col-md-6 col-lg-6 echarts">
									<div class="changes_nav">
										<div class="changes_nav_one">查看</div>
										<div class="changes_nav_two"><span>一天</span><span>一周</span><span>一个月</span><span>一个学期</span></div>
									</div>
									<div class="echartsTableWarp">
										<div class="echartsList" id="echarts_three"></div>
										<div class="table_warp">
											<table class="table table-condensed table-striped table_item">
											   <tr>
											   	 <th>学校</th>
											   	 <th>教学活动次/学生次</th>
											   	 <th>课时次/学生次</th>
											   </tr>
											   <tr>
											   	 <td>昆山市葛江中学1</td>
											   	 <td>50</td>
											   	 <td>100</td>
											   </tr>
											   <tr>
											   	 <td>昆山市葛江中学2</td>
											   	 <td>60</td>
											   	 <td>120</td>
											   </tr>
											   <tr>
											   	 <td>昆山市葛江中学3</td>
											   	 <td>50</td>
											   	 <td>80</td>
											   </tr>
											</table>
										</div>
									</div>
								</li>
								
								<li class="col-xs-12 col-sm-12 col-md-6 col-lg-6 echarts">
									<div class="changes_nav">
										<div class="changes_nav_one">查看4</div>
										<div class="changes_nav_two"><span>一天</span><span>一周</span><span>一个月</span><span>一个学期</span></div>
									</div>
									<div class="echartsTableWarp">
										<div class="echartsList" id="echarts_four"></div>
										<div class="table_warp">
											<table class="table table-condensed table-striped table_item">
											   <tr>
											   	 <th>学校</th>
											   	 <th>语文</th>
											   	 <th>数学</th>
											   	 <th>英语</th>
											   	 <th>历史</th>
											   	 <th>地理</th>
											   	 <th>生物</th>
											   	 <th>化学</th>
											   </tr>
											   <tr>
											   	 <td>昆山市葛江中学1</td>
											   	 <td>50</td>
											   	 <td>100</td>
											   	 <td>50</td>
											   	 <td>100</td>
											   	 <td>50</td>
											   	 <td>100</td>
											   	 <td>50</td>
											   </tr>
											   <tr>
											   	 <td>昆山市葛江中学2</td>
											   	 <td>50</td>
											   	 <td>100</td>
											   	 <td>50</td>
											   	 <td>100</td>
											   	 <td>50</td>
											   	 <td>100</td>
											   	 <td>50</td>
											   </tr>
											   <tr>
											   	 <td>昆山市葛江中学3</td>
											   	 <td>50</td>
											   	 <td>100</td>
											   	 <td>50</td>
											   	 <td>100</td>
											   	 <td>50</td>
											   	 <td>100</td>
											   	 <td>50</td>
											   </tr>
											</table>
										</div>
									</div>
								</li>
								
								<li class="col-xs-12 col-sm-12 col-md-6 col-lg-6 echarts">
									<div class="changes_nav">
										<div class="changes_nav_one">查看</div>
										<div class="changes_nav_two"><span>一天</span><span>一周</span><span>一个月</span><span>一个学期</span></div>
									</div>
									<div class="echartsTableWarp">
										<div class="echartsList" id="echarts_five"></div>
										<div class="table_warp">
											<table class="table table-condensed table-striped table_item">
											   <tr>
											   	 <th>学校</th>
											   	 <th>教学活动次/学生次</th>
											   	 <th>课时次/学生次</th>
											   </tr>
											   <tr>
											   	 <td>昆山市葛江中学1</td>
											   	 <td>50</td>
											   	 <td>100</td>
											   </tr>
											   <tr>
											   	 <td>昆山市葛江中学2</td>
											   	 <td>60</td>
											   	 <td>120</td>
											   </tr>
											   <tr>
											   	 <td>昆山市葛江中学3</td>
											   	 <td>50</td>
											   	 <td>80</td>
											   </tr>
											</table>
										</div>
									</div>
								</li>
								
								<li class="col-xs-12 col-sm-12 col-md-6 col-lg-6 echarts">
									<div class="changes_nav">
										<div class="changes_nav_one">查看</div>
										<div class="changes_nav_two"><span>一天</span><span>一周</span><span>一个月</span><span>一个学期</span></div>
									</div>
									<div class="echartsTableWarp">
										<div class="echartsList" id="echarts_six"></div>
										<div class="table_warp">
											<table class="table table-condensed table-striped table_item">
											   <tr>
											   	 <th>学校</th>
											   	 <th>教学活动次/学生次</th>
											   	 <th>课时次/学生次</th>
											   </tr>
											   <tr>
											   	 <td>昆山市葛江中学1</td>
											   	 <td>50</td>
											   	 <td>100</td>
											   </tr>
											   <tr>
											   	 <td>昆山市葛江中学2</td>
											   	 <td>60</td>
											   	 <td>120</td>
											   </tr>
											   <tr>
											   	 <td>昆山市葛江中学3</td>
											   	 <td>50</td>
											   	 <td>80</td>
											   </tr>
											</table>
										</div>
									</div>
								</li>
								
								<li class="col-xs-12 col-sm-12 col-md-6 col-lg-6 echarts">
									<div class="changes_nav">
										<div class="changes_nav_one">查看</div>
										<div class="changes_nav_two"><span>一天</span><span>一周</span><span>一个月</span><span>一个学期</span></div>
									</div>
									<div class="echartsTableWarp">
										<div class="echartsList" id="echarts_seven"></div>
										<div class="table_warp">
											<table class="table table-condensed table-striped table_item">
											   <tr>
											   	 <th>学校</th>
											   	 <th>教学活动次/学生次</th>
											   	 <th>课时次/学生次</th>
											   </tr>
											   <tr>
											   	 <td>昆山市葛江中学1</td>
											   	 <td>50</td>
											   	 <td>100</td>
											   </tr>
											   <tr>
											   	 <td>昆山市葛江中学2</td>
											   	 <td>60</td>
											   	 <td>120</td>
											   </tr>
											   <tr>
											   	 <td>昆山市葛江中学3</td>
											   	 <td>50</td>
											   	 <td>80</td>
											   </tr>
											</table>
										</div>
									</div>
								</li>
							</ul>
						</div>
						
						
						
					</div>
				</div>
				<!--底部-->
				<div class="footer">
					<p>Copyright © 2017 Enable-ETS Corporation. All Rights Reserved.&emsp;&emsp;&emsp;建议浏览器：IE9+、Google Chrome、Firefox</p>
			    </div>
			</div>
			
		</div>
		
		<script src="../../component_module/jquery/jquery-3.0.0.js"></script>
		<script src="../../component_module/bootstrap/bootstrap.min.js"></script>
		<script src="../../component_module/echarts/AllEcharts.min.js"></script>
		<script src="../../component_module/jquery/jqSortable.js"></script>
		<script src="../../components/common.js"></script>
		<script src="js/all_school.js"></script>
		
	</body>
</html>
