<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta content="telephone=yes" name="format-detection">
		<meta content="email=yes" name="format-detection">
		<title>学创教育</title>
		<link rel="stylesheet" type="text/css" href="../../component_module/bootstrap/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="css/products.css"/>
		
	</head>
	<body>
		<div class="ContainerMain PersonalSet">
			<div class="Con_Main">
				<header>我的设置</header>
				<ul class="shezhiUl">
	    			<li><a href="javascript:;"><i class="iconfont icon-shezhi"></i><span>个人设置</span><i class="iconfont icon-iconfontplatformentrance"></i></a></li>
	    			<li><a href="javascript:;"><i class="iconfont icon-zhanghaoanquan"></i><span>账号安全</span><i class="iconfont icon-iconfontplatformentrance"></i></a></li>
	    			<li><a href="javascript:;" class="user_outBtn"><i class="iconfont icon-tuichuxitong1"></i><span>退出系统</span></a></li>
	    		</ul>
			</div>
		</div>
		<script src="../../component_module/jquery/jquery-3.0.0.js"></script>
		<script src="../../component_module/bootstrap/bootstrap.min.js"></script>
		<script src="../../component_module/echarts/AllEcharts.min.js"></script>
		<script src="../../component_module/jquery/jqSortable.js"></script>
		<script src="../../components/common.js"></script>
		
	</body>
</html>
