<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta content="telephone=yes" name="format-detection">
		<meta content="email=yes" name="format-detection">
		<title>学创App</title>
		<link rel="stylesheet" type="text/css" href="../../../static/comm/plugins/mui/css/mui.css"/>
		<!--<link rel="stylesheet" type="text/css" href="../../../static/comm/css/comm_app.css"/>-->
		<link rel="stylesheet" type="text/css" href="../../../static/custom/familySchoolCommunication/css/mobile4App.css"/>
	</head>
	<body>
		<div class="Container lists_page">
			<header id="header" class="mui-bar mui-bar-nav header">
				<h1 class="mui-title">联络簿</h1>
				<button class="mui-action-back mui-btn mui-btn-blue mui-btn-link mui-btn-nav mui-pull-left">
					<span class="mui-icon mui-icon-left-nav"></span>返回
				</button>
			</header>
			<div class="conditionalModel">
				<div class="select_lists">
				    <a class="list_" href="javascript:;"><i class="list_1"></i><span>今日</span></a>
				    <a class="list_" href="javascript:;"><i class="list_2"></i><span>本周</span></a>
				    <a class="list_" href="javascript:;"><i class="list_3"></i><span>本月</span></a>
				    <a class="list_" href="../search/search.html?tab2"><i class="list_4"></i><span>更多</span></a>
				</div>
			</div>
			<div class="mainContent">
				<div class="content_lists">
					<a href="commuicateBookDetails.html" class="list_a">
						<div class="list_lt">
							<img src="../../../static/custom/familySchoolCommunication/img/listImg1.png" alt="用户头像">
						</div>
						<div class="list_rt icon_bg">
							<h4 class="list_title">王老师</h4>
							<p class="list_desc">秋季运动会通知</p>
							<div class="date_box"><span class="date_ymd">2017-11-22</span><span class="date_hms">15:20:35</span></div>
						</div>
					</a>
					
					<a href="commuicateBookDetails.html" class="list_a">
						<div class="list_lt">
							<img src="../../../static/custom/familySchoolCommunication/img/listImg2.jpg" alt="用户头像">
						</div>
						<div class="list_rt">
							<h4 class="list_title">语文老师</h4>
							<p class="list_desc">秋季运动会通知</p>
							<div class="date_box"><span class="date_ymd">2017-11-22</span><span class="date_hms">15:20:35</span></div>
						</div>
					</a>
					
					<a href="commuicateBookDetails.html" class="list_a">
						<div class="list_lt">
							<img src="../../../static/custom/familySchoolCommunication/img/listImg1.png" alt="用户头像">
						</div>
						<div class="list_rt icon_bg">
							<h4 class="list_title">王老师</h4>
							<p class="list_desc">秋季运动会通知</p>
							<div class="date_box"><span class="date_ymd">2017-11-22</span><span class="date_hms">15:20:35</span></div>
						</div>
					</a>
					
					<a href="commuicateBookDetails.html" class="list_a">
						<div class="list_lt">
							<img src="../../../static/custom/familySchoolCommunication/img/listImg2.jpg" alt="用户头像">
						</div>
						<div class="list_rt">
							<h4 class="list_title">语文老师</h4>
							<p class="list_desc">秋季运动会通知秋季运动会通知秋季运动会通知</p>
							<div class="date_box"><span class="date_ymd">2017-11-22</span><span class="date_hms">15:20:35</span></div>
						</div>
					</a>
					
					<a href="commuicateBookDetails.html" class="list_a">
						<div class="list_lt">
							<img src="../../../static/custom/familySchoolCommunication/img/listImg1.png" alt="用户头像">
						</div>
						<div class="list_rt icon_bg">
							<h4 class="list_title">王老师</h4>
							<p class="list_desc">秋季运动会通知</p>
							<div class="date_box"><span class="date_ymd">2017-11-22</span><span class="date_hms">15:20:35</span></div>
						</div>
					</a>
					
					<a href="commuicateBookDetails.html" class="list_a">
						<div class="list_lt">
							<img src="../../../static/custom/familySchoolCommunication/img/listImg2.jpg" alt="用户头像">
						</div>
						<div class="list_rt">
							<h4 class="list_title">语文老师</h4>
							<p class="list_desc">秋季运动会通知</p>
							<div class="date_box"><span class="date_ymd">2017-11-22</span><span class="date_hms">15:20:35</span></div>
						</div>
					</a>
					
					<a href="commuicateBookDetails.html" class="list_a">
						<div class="list_lt">
							<img src="../../../static/custom/familySchoolCommunication/img/listImg2.jpg" alt="用户头像">
						</div>
						<div class="list_rt">
							<h4 class="list_title">语文老师</h4>
							<p class="list_desc">秋季运动会通知</p>
							<div class="date_box"><span class="date_ymd">2017-11-22</span><span class="date_hms">15:20:35</span></div>
						</div>
					</a>
					
				</div>
				
			</div>
			<div class="nav_bottom" id="nav_bottom"></div>
		</div>
		
		<script type="text/javascript" src="../../../static/comm/plugins/jQuery/jquery-3.0.0.js"></script>
		<script type="text/javascript" src="../../../static/comm/plugins/mui/js/mui.min.js"></script>
		<script src="../../../static/custom/familySchoolCommunication/js/commModelApp.js"></script>
		<script>
			(function($){
				$(function(){
					//start
				    
				    //end    
			    })
			})(jQuery);	
		</script>
	</body>
</html>
