<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta content="telephone=yes" name="format-detection">
		<meta content="email=yes" name="format-detection">
		<title>学创教育</title>
		<link rel="stylesheet" type="text/css" href="../../component_module/bootstrap/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="css/resourcesPage.css"/>
		
	</head>
	<body>
		<div class="ContainerMain resourcesIndex">
			<!--头部-->
			<div class="header">
				<a href="javascript:;" class="header_logo"><img class="logo_img" src="img/logo_black.png"/></a>
			    <!--<ul class="header_nav">
			    	<li><a href="javascript:;">首页</a></li>
			    	<li class="resourcesLi"><a href="javascript:;"><span>资源</span><i class="iconfont icon-xiangxia"></i></a></li>
			    	<li><a href="javascript:;">我的空间</a></li>
			    </ul>-->
                <div class="header_user_box">
                	<div class="system_out"><i class="iconfont icon-tuichuxitong1"></i></div>
                	<div class="user_box">
            			<div class="user_top">
            				<a class="is_iphone" href="javascript:;">
            					<img class="touxiang" src='img/touxaing.jpg' />
		                		<span class="user_names"></span>
		                		<span class="span_icon_pc"><i class="iconfont icon-xiangxia1"></i></span>
		                		<span class="span_icon_iphone"><i class="iconfont icon-gengduo"></i></span>
            				</a>
            			</div>
                		<ul class="shezhiNav">
                			<div class="user_box_triangle"></div>
                			<li><i class="iconfont icon-guanli"></i><a href="javascript:;">个人设置</a></li>
                			<li><i class="iconfont icon-zhanghaoanquan"></i><a href="javascript:;">账号安全</a></li>
                			<li><i class="iconfont icon-tuichuxitong1"></i><a href="javascript:;" class="user_outBtn">退出系统</a></li>
                		</ul>
                	</div>
                </div>
			</div>
						
			<!--主内容模块-->
			<div class="Con_Main">
				<div class="MainCenter">
					<div class="selected_box">
						<ul class="selection_criteria">
							<li class="criteria_list">
								<span>学段：</span>
								<p>
									<a class="Aactive" href="javascript:;">小学</a>
									<a href="javascript:;">初中</a>
									<a href="javascript:;">高中</a>
								</p>
							</li>
							<li class="criteria_list">
								<span>年级：</span>
								<p>
									<a class="Aactive" href="javascript:;">一年级</a>
									<a href="javascript:;">二年级</a>
									<a href="javascript:;">三年级</a>
									<a href="javascript:;">四年级</a>
									<a href="javascript:;">五年级</a>
									<a href="javascript:;">六年级</a>
								</p>
							</li>
							<li class="criteria_list">
								<span>学科：</span>
								<p>
									<a class="Aactive" href="javascript:;">语文</a>
									<a href="javascript:;">数学</a>
									<a href="javascript:;">英语</a>
									<a href="javascript:;">思想品德（政治）</a>
									<a href="javascript:;">科学</a>
									<a href="javascript:;">体育与健康</a>
									<a href="javascript:;">综合实践活动</a>
									<a href="javascript:;">音乐</a>
									<a href="javascript:;">美术</a>
									<a href="javascript:;">艺术</a>
								</p>
							</li>
							<li class="criteria_list">
								<span>资源来源：</span>
								<p>
									<a class="Aactive" href="javascript:;">学创资源</a>
								</p>
							</li>
							<li class="criteria_list">
								<span>版本：</span>
								<p>
									<a class="Aactive" href="javascript:;">1.0</a>
								</p>
							</li>
						</ul>
						<!--<div class="The_selected">
							<span class="selected_list"></span>
						</div>-->
						<div class='search_box'>
							<span>关键词：</span><input type="search" name="" id="" value="" /><button class="searchbtn">搜索</button>
						</div>
					</div>
					
					<div class="MainCenter_bottom">
						<div class="asidelist">
							<h5>教材目录</h5>
							<div class="tree_box_warp">
								<div class="tree_box">
									<ul>
										<li>1</li>
										<li>2</li>
										<li>3</li>
										<li>4</li>
										<li>5</li>
										<li>6</li>
										<li>7</li>
										<li>8</li>
										<li>9</li>
										<li>10</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="content_box">
							<ul class="content_nav">
								<li class="active"><a href="javascript:;">全部</a><span></span></li>
								<li><a href="javascript:;">教材</a><span></span></li>
								<li><a href="javascript:;">学习工具</a><span></span></li>
								<li><a href="javascript:;">课程</a><span></span></li>
								<li><a href="javascript:;">作业</a><span></span></li>
								<li><a href="javascript:;">试卷</a><span></span></li>
								<li><a href="javascript:;">试题</a><span></span></li>
								<li><a href="javascript:;">微课</a><span></span></li>
							</ul>
							<div class="content_list_box">
								<dl class="lists">
									<dt>
										<a href="javascript:;">《雪地里的小画家》</a>
									</dt>
									<dd>
										<p>《雪地里的小画家》是义务教育课程标准实验教科书（北师大）语文一年级上册第十六单元《冬天》中的一篇主体课文。本课是一篇富有儿童情趣的诗歌。作者以生动活泼的儿童语言，讲述了一群小画家在雪地上画画的故事。激发了学生热爱大自然、亲近大自然的思想感情。</p>
									</dd>
									<dd>
										<span><b>上传者：</b><em>superadmin</em></span>
										<span><b>上传时间：</b><em>2017-08-30</em></span>
										<span><b>浏览次数：</b><em>2</em></span>
									</dd>
								</dl>
								<dl class="lists">
									<dt>
										<a href="javascript:;">《雪地里的小画家》</a>
									</dt>
									<dd>
										<p>《雪地里的小画家》是义务教育课程标准实验教科书（北师大）语文一年级上册第十六单元《冬天》中的一篇主体课文。本课是一篇富有儿童情趣的诗歌。作者以生动活泼的儿童语言，讲述了一群小画家在雪地上画画的故事。激发了学生热爱大自然、亲近大自然的思想感情。</p>
									</dd>
									<dd>
										<span><b>上传者：</b><em>superadmin</em></span>
										<span><b>上传时间：</b><em>2017-08-30</em></span>
										<span><b>浏览次数：</b><em>2</em></span>
									</dd>
								</dl>
								
								
								
								<!--分页部分-->
								<div class="page_box">
									<ul class="pageOne" maxshowpageitem="5" pagelistcount="10"  id="pageOne"></ul>
								</div>
							</div>
						</div>
					</div>
					
				</div>
			    <!--底部-->
				<div class="footer">
					<p>Copyright © 2017 Enable-ETS Corporation. All Rights Reserved.&emsp;&emsp;&emsp;建议浏览器：IE9+、Google Chrome、Firefox</p>
			    </div>
			</div>
			
		</div>
		
		<script src="../../component_module/jquery/jquery-3.0.0.js"></script>
		<script src="../../component_module/bootstrap/bootstrap.min.js"></script>
		<script src="../../component_module/Paging/page.js"></script>
		<script src="js/resourcePage.js"></script>
		<script>
			(function($){
			    $(function(){
			    	
			    	//头部条件筛选部分视图效果变化
			    	function listViewChange(class1,classactive){
			    		$(class1).each(function(){
			    			$(this).click(function(){
			    				$(this).addClass(classactive).siblings().removeClass(classactive);
			    			})
			    		})
			    	}
			    	//头部条件筛选部分视图效果变化
			    	listViewChange('.criteria_list p a','Aactive');
			    	
			    	//中部//内容区域的导航栏视图效果变化
			    	listViewChange('.content_nav li','active');
			    	
			    	//分页部分函数
			        var paging = {
				        "pageData":function(pageNum){
				            console.log(pageNum)
				            //$(".pageNum").html(pageNum);
				            //所执行的函数
				        }
				    }
			        //initPage()中的三个参数意义
			        //1、所有数据条数（自动每页十条,如果需要改变每页显示条数，去page.js搜索pagelistNums，然后改变数值即可）
			        //2、初次加载显示的页数 3、所执行函数
				    $("#pageOne").initPage(100,1,paging.pageData);
					        
			        
			    })
			})(jQuery);	
		</script>
	</body>
</html>
