@import 'http://at.alicdn.com/t/font_357669_r47m4jbe82u4bo6r.css';
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dd,
dl,
dt,
li,
ol,
ul,
fieldset,
form,
label,
legend {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
img {
  border: none;
}
p {
  margin-bottom: 0;
}
body,
a,
input,
select,
button {
  font-family: "Microsoft Yahei", "Droid Sans Fallback", "Arial", "Helvetica", "sans-serif", "宋体";
  font-size: 14px;
  outline: none;
  color: #666;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);/*去除获取焦点时半透明背景*/
}
ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
a {
  color: #428bca;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
table {
  text-align: center;
  vertical-align: middle;
}
th {
  text-align: center;
  vertical-align: middle;
}
@media only screen and (min-width: 1441px) {
  html {
    font-size: 43px;
  }
}
@media only screen and (max-width: 1440px) {
  html {
    font-size: 41px;
  }
}
@media only screen and (max-width: 1200px) {
  html {
    font-size: 39px;
  }
}
@media only screen and (max-width: 1100px) {
  html {
    font-size: 38px;
  }
}
@media only screen and (max-width: 1000px) {
  html {
    font-size: 37px;
  }
}
@media only screen and (max-width: 900px) {
  html {
    font-size: 36px;
  }
}
@media only screen and (max-width: 800px) {
  html {
    font-size: 35px;
  }
}
@media only screen and (max-width: 700px) {
  html {
    font-size: 34px;
  }
}
@media only screen and (max-width: 600px) {
  html {
    font-size: 33px;
  }
}
@media only screen and (max-width: 500px) {
  html {
    font-size: 32px;
  }
}
@media only screen and (max-width: 400px) {
  html {
    font-size: 31px;
  }
}
@media only screen and (max-width: 300px) {
  html {
    font-size: 30px;
  }
}
.text_no_select {
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
.box-shadow-round {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.self_flex_content { /*定义父元素*/
  display: box;/*（伸缩盒最老版本）*/
  display: -webkit-box;/* iOS 6-, Safari 3.1-6 */
  display: -webkit-flex;/* Chrome */
  display: -moz-box;/* Firefox 19 */
  display: -ms-flexbox;
  display: flex;/*flex容器*/
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
}
/*去掉input默认上下箭头*/
.input_jiantou_hide input::-webkit-outer-spin-button,
.input_jiantou_hide input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.input_jiantou_hide input[type="number"] {
  -moz-appearance: textfield;
}
.input_jiantou_hide input {
  -webkit-appearance: none;
/*去除input默认样式*/ }
.input_jiantou_hide input[type="submit"],
.input_jiantou_hide input[type="reset"],
.input_jiantou_hide input[type="button"],
.input_jiantou_hide input {
  -webkit-appearance: none;
}
.input_jiantou_hide input::-ms-clear {
  display: none;
}
.select_jiantou_hide {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
}
.select_jiantou_hide::-ms-expand {
  display: none;
}
.AnimationRotate360 {
  -webkit-animation: Rotating 1s linear infinite;
  -moz-animation: Rotating 1s linear infinite;
  -ms-animation: Rotating 1s linear infinite;
  animation: Rotating 1s linear infinite;
}
@keyframes Rotating {
  from {
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
@-webkit-keyframes Rotating {
  from {
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
@-moz-keyframes Rotating {
  from {
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
@-o-keyframes Rotating {
  from {
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
@-ms-keyframes Rotating {
  from {
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
.small_hand {
  cursor: pointer;
}
/*超出隐藏另外加宽*/
.hideellipsis,
.widthHide2 {
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
}
/*头部用户名处动画*/
@-webkit-keyframes userBoxRotate {
  0 {
    margin-top: -1rem;
  }
  20% {
    margin-top: 0.6rem;
  }
  40% {
    margin-top: 0.2rem;
  }
  60% {
    margin-top: 0.6rem;
  }
  80% {
    margin-top: 0.4rem;
  }
  100% {
    margin-top: 0.6rem;
  }
}
@-o-keyframes userBoxRotate {
  0 {
    margin-top: -1rem;
  }
  20% {
    margin-top: 0.6rem;
  }
  40% {
    margin-top: 0.2rem;
  }
  60% {
    margin-top: 0.6rem;
  }
  80% {
    margin-top: 0.4rem;
  }
  100% {
    margin-top: 0.6rem;
  }
}
@-moz-keyframes userBoxRotate {
  0 {
    margin-top: -1rem;
  }
  20% {
    margin-top: 0.6rem;
  }
  40% {
    margin-top: 0.2rem;
  }
  60% {
    margin-top: 0.6rem;
  }
  80% {
    margin-top: 0.4rem;
  }
  100% {
    margin-top: 0.6rem;
  }
}
@keyframes userBoxRotate {
  0 {
    margin-top: -1rem;
  }
  20% {
    margin-top: 0.6rem;
  }
  40% {
    margin-top: 0.2rem;
  }
  60% {
    margin-top: 0.6rem;
  }
  80% {
    margin-top: 0.4rem;
  }
  100% {
    margin-top: 0.6rem;
  }
}
.bgcolor3d_1 {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4096ee+0,3b82dd+49,2a559e+100 */
  background: #4096ee;/* Old browsers */
  background: -moz-linear-gradient(top, #4096ee 0%, #3b82dd 49%, #2a559e 100%);/* FF3.6-15 */
  background: -webkit-linear-gradient(top, #4096ee 0%, #3b82dd 49%, #2a559e 100%);/* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #4096ee 0%, #3b82dd 49%, #2a559e 100%);/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4096ee', endColorstr='#2a559e', GradientType=0);/* IE6-9 */
}
.bgcolor3d_2 { /*渐变色*/
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3590ea+0,c7d7e8+100 */
  background: #3590ea;/* Old browsers */
  background: -moz-linear-gradient(top, #3590ea 0%, #c7d7e8 100%);/* FF3.6-15 */
  background: -webkit-linear-gradient(top, #3590ea 0%, #c7d7e8 100%);/* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #3590ea 0%, #c7d7e8 100%);/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3590ea', endColorstr='#c7d7e8', GradientType=0);/* IE6-9 */
}
.bgcolor3d_2 { /*无渐变*/
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7abcff+0,60abf8+0,4096ee+100 */
  background: #7abcff;/* Old browsers */
  background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 0%, #4096ee 100%);/* FF3.6-15 */
  background: -webkit-linear-gradient(top, #7abcff 0%, #60abf8 0%, #4096ee 100%);/* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #7abcff 0%, #60abf8 0%, #4096ee 100%);/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7abcff', endColorstr='#4096ee', GradientType=0);/* IE6-9 */
}
.bgcolor3d_3 {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b9bcb7+0,dfe5d7+60,fcfff4+100 */
  background: #b9bcb7;/* Old browsers */
  background: -moz-linear-gradient(top, #b9bcb7 0%, #dfe5d7 60%, #fcfff4 100%);/* FF3.6-15 */
  background: -webkit-linear-gradient(top, #b9bcb7 0%, #dfe5d7 60%, #fcfff4 100%);/* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #b9bcb7 0%, #dfe5d7 60%, #fcfff4 100%);/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b9bcb7', endColorstr='#fcfff4', GradientType=0);/* IE6-9 */
}
.cursor {
  cursor: pointer;
}
.Rotate_180 {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  display: inline-block;
}
.Rotate_90 {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  display: inline-block;
}
html,
body {
  width: 100%;
  height: 100%;
  color: #000000;
  overflow-x: hidden;
  overflow-y: auto;
}
.mouseCSS {
  width: 100%;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  overflow-x: hidden;
}
/*公共模块*/
.ContainerMain {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  max-width: 1440;
  margin: 0 auto;
}
/*公共头部*/
.ContainerMain .header {
  /*.bgcolor3d_1; background: #207ed6;*/ position: absolute;
  top: 0;
  left: 0;
  padding: 0 1%;
  width: 100%;
  z-index: 11;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 1.5rem;
  margin-bottom: 10px;
  color: #404040;
  border-bottom: 1px solid #E1E1E1;
  background: white;
}
.ContainerMain .header .header_logo {
  height: 1.5rem;
  display: inline-block;
  width: 16%;
  float: left;
}
.ContainerMain .header .header_user_box,
.ContainerMain .header .header_nav {
  height: 1.5rem;
  width: 42%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ContainerMain .header .logo_img {
  height: 0.9rem;
  margin-top: 0.3rem;
  z-index: 15;
}
.ContainerMain .header .header_logo {
  width: 39%;
  padding-left: 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ContainerMain .header .header_user_box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 5px;
  width: 60%;
}
.ContainerMain .header .user_box {
  cursor: pointer;
  float: right;
  display: block;
  height: 100%;
  position: relative;
  padding-top: 0.4rem;
  font-size: 0.35rem;
  color: white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ContainerMain .header .user_box .user_top {
  overflow: hidden;
  height: 100%;
}
.ContainerMain .header .user_box .user_names,
.ContainerMain .header .user_box .span_icon_pc,
.ContainerMain .header .user_box .span_icon_iphone,
.ContainerMain .header .user_box .user_out,
.ContainerMain .header .user_box .touxiang {
  float: left;
}
.ContainerMain .header .user_box .user_names {
  height: 0.7rem;
  line-height: 0.7rem;
  margin-right: 0.05rem;
  color: #404040;
}
.ContainerMain .header .user_box .daosanjiao {
  display: none;
  border-top: 0.2rem solid white;
  border-left: 0.2rem solid transparent;
  border-right: 0.2rem solid transparent;
  margin-top: 0.2rem;
}
.ContainerMain .header .user_box .user_out {
  display: none;
}
.ContainerMain .header .user_box .touxiang {
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50% !important;
  margin-left: 0.15rem;
  margin-right: 0.09rem;
}
.ContainerMain .header .user_box .span_icon_pc,
.ContainerMain .header .user_box .span_icon_iphone {
  margin-top: 0.06rem;
}
.ContainerMain .header .user_box .span_icon_pc i,
.ContainerMain .header .user_box .span_icon_iphone i {
  color: white;
  font-size: 0.45rem;
}
.ContainerMain .header .user_box .span_icon_pc {
  display: none;
}
.ContainerMain .header .user_box .span_icon_iphone {
  display: none;
}
.ContainerMain .header .user_box .shezhiNav {
  width: 3.5rem;
  display: none;
  position: absolute;
  top: 99.99%;
  left: -0.8rem;
  z-index: 10;
  background: white;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 0.2rem 0;
}
.ContainerMain .header .user_box .shezhiNav .user_box_triangle {
  position: absolute;
  left: 80%;
  bottom: 100%;
  border-bottom: 0.2rem solid white;
  border-left: 0.2rem solid transparent;
  border-right: 0.2rem solid transparent;
}
.ContainerMain .header .user_box .shezhiNav li {
  background: white;
  overflow: hidden;
  height: 0.8rem;
  line-height: 0.8rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 0.1rem;
}
.ContainerMain .header .user_box .shezhiNav li.activeli {
  background: #E3E3E3;
}
.ContainerMain .header .user_box .shezhiNav li i,
.ContainerMain .header .user_box .shezhiNav li a {
  float: left;
}
.ContainerMain .header .user_box .shezhiNav li i {
  font-size: 0.5rem;
  margin: 0 0.3rem 0 0.4rem;
  color: black;
}
.ContainerMain .header .user_box .shezhiNav li a {
  font-size: 0.3rem;
  color: #333;
}
.ContainerMain .header .user_box .shezhiNav li:last-child {
  margin-bottom: 0.1rem;
}
/*.user_box:hover{ background: #336ca6;
          .span_icon_pc i{.Rotate_180;}
       }*/
.ContainerMain .header .system_out {
  cursor: pointer;
  float: right;
  display: inline-block;
  height: 100%;
  position: relative;
  padding: 0.4rem;
  font-size: 0.35rem;
  color: #404040;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
} /*.system_out:hover{ background: #336ca6;}*/
.ContainerMain .header .system_out > i {
  margin-top: 0.06rem;
  font-size: 0.5rem;
}
.ContainerMain .header .system_out > i:hover {
  color: red;
}
.ContainerMain .Aside {
  width: 1.8rem;
  font-size: 0.4rem;
  position: absolute;
  top: 30%;
  left: -1.8rem;
  z-index: 20;
}
.ContainerMain .Aside.aside_active {
  left: 0;
}
.ContainerMain .Aside .aside_btn {
  background-color: rgba(12, 106, 212, 0.6);
  color: white;
  height: 1rem;
  line-height: 1rem;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  position: absolute;
  top: 50%;
  left: 1.8rem;
  margin-top: -0.5rem;
  width: 0.5rem;
  text-align: center;
  font-size: 0.2rem;
}
.ContainerMain .Aside .aside_btn.aside_btn_active {
  /*.rotate(180deg);*/ display: none;
}
.ContainerMain .Aside .aside_list {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0.1rem;
  color: white;
  font-size: 0.3rem;
  max-width: 1.8rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  overflow: hidden;
}
.ContainerMain .Aside .aside_list li {
  margin-bottom: 0.1rem;
}
.ContainerMain .Aside .aside_list li:last-child {
  margin-bottom: 0;
}
.ContainerMain .Con_Main {
  padding-top: 1.6rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  overflow-x: hidden;
}
.ContainerMain .Con_Main .MainCenter {
  width: 100%;
  overflow: hidden;
}
.ContainerMain .footer {
  background: #f2f2f2;
  border-top: 1px solid #8bb6cd;
  text-align: center;
  padding: 0.2rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  color: #999;
}
.ContainerMain .footer > p {
  color: #444;
  font-size: 0.3rem;
}
.ContainerMain .footer > p > span {
  color: #67809F;
}
.ContainerMain .footer2 {
  width: 100%;
  height: 100px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 1px solid #E1E1E1;
  padding-top: 30px;
  overflow: hidden;
  background: #f5f6f8;
}
.ContainerMain .footer2 > .footer_lt {
  float: left;
  width: 38%;
  text-align: right;
  height: 40px;
  overflow: hidden;
  padding-right: 13px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ContainerMain .footer2 > .footer_lt > a {
  display: inline-block;
  height: 100%;
}
.ContainerMain .footer2 > .footer_lt > a > img {
  height: 100%;
}
.ContainerMain .footer2 > .footer_rt {
  float: right;
  width: 62%;
  padding-left: 13px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ContainerMain .footer2 > .footer_rt > p {
  font-size: 12px;
  text-align: left;
  color: #666;
  display: block;
  height: 20px;
  line-height: 20px;
}
/*自定义类名*/
.padding_0 {
  padding: 0;
}
.text_center {
  text-align: center;
}
/*公共样式*/
.main_content {
  z-index: 1;
  width: 96%;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
}
.main_content .main_head {
  background: #f8f8f8;
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 0.3rem;
}
.main_content .table_item tr th td,
.main_content .table_all tr th td {
  text-align: center;
}
.main_content .echarts,
.main_content .echarts_one {
  margin: 0.1rem 0;
  height: 300px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*图表公共样式*/
.echarts_list_contont {
  margin-bottom: 0.2rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  overflow: hidden;
}
.echarts_list_contont .tubiao_title {
  width: 100%;
  overflow: hidden;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3590ea+0,c7d7e8+100 */
  background: #3590ea;/* Old browsers */
  background: -moz-linear-gradient(top, #3590ea 0%, #c7d7e8 100%);/* FF3.6-15 */
  background: -webkit-linear-gradient(top, #3590ea 0%, #c7d7e8 100%);/* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #3590ea 0%, #c7d7e8 100%);/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3590ea', endColorstr='#c7d7e8', GradientType=0);/* IE6-9 */
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7abcff+0,60abf8+0,4096ee+100 */
  background: #7abcff;/* Old browsers */
  background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 0%, #4096ee 100%);/* FF3.6-15 */
  background: -webkit-linear-gradient(top, #7abcff 0%, #60abf8 0%, #4096ee 100%);/* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #7abcff 0%, #60abf8 0%, #4096ee 100%);/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7abcff', endColorstr='#4096ee', GradientType=0);/* IE6-9 */
  color: white;
  font-size: 0.4rem;
  font-weight: bold;
  padding: 0.2rem 0.3rem;
}
.echarts_list_contont .tubiao_title span {
  margin-right: 0.2rem;
  float: left;
}
.echarts_list_contont .tubiao_title i {
  font-size: 0.4rem;
  float: right;
}
.echarts_list_contont .sortable {
  width: 100%;
  background: white;
  padding: 0;
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.echarts_list_contont .sortable > li {
  height: 330px;
  padding: 0 0.08rem;
  background: white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  cursor: pointer;
}
.echarts_list_contont .sortable > li .changes {
  text-indent: 8px;
  height: 30px;
  color: white;
  font-size: 0.2rem;
  line-height: 30px;
  background: #068FDF;
}
.echarts_list_contont .sortable > li .changes_nav {
  /* .bgcolor3d_3; background: #E2E2E2;*/ width: 100%;
  padding: 0 0.2rem;
  overflow: hidden;
  height: 30px;
  line-height: 30px;
  border: 1px solid #E1E1E1;
  border-bottom: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.echarts_list_contont .sortable > li .changes_nav .changes_nav_one,
.echarts_list_contont .sortable > li .changes_nav .changes_nav_two {
  font-size: 0.25rem;
  float: left;
  display: inline-block;
  color: #000;
  font-size: 0.2rem;
}
.echarts_list_contont .sortable > li .changes_nav .changes_nav_one {
  width: 12%;
}
.echarts_list_contont .sortable > li .changes_nav .changes_nav_one a {
  color: #555;
}
.echarts_list_contont .sortable > li .changes_nav .changes_nav_one a:hover {
  color: black;
}
.echarts_list_contont .sortable > li .changes_nav .changes_nav_two {
  width: 88%;
  text-align: right;
}
.echarts_list_contont .sortable > li .changes_nav .changes_nav_two span {
  padding: 2px 5px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  font-weight: bold;
  margin-left: 0.3rem;
}
.echarts_list_contont .sortable > li .changes_nav .changes_nav_two span.spactive {
  background: #f2572d;
  color: white;
}
.echarts_list_contont .sortable > li .echartsList {
  width: 100%;
  background: white;
  height: 300px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #E1E1E1;
}
.echarts_list_contont .sortable > li .table_item {
  max-height: 300px;
}
.echarts_list_contont .sortable > li .table_item tr,
.echarts_list_contont .sortable > li .table_item td,
.echarts_list_contont .sortable > li .table_item th {
  font-size: 0.18rem;
  height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  padding: 4px;
}
.echarts_list_contont .sortable > li .table_item tr {
  border-bottom: 1px solid #E5E5E5;
}
.echarts_list_contont .sortable > li .table_item tr:last-child {
  border: 0;
}
.echarts_list_contont .sortable > li .table_item tr:nth-child(2n+1) {
  background-color: #f9f9f9;
}
/*单个学校页面的样式*/
.single_school .school_total {
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  width: 96%;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto 0rem;
  padding: 0 0.08rem;
  font-size: 0.38rem;
}
.single_school .school_total p {
  /* .bgcolor3d_2;*/ width: 100%;
  padding: 0.1rem 0.3rem;
  vertical-align: middle;
  color: #404040;
  overflow: hidden;
  border: 1px solid #E1E1E1;
  border-bottom: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.single_school .school_total p i:first-child {
  font-size: 0.5rem;
  margin-right: 0.2rem;
}
/*i:last-child{ font-size: 0.4rem; float: right; margin-top: 0.05rem;}*/
.single_school .school_total p .school_name {
  font-weight: bold;
  font-size: 0.48rem;
  margin-right: 0.2rem;
}
.single_school .school_total ol {
  overflow: hidden;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #E1E1E1;
  padding-top: 0.2rem;
}
.single_school .school_total ol li {
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  color: white;
  padding: 0.25rem 0;
  margin-bottom: 0.2rem;
  overflow: hidden;
}
.single_school .school_total ol li span,
.single_school .school_total ol li b {
  display: inline-block;
  text-align: center;
  height: 0.8rem;
  float: left;
}
.single_school .school_total ol li span {
  width: 40%;
  text-align: right;
}
.single_school .school_total ol li span i {
  color: #111;
  font-size: 0.7rem;
}
.single_school .school_total ol li b {
  width: 60%;
  font-size: 0.3rem;
  line-height: 1rem;
}
.single_school .school_total ol li b em {
  font-weight: bold;
  font-size: 0.5rem;
  margin-right: 0.3rem;
}
.single_school .school_total ol li:nth-of-type(1) {
  background: #269abc;
}
.single_school .school_total ol li:nth-of-type(2) {
  background: #4cae4c;
}
.single_school .school_total ol li:nth-of-type(3) {
  background: orange;
}
.single_school .main_head .nav_item {
  padding: 0.22rem 0;
  text-align: center;
  font-size: 0.4rem;
}
.single_school .main_head .nav_item a {
  color: black;
}
.single_school .main_head .nav_item.active {
  background: #E7E7E7;
}
.single_school .select_content div {
  padding: 0.2rem 0.4rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}
.single_school .select_content div:nth-of-type(1) label,
.single_school .select_content div:nth-of-type(2) label,
.single_school .select_content div:nth-of-type(1) input,
.single_school .select_content div:nth-of-type(2) input {
  float: left;
  height: 0.9rem;
  line-height: 0.9rem;
}
.single_school .select_content div:nth-of-type(1) label,
.single_school .select_content div:nth-of-type(2) label {
  width: 35%;
  text-align: center;
  color: #333;
}
.single_school .select_content div:nth-of-type(1) input,
.single_school .select_content div:nth-of-type(2) input {
  width: 65%;
  outline: none;
}
.single_school .select_content div:nth-of-type(1) input::-webkit-outer-spin-button,
.single_school .select_content div:nth-of-type(2) input::-webkit-outer-spin-button,
.single_school .select_content div:nth-of-type(1) input::-webkit-inner-spin-button,
.single_school .select_content div:nth-of-type(2) input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.single_school .select_content div:nth-of-type(1) input[type="number"],
.single_school .select_content div:nth-of-type(2) input[type="number"] {
  -moz-appearance: textfield;
}
.single_school .select_content div:nth-of-type(1) input,
.single_school .select_content div:nth-of-type(2) input {
  -webkit-appearance: none;
/*去除input默认样式*/ }
.single_school .select_content div:nth-of-type(1) input[type="submit"],
.single_school .select_content div:nth-of-type(2) input[type="submit"],
.single_school .select_content div:nth-of-type(1) input[type="reset"],
.single_school .select_content div:nth-of-type(2) input[type="reset"],
.single_school .select_content div:nth-of-type(1) input[type="button"],
.single_school .select_content div:nth-of-type(2) input[type="button"],
.single_school .select_content div:nth-of-type(1) input,
.single_school .select_content div:nth-of-type(2) input {
  -webkit-appearance: none;
}
.single_school .select_content div:nth-of-type(1) input::-ms-clear,
.single_school .select_content div:nth-of-type(2) input::-ms-clear {
  display: none;
}
.single_school .select_content div:nth-of-type(3) {
  padding: 0.25rem 0.4rem;
}
.single_school .select_content div:nth-of-type(3) button {
  height: 0.8rem;
  line-height: 0.4rem;
  display: inline-block;
  width: 20%;
  margin-left: 10%;
  text-align: center;
}
/*包含所有学校页面样式*/
.all_school .school_phase {
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 96%;
  margin: 0.1rem auto;
  padding: 0.2rem 0;
  background: #E3E3E3;
  overflow: hidden;
}
.all_school .school_phase .row {
  width: 100%;
  margin: 0 auto;
}
.all_school .school_phase a {
  padding: 0;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  color: #333;
  height: 0.7rem;
  font-weight: bold;
  text-align: center;
  line-height: 0.7rem;
  font-size: 0.4rem;
  margin-left: 2.75%;
}
.all_school .school_phase a.active {
  background: white;
  font-weight: normal;
}
.all_school .all_school_total {
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  width: 96%;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0.2rem auto;
  padding: 0;
  font-size: 0.38rem;
}
.all_school .all_school_total p {
  width: 100%;
  text-indent: 0.2rem;
  color: black;
  background: #E8E8E8;
  padding: 0.1rem 0;
}
.all_school .all_school_total p i:first-child {
  font-size: 0.45rem;
  margin-right: 0.2rem;
}
.all_school .all_school_total p i:last-child {
  font-size: 0.4rem;
  color: black;
}
.all_school .all_school_total p .school_name {
  font-weight: bold;
  font-size: 0.4rem;
  margin-right: 0.2rem;
}
.all_school .all_school_total ol {
  overflow: hidden;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #EEEEEE;
  padding-top: 0.2rem;
}
.all_school .all_school_total ol li {
  color: white;
  padding: 0 0.5rem;
  margin-bottom: 0.2rem;
  overflow: hidden;
}
.all_school .all_school_total ol li p {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  overflow: hidden;
  width: 100%;
}
.all_school .all_school_total ol li p span,
.all_school .all_school_total ol li p b {
  display: inline-block;
  text-align: center;
  height: 0.8rem;
  line-height: 0.8rem;
  float: left;
}
.all_school .all_school_total ol li p span {
  width: 40%;
  text-align: right;
}
.all_school .all_school_total ol li p span i:first-child,
.all_school .all_school_total ol li p span i:nth-of-type(2) {
  color: #111;
  font-size: 0.6rem;
}
.all_school .all_school_total ol li p b {
  width: 60%;
  font-size: 0.3rem;
  line-height: 1rem;
}
.all_school .all_school_total ol li p b em {
  font-weight: bold;
  font-size: 0.5rem;
  margin-right: 0.3rem;
}
.all_school .all_school_total ol li:nth-of-type(1) p {
  background: #CE8483;
}
.all_school .all_school_total ol li:nth-of-type(2) p {
  background: #269abc;
}
.all_school .all_school_total ol li:nth-of-type(3) p {
  background: #4cae4c;
}
.all_school .all_school_total ol li:nth-of-type(4) p {
  background: orange;
}
.all_school .main_content .select_content {
  border-bottom: 1px solid #E2E2E2;
}
.all_school .main_content .select_content div {
  padding: 0.2rem 0.4rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}
.all_school .main_content .select_content div:nth-of-type(1) label,
.all_school .main_content .select_content div:nth-of-type(2) label,
.all_school .main_content .select_content div:nth-of-type(3) label,
.all_school .main_content .select_content div:nth-of-type(4) label,
.all_school .main_content .select_content div:nth-of-type(1) input,
.all_school .main_content .select_content div:nth-of-type(2) input,
.all_school .main_content .select_content div:nth-of-type(3) input,
.all_school .main_content .select_content div:nth-of-type(4) input,
.all_school .main_content .select_content div:nth-of-type(1) select,
.all_school .main_content .select_content div:nth-of-type(2) select,
.all_school .main_content .select_content div:nth-of-type(3) select,
.all_school .main_content .select_content div:nth-of-type(4) select {
  float: left;
  height: 0.9rem;
  line-height: 0.9rem;
}
.all_school .main_content .select_content div:nth-of-type(1) label,
.all_school .main_content .select_content div:nth-of-type(2) label,
.all_school .main_content .select_content div:nth-of-type(3) label,
.all_school .main_content .select_content div:nth-of-type(4) label {
  width: 35%;
  text-align: center;
  color: #333;
}
.all_school .main_content .select_content div:nth-of-type(1) input,
.all_school .main_content .select_content div:nth-of-type(2) input,
.all_school .main_content .select_content div:nth-of-type(3) input,
.all_school .main_content .select_content div:nth-of-type(4) input,
.all_school .main_content .select_content div:nth-of-type(1) select,
.all_school .main_content .select_content div:nth-of-type(2) select,
.all_school .main_content .select_content div:nth-of-type(3) select,
.all_school .main_content .select_content div:nth-of-type(4) select {
  width: 65%;
  outline: none;
}
.all_school .main_content .select_content div:nth-of-type(1) select,
.all_school .main_content .select_content div:nth-of-type(2) select,
.all_school .main_content .select_content div:nth-of-type(3) select,
.all_school .main_content .select_content div:nth-of-type(4) select {
  direction: initial;
}
.all_school .main_content .select_content div:nth-of-type(1) input::-webkit-outer-spin-button,
.all_school .main_content .select_content div:nth-of-type(2) input::-webkit-outer-spin-button,
.all_school .main_content .select_content div:nth-of-type(3) input::-webkit-outer-spin-button,
.all_school .main_content .select_content div:nth-of-type(4) input::-webkit-outer-spin-button,
.all_school .main_content .select_content div:nth-of-type(1) input::-webkit-inner-spin-button,
.all_school .main_content .select_content div:nth-of-type(2) input::-webkit-inner-spin-button,
.all_school .main_content .select_content div:nth-of-type(3) input::-webkit-inner-spin-button,
.all_school .main_content .select_content div:nth-of-type(4) input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.all_school .main_content .select_content div:nth-of-type(1) input[type="number"],
.all_school .main_content .select_content div:nth-of-type(2) input[type="number"],
.all_school .main_content .select_content div:nth-of-type(3) input[type="number"],
.all_school .main_content .select_content div:nth-of-type(4) input[type="number"] {
  -moz-appearance: textfield;
}
.all_school .main_content .select_content div:nth-of-type(1) input,
.all_school .main_content .select_content div:nth-of-type(2) input,
.all_school .main_content .select_content div:nth-of-type(3) input,
.all_school .main_content .select_content div:nth-of-type(4) input {
  -webkit-appearance: none;
/*去除input默认样式*/ }
.all_school .main_content .select_content div:nth-of-type(1) input[type="submit"],
.all_school .main_content .select_content div:nth-of-type(2) input[type="submit"],
.all_school .main_content .select_content div:nth-of-type(3) input[type="submit"],
.all_school .main_content .select_content div:nth-of-type(4) input[type="submit"],
.all_school .main_content .select_content div:nth-of-type(1) input[type="reset"],
.all_school .main_content .select_content div:nth-of-type(2) input[type="reset"],
.all_school .main_content .select_content div:nth-of-type(3) input[type="reset"],
.all_school .main_content .select_content div:nth-of-type(4) input[type="reset"],
.all_school .main_content .select_content div:nth-of-type(1) input[type="button"],
.all_school .main_content .select_content div:nth-of-type(2) input[type="button"],
.all_school .main_content .select_content div:nth-of-type(3) input[type="button"],
.all_school .main_content .select_content div:nth-of-type(4) input[type="button"],
.all_school .main_content .select_content div:nth-of-type(1) input,
.all_school .main_content .select_content div:nth-of-type(2) input,
.all_school .main_content .select_content div:nth-of-type(3) input,
.all_school .main_content .select_content div:nth-of-type(4) input {
  -webkit-appearance: none;
}
.all_school .main_content .select_content div:nth-of-type(1) input::-ms-clear,
.all_school .main_content .select_content div:nth-of-type(2) input::-ms-clear,
.all_school .main_content .select_content div:nth-of-type(3) input::-ms-clear,
.all_school .main_content .select_content div:nth-of-type(4) input::-ms-clear {
  display: none;
}
.all_school .main_content .select_content div:nth-of-type(5) {
  padding: 0.25rem 0.4rem;
}
.all_school .main_content .select_content div:nth-of-type(5) button {
  height: 0.8rem;
  line-height: 0.4rem;
  display: inline-block;
  width: 20%;
  margin-left: 10%;
  text-align: center;
}
.all_school .main_content .all_table_content {
  margin-top: 0.2rem;
}
.all_school .main_content .all_table_content dl {
  background: #E8E8E8;
  padding: 0 0.3rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 0.1rem;
  overflow: hidden;
}
.all_school .main_content .all_table_content dl dt,
.all_school .main_content .all_table_content dl dd {
  font-size: 0.4rem;
  display: inline-block;
  height: 1rem;
  line-height: 1rem;
}
.all_school .main_content .all_table_content dl dt i,
.all_school .main_content .all_table_content dl dd i {
  margin-left: 0.1rem;
  font-size: 0.45rem;
  color: #333;
}
.all_school .main_content .all_table_content dl dt a,
.all_school .main_content .all_table_content dl dd a {
  color: #428bca;
  font-size: 0.4rem;
}
.all_school .main_content .all_table_content dl dt {
  float: left;
}
.all_school .main_content .all_table_content dl dd {
  float: right;
}
/*展示所有学校信息的表格页面*/
.all_school_table {
  overflow-x: hidden;
  overflow-y: auto;
}
.all_school_table .table_title {
  text-align: center;
  padding: 0.2rem 0;
  font-size: 0.45rem;
  font-weight: bold;
  color: #333;
}
.all_school_table .table_title span {
  font-size: 0.35rem;
  color: #999;
  font-weight: normal;
}
.all_school_table .table-box {
  padding-bottom: 0.5rem;
  border: 0;
}
.all_school_table .table_all {
  color: #333;
}
.all_school_table .click_more {
  background: white;
  width: 100%;
  z-index: 8;
  display: none;
  text-align: center;
}
.all_school_table .click_more span {
  display: inline-block;
  padding: 0.2rem 0.5rem 0.3rem;
  color: black;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
.all_school_table .click_more.active {
  position: absolute;
  left: 0;
  bottom: 0;
}
/*如果是移动端所跳转的设置页面*/
.PersonalSet {
  width: 100%;
}
.PersonalSet .Con_Main {
  padding-top: 0;
}
.PersonalSet header {
  height: 1.1rem;
  line-height: 1.1rem;
  text-align: center;
  background: #E2E2E2;
  font-size: 0.5rem;
}
.PersonalSet .shezhiUl {
  width: 100%;
  padding: 0.2rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.PersonalSet .shezhiUl li {
  border-bottom: 1px dotted #E7E7E7;
  overflow: hidden;
  padding: 0.2rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.PersonalSet .shezhiUl li a {
  color: #444;
  font-size: 0.45rem;
}
.PersonalSet .shezhiUl li a i {
  font-size: 0.5rem;
}
.PersonalSet .shezhiUl li a i:first-child,
.PersonalSet .shezhiUl li a span {
  margin-right: 0.3rem;
  float: left;
}
.PersonalSet .shezhiUl li a i:last-child {
  float: right;
}
/*# sourceMappingURL=products.css.map */
