html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dd,
dl,
dt,
li,
ol,
ul,
fieldset,
form,
label,
legend {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
img {
  border: none;
}
p {
  margin-bottom: 0;
}
body,
a,
input,
select,
button {
  font-family: "Microsoft Yahei", "Droid Sans Fallback", "Arial", "Helvetica", "sans-serif", "宋体";
  font-size: 14px;
  outline: none;
  color: #666;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);/*去除获取焦点时半透明背景*/
}
ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
a {
  color: #428bca;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
table {
  text-align: center;
  vertical-align: middle;
}
th {
  text-align: center;
  vertical-align: middle;
}
@media only screen and (min-width: 1441px) {
  html {
    font-size: 120px;
  }
}
@media (max-width: 1442px) {
  html {
    font-size: 120px;
  }
}
@media (max-width: 1282px) {
  html {
    font-size: 106.66666666666667px;
  }
}
@media (max-width: 1026px) {
  html {
    font-size: 85.33333333333333px;
  }
}
@media (max-width: 962px) {
  html {
    font-size: 80px;
  }
}
@media (max-width: 952px) {
  html {
    font-size: 79.16666666666667px;
  }
}
@media (max-width: 902px) {
  html {
    font-size: 75px;
  }
}
@media (max-width: 802px) {
  html {
    font-size: 66.66666666666667px;
  }
}
@media (max-width: 775px) {
  html {
    font-size: 64.41666666666667px;
  }
}
@media (max-width: 770px) {
  html {
    font-size: 64px;
  }
}
@media (max-width: 738px) {
  html {
    font-size: 61.333333333333336px;
  }
}
@media (max-width: 734px) {
  html {
    font-size: 61px;
  }
}
@media (max-width: 733px) {
  html {
    font-size: 60.916666666666664px;
  }
}
@media (max-width: 669px) {
  html {
    font-size: 55.583333333333336px;
  }
}
@media (max-width: 642px) {
  html {
    font-size: 53.333333333333336px;
  }
}
@media (max-width: 602px) {
  html {
    font-size: 50px;
  }
}
@media (max-width: 570px) {
  html {
    font-size: 47.333333333333336px;
  }
}
@media (max-width: 535px) {
  html {
    font-size: 44.416666666666664px;
  }
}
@media (max-width: 437px) {
  html {
    font-size: 36.25px;
  }
}
@media (max-width: 416px) {
  html {
    font-size: 34.5px;
  }
}
@media (max-width: 413px) {
  html {
    font-size: 34.25px;
  }
}
@media (max-width: 386px) {
  html {
    font-size: 32px;
  }
}
@media (max-width: 377px) {
  html {
    font-size: 31.25px;
  }
}
@media (max-width: 362px) {
  html {
    font-size: 30px;
  }
}
@media (max-width: 322px) {
  html {
    font-size: 26.666666666666668px;
  }
}
.text_no_select {
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
.box-shadow-round {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.self_flex_content { /*定义父元素*/
  display: box;/*（伸缩盒最老版本）*/
  display: -webkit-box;/* iOS 6-, Safari 3.1-6 */
  display: -webkit-flex;/* Chrome */
  display: -moz-box;/* Firefox 19 */
  display: -ms-flexbox;
  display: flex;/*flex容器*/
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
}
/*去掉input默认上下箭头*/
.input_jiantou_hide input::-webkit-outer-spin-button,
.input_jiantou_hide input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.input_jiantou_hide input[type="number"] {
  -moz-appearance: textfield;
}
.input_jiantou_hide input {
  -webkit-appearance: none;
/*去除input默认样式*/ }
.input_jiantou_hide input[type="submit"],
.input_jiantou_hide input[type="reset"],
.input_jiantou_hide input[type="button"],
.input_jiantou_hide input {
  -webkit-appearance: none;
}
.input_jiantou_hide input::-ms-clear {
  display: none;
}
.select_jiantou_hide {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
}
.select_jiantou_hide::-ms-expand {
  display: none;
}
.AnimationRotate360 {
  -webkit-animation: Rotating 1s linear infinite;
  -moz-animation: Rotating 1s linear infinite;
  -ms-animation: Rotating 1s linear infinite;
  animation: Rotating 1s linear infinite;
}
@keyframes Rotating {
  from {
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
@-webkit-keyframes Rotating {
  from {
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
@-moz-keyframes Rotating {
  from {
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
@-o-keyframes Rotating {
  from {
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
@-ms-keyframes Rotating {
  from {
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
.small_hand {
  cursor: pointer;
}
/*超出隐藏另外加宽*/
.hideellipsis,
.widthHide2 {
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
}
.Rotate_180 {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  display: inline-block;
}
.Rotate_90 {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  display: inline-block;
}
.Rotate_45 {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  display: inline-block;
}
.Rotate_45_ {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  display: inline-block;
}
.Commonpadding {
  padding: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.Commonpadding2 {
  padding: 0 14px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.maxWidthCommon {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  overflow: hidden;
  margin: 0 auto;
  min-width: 1000px;
  position: relative;
}
a {
  text-decoration: none !important;
}
html,
body {
  width: 100%;
  height: 100%;
  color: white;
  overflow-x: hidden;
  font-family: "微软雅黑";
  overflow-y: auto;
}
.mouseCSS {
  width: 100%;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  overflow-x: hidden;
}
.ContainerWarp2 {
  max-width: auto;
}
.ContainerWarp {
  font-size: 14px;
  color: #333;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background: white;
}
.ContainerWarp .header {
  overflow: hidden;
  width: 100%;
  height: 120px;
}
.ContainerWarp .header .header_tp {
  width: 100%;
  height: 30px;
  overflow: hidden;
  border-bottom: 1px solid #e2e2e2;
  padding: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #f7f7f7;
}
.ContainerWarp .header .header_tp > .maxWidthCommon > .header_tp_list {
  display: inline-block;
  text-decoration: none;
  float: right;
  padding: 0 20px;
  border-right: 1px solid #888;
  height: 16px;
  line-height: 16px;
  margin-top: 7px;
  position: relative;
}
.ContainerWarp .header .header_tp > .maxWidthCommon > .header_tp_list.differentColor a {
  color: #00a1e9;
}
.ContainerWarp .header .header_tp > .maxWidthCommon > .header_tp_list.listMessage,
.ContainerWarp .header .header_tp > .maxWidthCommon > .header_tp_list.listNews,
.ContainerWarp .header .header_tp > .maxWidthCommon > .header_tp_list > .system_out {
  display: none;
}
.ContainerWarp .header .header_tp > .maxWidthCommon > .header_tp_list.listtips_y:after {
  position: absolute;
  top: -8px;
  left: 66%;
  content: '·';
  color: red;
  font-weight: bold;
}
.ContainerWarp .header .header_tp > .maxWidthCommon > .header_tp_list > a {
  font-size: 12px;
  color: #666;
}
.ContainerWarp .header .header_tp > .maxWidthCommon > .header_tp_list:last-child {
  border-left: 1px solid #888;
}
.ContainerWarp .header .header_bt {
  background: white;
  overflow: hidden;
  padding: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 90px;
}
.ContainerWarp .header .header_bt .header_bt_logo {
  float: left;
  overflow: hidden;
  display: block;
}
.ContainerWarp .header .header_bt .header_bt_logo > img {
  height: 54px;
  margin-top: 16px;
}
.ContainerWarp .header .header_bt .header_bt_nav {
  float: right;
  overflow: hidden;
  width: 70%;
}
.ContainerWarp .header .header_bt .header_bt_nav > .nav_ul {
  overflow: hidden;
  float: right;
  margin-top: 10px;
  height: 70px;
}
.ContainerWarp .header .header_bt .header_bt_nav > .nav_ul > li {
  float: left;
  margin: 0 35px 0 15px;
  width: 62px;
  height: 70px;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ContainerWarp .header .header_bt .header_bt_nav > .nav_ul > li:hover > a {
  color: #3781C6;
}
.ContainerWarp .header .header_bt .header_bt_nav > .nav_ul > li > a {
  font-size: 14px;
  width: 62px;
  height: 70px;
  padding-top: 48px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #333;
  display: block;
}
.ContainerWarp .header .header_bt .header_bt_nav > .nav_ul > li > a > span {
  display: block;
  width: 62px;
  height: 22px;
}
.ContainerWarp .header .header_bt .header_bt_nav > .nav_ul > li:nth-of-type(1) > a {
  background: url('../img/icon_headernav/nav0.png') 7px 0 no-repeat;
  background-size: 48px 48px;
}
.ContainerWarp .header .header_bt .header_bt_nav > .nav_ul > li:nth-of-type(1):hover > a,
.ContainerWarp .header .header_bt .header_bt_nav > .nav_ul > li.active_li1 > a {
  background: url('../img/icon_headernav/nav0_on.png') 7px 0 no-repeat;
  background-size: 48px 48px;
}
.ContainerWarp .header .header_bt .header_bt_nav > .nav_ul > li:nth-of-type(2) > a {
  background: url('../img/icon_headernav/nav1.png') 7px 0 no-repeat;
  background-size: 48px 48px;
}
.ContainerWarp .header .header_bt .header_bt_nav > .nav_ul > li:nth-of-type(2):hover > a,
.ContainerWarp .header .header_bt .header_bt_nav > .nav_ul > li.active_li2 > a {
  background: url('../img/icon_headernav/nav1_on.png') 7px 0 no-repeat;
  background-size: 48px 48px;
}
.ContainerWarp .header .header_bt .header_bt_nav > .nav_ul > li:nth-of-type(3) > a {
  background: url('../img/icon_headernav/nav3.png') 7px 0 no-repeat;
  background-size: 48px 48px;
}
.ContainerWarp .header .header_bt .header_bt_nav > .nav_ul > li:nth-of-type(3):hover > a,
.ContainerWarp .header .header_bt .header_bt_nav > .nav_ul > li.active_li4 > a {
  background: url('../img/icon_headernav/nav3_on.png') 7px 0 no-repeat;
  background-size: 48px 48px;
}
.ContainerWarp .header .header_bt .header_bt_nav > .nav_ul > li:nth-of-type(4) > a {
  background: url('../img/icon_headernav/nav2.png') 7px 0 no-repeat;
  background-size: 48px 48px;
}
.ContainerWarp .header .header_bt .header_bt_nav > .nav_ul > li:nth-of-type(5):hover > a,
.ContainerWarp .header .header_bt .header_bt_nav > .nav_ul > li.active_li3 > a {
  background: url('../img/icon_headernav/nav2_on.png') 7px 0 no-repeat;
  background-size: 48px 48px;
}
.ContainerWarp .header .header_bt .header_bt_nav > .nav_ul > li:nth-of-type(5) > a {
  background: url('../img/icon_headernav/nav4.png') 7px 0 no-repeat;
  background-size: 48px 48px;
}
.ContainerWarp .header .header_bt .header_bt_nav > .nav_ul > li:nth-of-type(5):hover > a,
.ContainerWarp .header .header_bt .header_bt_nav > .nav_ul > li.active_li5 > a {
  background: url('../img/icon_headernav/nav4_on.png') 7px 0 no-repeat;
  background-size: 48px 48px;
}
.ContainerWarp .header .header_bt .header_bt_nav > .nav_ul > li:nth-of-type(6) > a {
  background: url('../img/icon_headernav/nav5.png') 7px 0 no-repeat;
  background-size: 48px 48px;
}
.ContainerWarp .header .header_bt .header_bt_nav > .nav_ul > li:nth-of-type(6):hover > a,
.ContainerWarp .header .header_bt .header_bt_nav > .nav_ul > li.active_li6 > a {
  background: url('../img/icon_headernav/nav5_on.png') 7px 0 no-repeat;
  background-size: 48px 48px;
}
.ContainerWarp .header .header_bt .header_bt_nav > .nav_ul > li:nth-of-type(7) > a {
  background: url('../img/icon_headernav/nav6.png') 7px 0 no-repeat;
  background-size: 48px 48px;
}
.ContainerWarp .header .header_bt .header_bt_nav > .nav_ul > li:nth-of-type(7):hover > a,
.ContainerWarp .header .header_bt .header_bt_nav > .nav_ul > li.active_li7 > a {
  background: url('../img/icon_headernav/nav6_on.png') 7px 0 no-repeat;
  background-size: 48px 48px;
}
.ContainerWarp .header .header_bt .header_bt_nav > .nav_ul > li:nth-of-type(8) > a {
  background: url('../img/icon_headernav/nav7.png') 7px 0 no-repeat;
  background-size: 48px 48px;
}
.ContainerWarp .header .header_bt .header_bt_nav > .nav_ul > li:nth-of-type(8):hover > a,
.ContainerWarp .header .header_bt .header_bt_nav > .nav_ul > li.active_li8 > a {
  background: url('../img/icon_headernav/nav7_on.png') 7px 0 no-repeat;
  background-size: 48px 48px;
}
.ContainerWarp .header .header_bt2 {
  background: white;
  overflow: hidden;
  padding: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 90px;
  position: relative;
}
.ContainerWarp .header .header_bt2 .header_bt_logo {
  overflow: hidden;
  display: block;
  width: 182px;
  height: 90px;
  position: absolute;
  top: 0;
  left: 10px;
  z-index: 5;
}
.ContainerWarp .header .header_bt2 .header_bt_logo > img {
  height: 39px;
  width: 162px;
  margin-top: 26px;
}
.ContainerWarp .header .header_bt2 .header_bt_nav {
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 0 190px 0 210px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ContainerWarp .header .header_bt2 .header_bt_nav > .nav_ul {
  overflow: hidden;
  float: left;
  width: 100%;
  margin-top: 31px;
  height: 28px;
}
.ContainerWarp .header .header_bt2 .header_bt_nav > .nav_ul > li {
  float: left;
  width: auto;
  height: 28px;
  line-height: 28px;
  padding: 0 22px;
  border-right: 1px solid #cccccc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ContainerWarp .header .header_bt2 .header_bt_nav > .nav_ul > li:last-child {
  border-right: 0;
}
.ContainerWarp .header .header_bt2 .header_bt_nav > .nav_ul > li.active_li,
.ContainerWarp .header .header_bt2 .header_bt_nav > .nav_ul > li:hover {
  background: url('../img/nav_on.png') 8px center no-repeat;
  background-size: 6px 6px;
}
.ContainerWarp .header .header_bt2 .header_bt_nav > .nav_ul > li.active_li > a,
.ContainerWarp .header .header_bt2 .header_bt_nav > .nav_ul > li:hover > a {
  color: #00A1E9;
}
.ContainerWarp .header .header_bt2 .header_bt_nav > .nav_ul > li > a {
  font-size: 15px;
  color: #333;
  display: inline-block;
}
.ContainerWarp .header .header_bt2 .header_bt_nav > .platform_lists {
  position: absolute;
  top: 0;
  right: 0px;
  width: 190px;
  height: 100%;
}
.ContainerWarp .header .header_bt2 .header_bt_nav > .platform_lists > a {
  display: block;
  float: right;
  width: 87px;
  height: 40px;
  line-height: 40px;
  margin-top: 25px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}
.ContainerWarp .header .header_bt2 .header_bt_nav > .platform_lists > a:last-child {
  border: 1px solid #2fbfff;
  color: #2fbfff;
}
.ContainerWarp .header .header_bt2 .header_bt_nav > .platform_lists > a:first-child {
  border: 1px solid #fd8731;
  color: #fd8731;
  margin-left: 13px;
}
/*header3的样式*/
.ContainerWarp .header3 {
  width: 100%;
  height: 150px;
}
.ContainerWarp .header3 .header_tp {
  width: 100%;
  height: 30px;
  overflow: hidden;
  border-bottom: 1px solid #e2e2e2;
  padding: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #f7f7f7;
}
.ContainerWarp .header3 .header_tp > .maxWidthCommon > a {
  display: inline-block;
  text-decoration: none;
  float: right;
  font-size: 12px;
  color: #666;
  padding: 0 20px;
  border-right: 1px solid #888;
  height: 16px;
  line-height: 16px;
  margin-top: 7px;
}
.ContainerWarp .header3 .header_tp > .maxWidthCommon > a:last-child {
  border-left: 1px solid #888;
}
.ContainerWarp .header3 .header_tp > .maxWidthCommon > a.system_out {
  display: none;
}
.ContainerWarp .header3 .header_ct3 {
  background: white;
  overflow: hidden;
  padding: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 80px;
  position: relative;
}
.ContainerWarp .header3 .header_ct3 .header_bt_logo {
  float: left;
  overflow: hidden;
  display: block;
  width: 170px;
  height: 80px;
}
.ContainerWarp .header3 .header_ct3 .header_bt_logo > img {
  height: 39px;
  width: 162px;
  margin-top: 20px;
}
.ContainerWarp .header3 .header_ct3 .header_bt_logo_small {
  float: left;
  overflow: hidden;
  display: block;
  width: auto;
  height: 80px;
}
.ContainerWarp .header3 .header_ct3 .header_bt_logo_small > img {
  height: 29px;
  margin-top: 21px;
}
.ContainerWarp .header3 .header_bt3 {
  width: 100%;
  height: 40px;
  background: #00a2e8;
}
.ContainerWarp .header3 .header_bt3 .nav_list_ul {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  overflow: hidden;
  margin: 0 auto;
  min-width: 1000px;
  position: relative;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 40px;
  overflow: visible;
}
.ContainerWarp .header3 .header_bt3 .nav_list_ul > li {
  float: left;
  position: relative;
  width: 110px;
  height: 40px;
}
.ContainerWarp .header3 .header_bt3 .nav_list_ul > li:hover,
.ContainerWarp .header3 .header_bt3 .nav_list_ul > li.active_li {
  background: #35bdff;
}
.ContainerWarp .header3 .header_bt3 .nav_list_ul > li:hover .nav_list_child {
  display: block;
}
.ContainerWarp .header3 .header_bt3 .nav_list_ul > li a {
  display: inline-block;
  text-align: center;
  font-size: 16px;
  color: white;
}
.ContainerWarp .header3 .header_bt3 .nav_list_ul > li > a {
  width: 100%;
  height: 40px;
  line-height: 40px;
}
.ContainerWarp .header3 .header_bt3 .nav_list_ul > li > .nav_list_child {
  position: absolute;
  top: 40px;
  left: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: none;
  z-index: 10;
  overflow: hidden;
}
.ContainerWarp .header3 .header_bt3 .nav_list_ul > li > .nav_list_child > dd {
  width: 110px;
  height: 40px;
  line-height: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 20px;
  overflow: hidden;
  background: #35bdff;
  position: relative;
  border-top: 1px solid #7cd6ff;
}
.ContainerWarp .header3 .header_bt3 .nav_list_ul > li > .nav_list_child > dd:before {
  content: '·';
  color: white;
  text-align: center;
  width: 20px;
  height: 40px;
  line-height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 6;
}
.ContainerWarp .header3 .header_bt3 .nav_list_ul > li > .nav_list_child > dd:hover {
  background: #0180b9;
}
.ContainerWarp .header3 .header_bt3 .nav_list_ul > li > .nav_list_child > dd > a {
  font-size: 16px;
}
.ContainerWarp .Con_Main {
  width: 100%;
  overflow: hidden;
}
.ContainerWarp .Con_Main .asideNav_banner_box {
  overflow: hidden;
  width: 100%;
}
.ContainerWarp .Con_Main .asideNav_banner_box .banner_AsideNav_content {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.ContainerWarp .Con_Main .asideNav_banner_box .banner_AsideNav_content .banner_box {
  width: 100%;
  overflow: hidden;
}
.ContainerWarp .Con_Main .asideNav_banner_box .banner_AsideNav_content .AsideNav_box {
  display: none;
}
.ContainerWarp .Con_Main .MainContent {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  overflow: hidden;
  margin: 0 auto;
  min-width: 1000px;
  position: relative;
}
.ContainerWarp .footer {
  width: 100%;
  padding: 0px;
  height: 100px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 30px;
  overflow: hidden;
  background: #f5f6f8;
}
.ContainerWarp .footer .footer_lt {
  float: left;
  width: 38%;
  text-align: right;
  height: 40px;
  overflow: hidden;
  padding-right: 13px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ContainerWarp .footer .footer_lt > a {
  display: inline-block;
  height: 100%;
}
.ContainerWarp .footer .footer_lt > a > img {
  height: 100%;
}
.ContainerWarp .footer .footer_rt {
  float: right;
  width: 62%;
  padding-left: 13px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ContainerWarp .footer .footer_rt > p {
  font-size: 12px;
  text-align: left;
  color: #666;
  display: block;
  height: 20px;
  line-height: 20px;
}
.ContainerWarp .footer2 {
  width: 100%;
  height: 100px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 22px;
  overflow: hidden;
}
.ContainerWarp .footer2 > p {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  overflow: hidden;
  margin: 0 auto;
  min-width: 1000px;
  position: relative;
  font-size: 12px;
  text-align: center;
  color: #666;
  display: block;
  height: 40px;
  line-height: 40px;
}
/*自定义样式*/
.border_tp {
  border-top: 1px solid #E1E1E1;
}
.border_rt {
  border-right: 1px solid #E1E1E1;
}
.border_bt {
  border-bottom: 1px solid #E1E1E1;
}
.border_lt {
  border-left: 1px solid #E1E1E1;
}
.Commonpadding2 {
  padding: 0 14px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.colorfs1 {
  color: #404040;
  font-size: 14px;
}
.border_all {
  border: 1px solid #E1E1E1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 10px 0;
}
.bg_white {
  background: white;
}
.button1 {
  margin-right: 10px;
  background: #3781c6;
  font-size: 14px;
  color: white;
  padding: 5px 15px;
  outline: none;
  border: none;
}
.overflowellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
}
/*小导航栏*/
.ContainerWarp .Con_Main {
  height: auto;
  overflow: hidden;
}
.ContainerWarp .Con_Main .contentNav {
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  min-width: 1000px;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 40px;
  line-height: 40px;
  border-top: 1px solid #E1E1E1;
  border-bottom: 1px solid #E1E1E1;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ContainerWarp .Con_Main .contentNav span,
.ContainerWarp .Con_Main .contentNav a {
  display: inline-block;
  float: left;
}
.ContainerWarp .Con_Main .contentNav .span_1,
.ContainerWarp .Con_Main .contentNav .span_2 {
  margin-right: 6px;
  background-size: 100% 100%;
}
.ContainerWarp .Con_Main .contentNav .span_1 {
  background: url(../img/icon_1.png) no-repeat;
  margin-top: 12px;
  width: 16px;
  height: 16px;
}
.ContainerWarp .Con_Main .contentNav .span_2 {
  background: url(../img/arrow.png) no-repeat;
  background-size: 100% 100%;
  margin-top: 16px;
  width: 5px;
  height: 7px;
  margin-left: 8px;
  margin-right: 8px;
}
.ContainerWarp .Con_Main .contentNav .span_text {
  font-size: 14px;
  color: #868686;
}
.ContainerWarp .Con_Main .contentNav .span_text:last-child {
  color: #404040;
}
.ContainerWarp .Con_Main .contentCenter {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  overflow: hidden;
  margin: 0 auto;
  min-width: 1000px;
  position: relative;
}
/*公共button样式*/
/*大按钮样式，比如保存取消*/
.button_box > button {
  margin-right: 10px;
  background: #3781c6;
  font-size: 14px;
  color: white;
  padding: 5px 15px;
  outline: none;
  border: none;
}
.button_box > button:last-child {
  margin-right: 0;
}
.button_box > button:hover {
  background: #4c9dd6;
}
.button_box > .bg_color {
  background: #509734;
}
.button_box > .bg_color:hover {
  background: #71b43e;
}
/*按钮的统一颜色*/
.Btn_box > button {
  background: #3781c6;
}
.Btn_box > button:hover {
  background: #4c9dd6;
}
/*分页start*/
.page_box {
  overflow: hidden;
  padding-bottom: 10px;
  margin-top: 16px;
}
.page_box .page_box_tips {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 14px;
  height: 29px;
  line-height: 29px;
}
.page_box .pageOne {
  width: 100%;
  text-align: right;
  overflow: hidden;
  display: inline-block;/*float: right;*/
  list-style: none;
}
.page_box .pageOne > li {
  display: inline-block;
  width: 32px;
  height: 29px;
  line-height: 29px;
  text-align: center;
  cursor: pointer;
  font-size: 12px;
}
.page_box .pageOne li:nth-of-type(1),
.page_box .pageOne li:nth-of-type(2),
.page_box .pageOne li:nth-last-child(1),
.page_box .pageOne li:nth-last-child(2) {
  width: auto;
  padding: 0 12px;
}
.page_box .pageOne .pageItem {
  border: 1px solid #8e8e8e;
  margin: 4px;
  color: #404040;
}
.page_box .pageOne .pageItemActive {
  border: 1px solid #8e8e8e;
  margin: 4px;
  background-color: #3781c6;
  color: white;
}
.page_box .pageOne .pageItemActive:hover {
  background-color: #4c9dd6;
}
.page_box .pageOne .pageItem:hover {
  border: 1px solid #8e8e8e;
  background-color: #4c9dd6;
  color: white;
}
.page_box .pageOne .pageItemDisable {
  border: 1px solid #8e8e8e;
  margin: 4px;
  background-color: #DDDDDD;
}
/*表格的公共样式 */
.CommonShowTable {
  border-collapse: collapse;
  border: 1px solid #c2c2c2;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  table-layout: fixed;
}
.CommonShowTable tr {
  border-bottom: 1px solid #c2c2c2;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.CommonShowTable tr th,
.CommonShowTable tr td {
  padding: 8px 10px;
  color: #404040;
  font-size: 14px;
}
.CommonShowTable tr th,
.CommonShowTable tr td {
  border-right: 1px solid #c2c2c2;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: normal;
}
.CommonShowTable tr td > a {
  color: #404040;
  font-size: 14px;
  text-decoration: none;
}
.CommonShowTable tr th:last-child,
.CommonShowTable tr td:last-child {
  border-right: 0;
}
.CommonShowTable tr td:last-child > b,
.CommonShowTable tr td:last-child > a {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-top: 7px;
  margin-right: 8px;
}
.CommonShowTable tr td:last-child > b:last-child,
.CommonShowTable tr td:last-child > a:last-child {
  margin-right: 0;
}
.CommonShowTable tr .FixedWidth1 {
  width: 70px !important;
}
.CommonShowTable tr .FixedWidth2 {
  width: 90px !important;
}
.CommonShowTable tr .FixedWidth3 {
  width: 110px !important;
}
/*tr:nth-child(2n+1){ background: #f3f3f4;}*/
.CommonShowTable tr:first-child {
  background: #f3f3f4;
}
.CommonShowTable tr:not(.table_nav):hover {
  background: #eaf2fa;
}
.CommonShowTable tr:last-child {
  border-bottom: 0;
}
/*弹窗页面的公共样式*/
.CommonDialogPage {
  width: 100%;
  overflow: hidden;
  height: 100%;
}
.CommonDialogPage .Common_head {
  padding: 0 20px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 44px;
  line-height: 44px;
  border-bottom: 1px solid #e0e1e1;
}
.CommonDialogPage .Common_head .head_title {
  font-size: 16px;
  color: #404040;
}
.CommonDialogPage .Common_head .closeBtn {
  float: right;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../img/close1.png) no-repeat;
  background-size: 100% 100%;
  margin-top: 14px;
}
.CommonDialogPage .Common_content {
  width: 100%;
  overflow: hidden;
  color: #404040;
  font-size: 14px;
  padding: 0 20px 0px 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*# sourceMappingURL=RL_Common.css.map */
